.main-content-area {
    background-color: #f1f4f5 !important;
    box-sizing: border-box;
}
.main-content-area * {
    box-sizing: border-box;
}
.dashboard-cell {
    padding: 12px;
    background-color: white;
    border: 1px solid #e4eaec;
    box-shadow: 0 1px 1px #0000000d;
    margin: 4px;
    margin-bottom: 12px;
    border-radius: 4px;
}

/**************** MASTER STYLE OVERRIDES STARTS ***********/
.masklayer .loader {
    background: none;
    border: 3px solid #bcfce1;
}
.masklayer .loader::after {
    border-top-color: #007c49;
    width: 30px;
    height: 30px;
    border-bottom-color: transparent;
    animation: spin 0.8s linear infinite;
}
@keyframes spin {
    from {
        transform: translate(-50%, -50%) rotate(0deg);
    }
    to {
        transform: translate(-50%, -50%) rotate(359deg);
    }
}
.masklayer {
    background-color: #ffffff69;
    backdrop-filter: saturate(180%) blur(8px);
}
.masklayer .popup-dg {
    border: 1px solid #e4eaec;
    box-shadow: 0 0 6px 0px #00000017;
}
.masklayer .mask-ask .ask-ok,
.masklayer .mask-error .ask-ok {
    background-color: #00ae66;
}
.masklayer .mask-ask .ask-ok:hover,
.masklayer .mask-error .ask-ok:hover {
    background-color: #007c49;
}

/**************** MASTER STYLE OVERRIDES ENDS ***************/

/**************** Search Panel  ***************/

.button {
    padding: 6px 12px;
    border-radius: 4px;
    border: none;
    background-color: #00ae66;
    color: #fff;
    font-weight: 600;
    line-height: 1.4;
    font-size: 1.1em;
    cursor: pointer;
    text-align: center;
    min-width: 70px;
}
.button:hover {
    background-color: #007c49;
}
.search-button-div {
    display: inline-block;
    justify-content: flex-end;
}
.search-field1,
.search-field2,
.search-field3 {
    display: flex;
    align-items: center;
    border: 1px solid #00ae66;
    border-radius: 4px;
}
.search-box {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.filter-box {
    z-index: 20;
    min-width: 500px;
    min-height: 300px;
}
.inputfield {
    padding: 6px;
    width: 350px;
    border: none !important;
    border-left: 1px solid #00ae66 !important;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
.key-fields {
    font-size: 1rem;
    font-weight: 500;
    text-decoration: none;
    outline: none;
    padding: 2px 6px;
    border-radius: 4px;
    border: none;
}
.search-button-div {
    margin-left: 8px;
}

/**************** Search Panel Ends ***************/

/**************** Zoom Image ***************/

.image-fullscreen-container {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0%;
    left: 0%;
    background-color: #000000ad;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5%;
}

.image-fullscreen-div {
	display: flex;
    justify-content: center;
    width: auto;
    height: 100%;
    flex-direction: column;
}

.image-fullscreen-header {
    display: flex;
    width: auto;
    background-color: #292929;
    justify-content: space-between;
    border-radius: 12px 12px 0px 0px;
    border: 1px solid #fff;
    border-width: 1px 1px 0px 1px;
}

.image-fullscreen-header-left {
	display: flex;
	align-items: center;
    border-radius: inherit;
}

.image-fullscreen-keyvalue {
	color: #fff;
    font-size: 1.25em;
    font-weight:600;
    padding-left: 10px;
    margin: 0px;
}

.image-fullscreen {
    width: auto;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
    min-width: 89%;
    min-height: 100%;
    background-color: #242424;
    border: 1px solid #fff;
    border-width: 0px 1px 1px 1px;
    object-fit: contain;
    border-radius: 0px 0px 12px 12px;
}

.image-close-fullscreen {
    width: 40px;
    height: 40px;
    border-radius: 12px 0px 0px 0px;
    cursor: pointer;
}

.image-close-fullscreen:hover {
	transition: all 0.1s;
	background: #424242
}

.open-in-qc {
	display: flex;
    font-size: 1.1em;
    width: auto;
    color: #fff;
    text-decoration: underline;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding:0px 20px;
}

.zoom-image {
	cursor: pointer;
	transition: all 0.3s;
}

.zoom-image:hover {
	opacity: 0.7;
	filter: brightness(1.2);
}

.widget-scene-canvas {
    width: 100% !important;
    height: 100% !important;
}

.gm-fullscreen-control {
    display: none;
}
/**************** Zoom Image Ends ***************/