﻿/*
 * # Semantic UI - 2.2.12
 * https://github.com/Semantic-Org/Semantic-UI
 * http://www.semantic-ui.com/
 *
 * Copyright 2014 Contributors
 * Released under the MIT license
 * http://opensource.org/licenses/MIT
 *
 * # Semantic UI 2.2.12 - Reset
 * http://github.com/semantic-org/semantic-ui/
 *
 *
 * Released under the MIT license
 * http://opensource.org/licenses/MIT
 *
 */
/*
.ui.grid {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    padding: 0
}

.ui.relaxed.grid {
    margin-left: -1.5rem;
    margin-right: -1.5rem
}

.ui[class*="very relaxed"].grid {
    margin-left: -2.5rem;
    margin-right: -2.5rem
}

.ui.grid + .grid {
    margin-top: 1rem
}

.ui.grid > .column:not(.row), .ui.grid > .row > .column {
    position: relative;
    display: inline-block;
    width: 6.25%;
    padding-left: 1rem;
    padding-right: 1rem;
    vertical-align: top
}

.ui.grid > * {
    padding-left: 1rem;
    padding-right: 1rem
}

.ui.grid > .row {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: inherit;
    -ms-flex-pack: inherit;
    justify-content: inherit;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    width: 100% !important;
    padding: 0;
    padding-top: 1rem;
    padding-bottom: 1rem
}

.ui.grid > .column:not(.row) {
    padding-top: 1rem;
    padding-bottom: 1rem
}

.ui.grid > .row > .column {
    margin-top: 0;
    margin-bottom: 0
}

    .ui.grid > .row > .column > img, .ui.grid > .row > img {
        max-width: 100%
    }

.ui.grid > .ui.grid:first-child {
    margin-top: 0
}

.ui.grid > .ui.grid:last-child {
    margin-bottom: 0
}

.ui.aligned.grid .column > .segment:not(.compact):not(.attached), .ui.grid .aligned.row > .column > .segment:not(.compact):not(.attached) {
    width: 100%
}

.ui.grid .row + .ui.divider {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    margin: 1rem 1rem
}

.ui.grid .column + .ui.vertical.divider {
    height: calc(50% - 1rem)
}

.ui.grid > .column:last-child > .horizontal.segment, .ui.grid > .row > .column:last-child > .horizontal.segment {
    box-shadow: none
}

@media only screen and (max-width: 767px) {
    .ui.page.grid {
        width: auto;
        padding-left: 0;
        padding-right: 0;
        margin-left: 0;
        margin-right: 0
    }
}

@media only screen and (min-width: 768px) and (max-width:991px) {
    .ui.page.grid {
        width: auto;
        margin-left: 0;
        margin-right: 0;
        padding-left: 2em;
        padding-right: 2em
    }
}

@media only screen and (min-width: 992px) and (max-width:1199px) {
    .ui.page.grid {
        width: auto;
        margin-left: 0;
        margin-right: 0;
        padding-left: 3%;
        padding-right: 3%
    }
}

@media only screen and (min-width: 1200px) and (max-width:1919px) {
    .ui.page.grid {
        width: auto;
        margin-left: 0;
        margin-right: 0;
        padding-left: 15%;
        padding-right: 15%
    }
}

@media only screen and (min-width: 1920px) {
    .ui.page.grid {
        width: auto;
        margin-left: 0;
        margin-right: 0;
        padding-left: 23%;
        padding-right: 23%
    }
}

.ui.grid > .column:only-child, .ui.grid > .row > .column:only-child {
    width: 100%
}

.ui[class*="one column"].grid > .column:not(.row), .ui[class*="one column"].grid > .row > .column {
    width: 100%
}

.ui[class*="two column"].grid > .column:not(.row), .ui[class*="two column"].grid > .row > .column {
    width: 50%
}

.ui[class*="three column"].grid > .column:not(.row), .ui[class*="three column"].grid > .row > .column {
    width: 33.33333333%
}

.ui[class*="four column"].grid > .column:not(.row), .ui[class*="four column"].grid > .row > .column {
    width: 25%
}

.ui[class*="five column"].grid > .column:not(.row), .ui[class*="five column"].grid > .row > .column {
    width: 20%
}

.ui[class*="six column"].grid > .column:not(.row), .ui[class*="six column"].grid > .row > .column {
    width: 16.66666667%
}

.ui[class*="seven column"].grid > .column:not(.row), .ui[class*="seven column"].grid > .row > .column {
    width: 14.28571429%
}

.ui[class*="eight column"].grid > .column:not(.row), .ui[class*="eight column"].grid > .row > .column {
    width: 12.5%
}

.ui[class*="nine column"].grid > .column:not(.row), .ui[class*="nine column"].grid > .row > .column {
    width: 11.11111111%
}

.ui[class*="ten column"].grid > .column:not(.row), .ui[class*="ten column"].grid > .row > .column {
    width: 10%
}

.ui[class*="eleven column"].grid > .column:not(.row), .ui[class*="eleven column"].grid > .row > .column {
    width: 9.09090909%
}

.ui[class*="twelve column"].grid > .column:not(.row), .ui[class*="twelve column"].grid > .row > .column {
    width: 8.33333333%
}

.ui[class*="thirteen column"].grid > .column:not(.row), .ui[class*="thirteen column"].grid > .row > .column {
    width: 7.69230769%
}

.ui[class*="fourteen column"].grid > .column:not(.row), .ui[class*="fourteen column"].grid > .row > .column {
    width: 7.14285714%
}

.ui[class*="fifteen column"].grid > .column:not(.row), .ui[class*="fifteen column"].grid > .row > .column {
    width: 6.66666667%
}

.ui[class*="sixteen column"].grid > .column:not(.row), .ui[class*="sixteen column"].grid > .row > .column {
    width: 6.25%
}

.ui.grid > [class*="one column"].row > .column {
    width: 100% !important
}

.ui.grid > [class*="two column"].row > .column {
    width: 50% !important
}

.ui.grid > [class*="three column"].row > .column {
    width: 33.33333333% !important
}

.ui.grid > [class*="four column"].row > .column {
    width: 25% !important
}

.ui.grid > [class*="five column"].row > .column {
    width: 20% !important
}

.ui.grid > [class*="six column"].row > .column {
    width: 16.66666667% !important
}

.ui.grid > [class*="seven column"].row > .column {
    width: 14.28571429% !important
}

.ui.grid > [class*="eight column"].row > .column {
    width: 12.5% !important
}

.ui.grid > [class*="nine column"].row > .column {
    width: 11.11111111% !important
}

.ui.grid > [class*="ten column"].row > .column {
    width: 10% !important
}

.ui.grid > [class*="eleven column"].row > .column {
    width: 9.09090909% !important
}

.ui.grid > [class*="twelve column"].row > .column {
    width: 8.33333333% !important
}

.ui.grid > [class*="thirteen column"].row > .column {
    width: 7.69230769% !important
}

.ui.grid > [class*="fourteen column"].row > .column {
    width: 7.14285714% !important
}

.ui.grid > [class*="fifteen column"].row > .column {
    width: 6.66666667% !important
}

.ui.grid > [class*="sixteen column"].row > .column {
    width: 6.25% !important
}

.ui.celled.page.grid {
    box-shadow: none
}

.ui.column.grid > [class*="one wide"].column, .ui.grid > .column.row > [class*="one wide"].column, .ui.grid > .row > [class*="one wide"].column, .ui.grid > [class*="one wide"].column {
    width: 6.25% !important
}

.ui.column.grid > [class*="two wide"].column, .ui.grid > .column.row > [class*="two wide"].column, .ui.grid > .row > [class*="two wide"].column, .ui.grid > [class*="two wide"].column {
    width: 12.5% !important
}

.ui.column.grid > [class*="three wide"].column, .ui.grid > .column.row > [class*="three wide"].column, .ui.grid > .row > [class*="three wide"].column, .ui.grid > [class*="three wide"].column {
    width: 18.75% !important
}

.ui.column.grid > [class*="four wide"].column, .ui.grid > .column.row > [class*="four wide"].column, .ui.grid > .row > [class*="four wide"].column, .ui.grid > [class*="four wide"].column {
    width: 25% !important
}

.ui.column.grid > [class*="five wide"].column, .ui.grid > .column.row > [class*="five wide"].column, .ui.grid > .row > [class*="five wide"].column, .ui.grid > [class*="five wide"].column {
    width: 31.25% !important
}

.ui.column.grid > [class*="six wide"].column, .ui.grid > .column.row > [class*="six wide"].column, .ui.grid > .row > [class*="six wide"].column, .ui.grid > [class*="six wide"].column {
    width: 37.5% !important
}

.ui.column.grid > [class*="seven wide"].column, .ui.grid > .column.row > [class*="seven wide"].column, .ui.grid > .row > [class*="seven wide"].column, .ui.grid > [class*="seven wide"].column {
    width: 43.75% !important
}

.ui.column.grid > [class*="eight wide"].column, .ui.grid > .column.row > [class*="eight wide"].column, .ui.grid > .row > [class*="eight wide"].column, .ui.grid > [class*="eight wide"].column {
    width: 50% !important
}

.ui.column.grid > [class*="nine wide"].column, .ui.grid > .column.row > [class*="nine wide"].column, .ui.grid > .row > [class*="nine wide"].column, .ui.grid > [class*="nine wide"].column {
    width: 56.25% !important
}

.ui.column.grid > [class*="ten wide"].column, .ui.grid > .column.row > [class*="ten wide"].column, .ui.grid > .row > [class*="ten wide"].column, .ui.grid > [class*="ten wide"].column {
    width: 62.5% !important
}

.ui.column.grid > [class*="eleven wide"].column, .ui.grid > .column.row > [class*="eleven wide"].column, .ui.grid > .row > [class*="eleven wide"].column, .ui.grid > [class*="eleven wide"].column {
    width: 68.75% !important
}

.ui.column.grid > [class*="twelve wide"].column, .ui.grid > .column.row > [class*="twelve wide"].column, .ui.grid > .row > [class*="twelve wide"].column, .ui.grid > [class*="twelve wide"].column {
    width: 75% !important
}

.ui.column.grid > [class*="thirteen wide"].column, .ui.grid > .column.row > [class*="thirteen wide"].column, .ui.grid > .row > [class*="thirteen wide"].column, .ui.grid > [class*="thirteen wide"].column {
    width: 81.25% !important
}

.ui.column.grid > [class*="fourteen wide"].column, .ui.grid > .column.row > [class*="fourteen wide"].column, .ui.grid > .row > [class*="fourteen wide"].column, .ui.grid > [class*="fourteen wide"].column {
    width: 87.5% !important
}

.ui.column.grid > [class*="fifteen wide"].column, .ui.grid > .column.row > [class*="fifteen wide"].column, .ui.grid > .row > [class*="fifteen wide"].column, .ui.grid > [class*="fifteen wide"].column {
    width: 93.75% !important
}

.ui.column.grid > [class*="sixteen wide"].column, .ui.grid > .column.row > [class*="sixteen wide"].column, .ui.grid > .row > [class*="sixteen wide"].column, .ui.grid > [class*="sixteen wide"].column {
    width: 100% !important
}

@media only screen and (min-width: 320px) and (max-width:767px) {
    .ui.column.grid > [class*="one wide mobile"].column, .ui.grid > .column.row > [class*="one wide mobile"].column, .ui.grid > .row > [class*="one wide mobile"].column, .ui.grid > [class*="one wide mobile"].column {
        width: 6.25% !important
    }

    .ui.column.grid > [class*="two wide mobile"].column, .ui.grid > .column.row > [class*="two wide mobile"].column, .ui.grid > .row > [class*="two wide mobile"].column, .ui.grid > [class*="two wide mobile"].column {
        width: 12.5% !important
    }

    .ui.column.grid > [class*="three wide mobile"].column, .ui.grid > .column.row > [class*="three wide mobile"].column, .ui.grid > .row > [class*="three wide mobile"].column, .ui.grid > [class*="three wide mobile"].column {
        width: 18.75% !important
    }

    .ui.column.grid > [class*="four wide mobile"].column, .ui.grid > .column.row > [class*="four wide mobile"].column, .ui.grid > .row > [class*="four wide mobile"].column, .ui.grid > [class*="four wide mobile"].column {
        width: 25% !important
    }

    .ui.column.grid > [class*="five wide mobile"].column, .ui.grid > .column.row > [class*="five wide mobile"].column, .ui.grid > .row > [class*="five wide mobile"].column, .ui.grid > [class*="five wide mobile"].column {
        width: 31.25% !important
    }

    .ui.column.grid > [class*="six wide mobile"].column, .ui.grid > .column.row > [class*="six wide mobile"].column, .ui.grid > .row > [class*="six wide mobile"].column, .ui.grid > [class*="six wide mobile"].column {
        width: 37.5% !important
    }

    .ui.column.grid > [class*="seven wide mobile"].column, .ui.grid > .column.row > [class*="seven wide mobile"].column, .ui.grid > .row > [class*="seven wide mobile"].column, .ui.grid > [class*="seven wide mobile"].column {
        width: 43.75% !important
    }

    .ui.column.grid > [class*="eight wide mobile"].column, .ui.grid > .column.row > [class*="eight wide mobile"].column, .ui.grid > .row > [class*="eight wide mobile"].column, .ui.grid > [class*="eight wide mobile"].column {
        width: 50% !important
    }

    .ui.column.grid > [class*="nine wide mobile"].column, .ui.grid > .column.row > [class*="nine wide mobile"].column, .ui.grid > .row > [class*="nine wide mobile"].column, .ui.grid > [class*="nine wide mobile"].column {
        width: 56.25% !important
    }

    .ui.column.grid > [class*="ten wide mobile"].column, .ui.grid > .column.row > [class*="ten wide mobile"].column, .ui.grid > .row > [class*="ten wide mobile"].column, .ui.grid > [class*="ten wide mobile"].column {
        width: 62.5% !important
    }

    .ui.column.grid > [class*="eleven wide mobile"].column, .ui.grid > .column.row > [class*="eleven wide mobile"].column, .ui.grid > .row > [class*="eleven wide mobile"].column, .ui.grid > [class*="eleven wide mobile"].column {
        width: 68.75% !important
    }

    .ui.column.grid > [class*="twelve wide mobile"].column, .ui.grid > .column.row > [class*="twelve wide mobile"].column, .ui.grid > .row > [class*="twelve wide mobile"].column, .ui.grid > [class*="twelve wide mobile"].column {
        width: 75% !important
    }

    .ui.column.grid > [class*="thirteen wide mobile"].column, .ui.grid > .column.row > [class*="thirteen wide mobile"].column, .ui.grid > .row > [class*="thirteen wide mobile"].column, .ui.grid > [class*="thirteen wide mobile"].column {
        width: 81.25% !important
    }

    .ui.column.grid > [class*="fourteen wide mobile"].column, .ui.grid > .column.row > [class*="fourteen wide mobile"].column, .ui.grid > .row > [class*="fourteen wide mobile"].column, .ui.grid > [class*="fourteen wide mobile"].column {
        width: 87.5% !important
    }

    .ui.column.grid > [class*="fifteen wide mobile"].column, .ui.grid > .column.row > [class*="fifteen wide mobile"].column, .ui.grid > .row > [class*="fifteen wide mobile"].column, .ui.grid > [class*="fifteen wide mobile"].column {
        width: 93.75% !important
    }

    .ui.column.grid > [class*="sixteen wide mobile"].column, .ui.grid > .column.row > [class*="sixteen wide mobile"].column, .ui.grid > .row > [class*="sixteen wide mobile"].column, .ui.grid > [class*="sixteen wide mobile"].column {
        width: 100% !important
    }
}

@media only screen and (min-width: 768px) and (max-width:991px) {
    .ui.column.grid > [class*="one wide tablet"].column, .ui.grid > .column.row > [class*="one wide tablet"].column, .ui.grid > .row > [class*="one wide tablet"].column, .ui.grid > [class*="one wide tablet"].column {
        width: 6.25% !important
    }

    .ui.column.grid > [class*="two wide tablet"].column, .ui.grid > .column.row > [class*="two wide tablet"].column, .ui.grid > .row > [class*="two wide tablet"].column, .ui.grid > [class*="two wide tablet"].column {
        width: 12.5% !important
    }

    .ui.column.grid > [class*="three wide tablet"].column, .ui.grid > .column.row > [class*="three wide tablet"].column, .ui.grid > .row > [class*="three wide tablet"].column, .ui.grid > [class*="three wide tablet"].column {
        width: 18.75% !important
    }

    .ui.column.grid > [class*="four wide tablet"].column, .ui.grid > .column.row > [class*="four wide tablet"].column, .ui.grid > .row > [class*="four wide tablet"].column, .ui.grid > [class*="four wide tablet"].column {
        width: 25% !important
    }

    .ui.column.grid > [class*="five wide tablet"].column, .ui.grid > .column.row > [class*="five wide tablet"].column, .ui.grid > .row > [class*="five wide tablet"].column, .ui.grid > [class*="five wide tablet"].column {
        width: 31.25% !important
    }

    .ui.column.grid > [class*="six wide tablet"].column, .ui.grid > .column.row > [class*="six wide tablet"].column, .ui.grid > .row > [class*="six wide tablet"].column, .ui.grid > [class*="six wide tablet"].column {
        width: 37.5% !important
    }

    .ui.column.grid > [class*="seven wide tablet"].column, .ui.grid > .column.row > [class*="seven wide tablet"].column, .ui.grid > .row > [class*="seven wide tablet"].column, .ui.grid > [class*="seven wide tablet"].column {
        width: 43.75% !important
    }

    .ui.column.grid > [class*="eight wide tablet"].column, .ui.grid > .column.row > [class*="eight wide tablet"].column, .ui.grid > .row > [class*="eight wide tablet"].column, .ui.grid > [class*="eight wide tablet"].column {
        width: 50% !important
    }

    .ui.column.grid > [class*="nine wide tablet"].column, .ui.grid > .column.row > [class*="nine wide tablet"].column, .ui.grid > .row > [class*="nine wide tablet"].column, .ui.grid > [class*="nine wide tablet"].column {
        width: 56.25% !important
    }

    .ui.column.grid > [class*="ten wide tablet"].column, .ui.grid > .column.row > [class*="ten wide tablet"].column, .ui.grid > .row > [class*="ten wide tablet"].column, .ui.grid > [class*="ten wide tablet"].column {
        width: 62.5% !important
    }

    .ui.column.grid > [class*="eleven wide tablet"].column, .ui.grid > .column.row > [class*="eleven wide tablet"].column, .ui.grid > .row > [class*="eleven wide tablet"].column, .ui.grid > [class*="eleven wide tablet"].column {
        width: 68.75% !important
    }

    .ui.column.grid > [class*="twelve wide tablet"].column, .ui.grid > .column.row > [class*="twelve wide tablet"].column, .ui.grid > .row > [class*="twelve wide tablet"].column, .ui.grid > [class*="twelve wide tablet"].column {
        width: 75% !important
    }

    .ui.column.grid > [class*="thirteen wide tablet"].column, .ui.grid > .column.row > [class*="thirteen wide tablet"].column, .ui.grid > .row > [class*="thirteen wide tablet"].column, .ui.grid > [class*="thirteen wide tablet"].column {
        width: 81.25% !important
    }

    .ui.column.grid > [class*="fourteen wide tablet"].column, .ui.grid > .column.row > [class*="fourteen wide tablet"].column, .ui.grid > .row > [class*="fourteen wide tablet"].column, .ui.grid > [class*="fourteen wide tablet"].column {
        width: 87.5% !important
    }

    .ui.column.grid > [class*="fifteen wide tablet"].column, .ui.grid > .column.row > [class*="fifteen wide tablet"].column, .ui.grid > .row > [class*="fifteen wide tablet"].column, .ui.grid > [class*="fifteen wide tablet"].column {
        width: 93.75% !important
    }

    .ui.column.grid > [class*="sixteen wide tablet"].column, .ui.grid > .column.row > [class*="sixteen wide tablet"].column, .ui.grid > .row > [class*="sixteen wide tablet"].column, .ui.grid > [class*="sixteen wide tablet"].column {
        width: 100% !important
    }
}

@media only screen and (min-width: 992px) {
    .ui.column.grid > [class*="one wide computer"].column, .ui.grid > .column.row > [class*="one wide computer"].column, .ui.grid > .row > [class*="one wide computer"].column, .ui.grid > [class*="one wide computer"].column {
        width: 6.25% !important
    }

    .ui.column.grid > [class*="two wide computer"].column, .ui.grid > .column.row > [class*="two wide computer"].column, .ui.grid > .row > [class*="two wide computer"].column, .ui.grid > [class*="two wide computer"].column {
        width: 12.5% !important
    }

    .ui.column.grid > [class*="three wide computer"].column, .ui.grid > .column.row > [class*="three wide computer"].column, .ui.grid > .row > [class*="three wide computer"].column, .ui.grid > [class*="three wide computer"].column {
        width: 18.75% !important
    }

    .ui.column.grid > [class*="four wide computer"].column, .ui.grid > .column.row > [class*="four wide computer"].column, .ui.grid > .row > [class*="four wide computer"].column, .ui.grid > [class*="four wide computer"].column {
        width: 25% !important
    }

    .ui.column.grid > [class*="five wide computer"].column, .ui.grid > .column.row > [class*="five wide computer"].column, .ui.grid > .row > [class*="five wide computer"].column, .ui.grid > [class*="five wide computer"].column {
        width: 31.25% !important
    }

    .ui.column.grid > [class*="six wide computer"].column, .ui.grid > .column.row > [class*="six wide computer"].column, .ui.grid > .row > [class*="six wide computer"].column, .ui.grid > [class*="six wide computer"].column {
        width: 37.5% !important
    }

    .ui.column.grid > [class*="seven wide computer"].column, .ui.grid > .column.row > [class*="seven wide computer"].column, .ui.grid > .row > [class*="seven wide computer"].column, .ui.grid > [class*="seven wide computer"].column {
        width: 43.75% !important
    }

    .ui.column.grid > [class*="eight wide computer"].column, .ui.grid > .column.row > [class*="eight wide computer"].column, .ui.grid > .row > [class*="eight wide computer"].column, .ui.grid > [class*="eight wide computer"].column {
        width: 50% !important
    }

    .ui.column.grid > [class*="nine wide computer"].column, .ui.grid > .column.row > [class*="nine wide computer"].column, .ui.grid > .row > [class*="nine wide computer"].column, .ui.grid > [class*="nine wide computer"].column {
        width: 56.25% !important
    }

    .ui.column.grid > [class*="ten wide computer"].column, .ui.grid > .column.row > [class*="ten wide computer"].column, .ui.grid > .row > [class*="ten wide computer"].column, .ui.grid > [class*="ten wide computer"].column {
        width: 62.5% !important
    }

    .ui.column.grid > [class*="eleven wide computer"].column, .ui.grid > .column.row > [class*="eleven wide computer"].column, .ui.grid > .row > [class*="eleven wide computer"].column, .ui.grid > [class*="eleven wide computer"].column {
        width: 68.75% !important
    }

    .ui.column.grid > [class*="twelve wide computer"].column, .ui.grid > .column.row > [class*="twelve wide computer"].column, .ui.grid > .row > [class*="twelve wide computer"].column, .ui.grid > [class*="twelve wide computer"].column {
        width: 75% !important
    }

    .ui.column.grid > [class*="thirteen wide computer"].column, .ui.grid > .column.row > [class*="thirteen wide computer"].column, .ui.grid > .row > [class*="thirteen wide computer"].column, .ui.grid > [class*="thirteen wide computer"].column {
        width: 81.25% !important
    }

    .ui.column.grid > [class*="fourteen wide computer"].column, .ui.grid > .column.row > [class*="fourteen wide computer"].column, .ui.grid > .row > [class*="fourteen wide computer"].column, .ui.grid > [class*="fourteen wide computer"].column {
        width: 87.5% !important
    }

    .ui.column.grid > [class*="fifteen wide computer"].column, .ui.grid > .column.row > [class*="fifteen wide computer"].column, .ui.grid > .row > [class*="fifteen wide computer"].column, .ui.grid > [class*="fifteen wide computer"].column {
        width: 93.75% !important
    }

    .ui.column.grid > [class*="sixteen wide computer"].column, .ui.grid > .column.row > [class*="sixteen wide computer"].column, .ui.grid > .row > [class*="sixteen wide computer"].column, .ui.grid > [class*="sixteen wide computer"].column {
        width: 100% !important
    }
}

@media only screen and (min-width: 1200px) and (max-width:1919px) {
    .ui.column.grid > [class*="one wide large screen"].column, .ui.grid > .column.row > [class*="one wide large screen"].column, .ui.grid > .row > [class*="one wide large screen"].column, .ui.grid > [class*="one wide large screen"].column {
        width: 6.25% !important
    }

    .ui.column.grid > [class*="two wide large screen"].column, .ui.grid > .column.row > [class*="two wide large screen"].column, .ui.grid > .row > [class*="two wide large screen"].column, .ui.grid > [class*="two wide large screen"].column {
        width: 12.5% !important
    }

    .ui.column.grid > [class*="three wide large screen"].column, .ui.grid > .column.row > [class*="three wide large screen"].column, .ui.grid > .row > [class*="three wide large screen"].column, .ui.grid > [class*="three wide large screen"].column {
        width: 18.75% !important
    }

    .ui.column.grid > [class*="four wide large screen"].column, .ui.grid > .column.row > [class*="four wide large screen"].column, .ui.grid > .row > [class*="four wide large screen"].column, .ui.grid > [class*="four wide large screen"].column {
        width: 25% !important
    }

    .ui.column.grid > [class*="five wide large screen"].column, .ui.grid > .column.row > [class*="five wide large screen"].column, .ui.grid > .row > [class*="five wide large screen"].column, .ui.grid > [class*="five wide large screen"].column {
        width: 31.25% !important
    }

    .ui.column.grid > [class*="six wide large screen"].column, .ui.grid > .column.row > [class*="six wide large screen"].column, .ui.grid > .row > [class*="six wide large screen"].column, .ui.grid > [class*="six wide large screen"].column {
        width: 37.5% !important
    }

    .ui.column.grid > [class*="seven wide large screen"].column, .ui.grid > .column.row > [class*="seven wide large screen"].column, .ui.grid > .row > [class*="seven wide large screen"].column, .ui.grid > [class*="seven wide large screen"].column {
        width: 43.75% !important
    }

    .ui.column.grid > [class*="eight wide large screen"].column, .ui.grid > .column.row > [class*="eight wide large screen"].column, .ui.grid > .row > [class*="eight wide large screen"].column, .ui.grid > [class*="eight wide large screen"].column {
        width: 50% !important
    }

    .ui.column.grid > [class*="nine wide large screen"].column, .ui.grid > .column.row > [class*="nine wide large screen"].column, .ui.grid > .row > [class*="nine wide large screen"].column, .ui.grid > [class*="nine wide large screen"].column {
        width: 56.25% !important
    }

    .ui.column.grid > [class*="ten wide large screen"].column, .ui.grid > .column.row > [class*="ten wide large screen"].column, .ui.grid > .row > [class*="ten wide large screen"].column, .ui.grid > [class*="ten wide large screen"].column {
        width: 62.5% !important
    }

    .ui.column.grid > [class*="eleven wide large screen"].column, .ui.grid > .column.row > [class*="eleven wide large screen"].column, .ui.grid > .row > [class*="eleven wide large screen"].column, .ui.grid > [class*="eleven wide large screen"].column {
        width: 68.75% !important
    }

    .ui.column.grid > [class*="twelve wide large screen"].column, .ui.grid > .column.row > [class*="twelve wide large screen"].column, .ui.grid > .row > [class*="twelve wide large screen"].column, .ui.grid > [class*="twelve wide large screen"].column {
        width: 75% !important
    }

    .ui.column.grid > [class*="thirteen wide large screen"].column, .ui.grid > .column.row > [class*="thirteen wide large screen"].column, .ui.grid > .row > [class*="thirteen wide large screen"].column, .ui.grid > [class*="thirteen wide large screen"].column {
        width: 81.25% !important
    }

    .ui.column.grid > [class*="fourteen wide large screen"].column, .ui.grid > .column.row > [class*="fourteen wide large screen"].column, .ui.grid > .row > [class*="fourteen wide large screen"].column, .ui.grid > [class*="fourteen wide large screen"].column {
        width: 87.5% !important
    }

    .ui.column.grid > [class*="fifteen wide large screen"].column, .ui.grid > .column.row > [class*="fifteen wide large screen"].column, .ui.grid > .row > [class*="fifteen wide large screen"].column, .ui.grid > [class*="fifteen wide large screen"].column {
        width: 93.75% !important
    }

    .ui.column.grid > [class*="sixteen wide large screen"].column, .ui.grid > .column.row > [class*="sixteen wide large screen"].column, .ui.grid > .row > [class*="sixteen wide large screen"].column, .ui.grid > [class*="sixteen wide large screen"].column {
        width: 100% !important
    }
}

@media only screen and (min-width: 1920px) {
    .ui.column.grid > [class*="one wide widescreen"].column, .ui.grid > .column.row > [class*="one wide widescreen"].column, .ui.grid > .row > [class*="one wide widescreen"].column, .ui.grid > [class*="one wide widescreen"].column {
        width: 6.25% !important
    }

    .ui.column.grid > [class*="two wide widescreen"].column, .ui.grid > .column.row > [class*="two wide widescreen"].column, .ui.grid > .row > [class*="two wide widescreen"].column, .ui.grid > [class*="two wide widescreen"].column {
        width: 12.5% !important
    }

    .ui.column.grid > [class*="three wide widescreen"].column, .ui.grid > .column.row > [class*="three wide widescreen"].column, .ui.grid > .row > [class*="three wide widescreen"].column, .ui.grid > [class*="three wide widescreen"].column {
        width: 18.75% !important
    }

    .ui.column.grid > [class*="four wide widescreen"].column, .ui.grid > .column.row > [class*="four wide widescreen"].column, .ui.grid > .row > [class*="four wide widescreen"].column, .ui.grid > [class*="four wide widescreen"].column {
        width: 25% !important
    }

    .ui.column.grid > [class*="five wide widescreen"].column, .ui.grid > .column.row > [class*="five wide widescreen"].column, .ui.grid > .row > [class*="five wide widescreen"].column, .ui.grid > [class*="five wide widescreen"].column {
        width: 31.25% !important
    }

    .ui.column.grid > [class*="six wide widescreen"].column, .ui.grid > .column.row > [class*="six wide widescreen"].column, .ui.grid > .row > [class*="six wide widescreen"].column, .ui.grid > [class*="six wide widescreen"].column {
        width: 37.5% !important
    }

    .ui.column.grid > [class*="seven wide widescreen"].column, .ui.grid > .column.row > [class*="seven wide widescreen"].column, .ui.grid > .row > [class*="seven wide widescreen"].column, .ui.grid > [class*="seven wide widescreen"].column {
        width: 43.75% !important
    }

    .ui.column.grid > [class*="eight wide widescreen"].column, .ui.grid > .column.row > [class*="eight wide widescreen"].column, .ui.grid > .row > [class*="eight wide widescreen"].column, .ui.grid > [class*="eight wide widescreen"].column {
        width: 50% !important
    }

    .ui.column.grid > [class*="nine wide widescreen"].column, .ui.grid > .column.row > [class*="nine wide widescreen"].column, .ui.grid > .row > [class*="nine wide widescreen"].column, .ui.grid > [class*="nine wide widescreen"].column {
        width: 56.25% !important
    }

    .ui.column.grid > [class*="ten wide widescreen"].column, .ui.grid > .column.row > [class*="ten wide widescreen"].column, .ui.grid > .row > [class*="ten wide widescreen"].column, .ui.grid > [class*="ten wide widescreen"].column {
        width: 62.5% !important
    }

    .ui.column.grid > [class*="eleven wide widescreen"].column, .ui.grid > .column.row > [class*="eleven wide widescreen"].column, .ui.grid > .row > [class*="eleven wide widescreen"].column, .ui.grid > [class*="eleven wide widescreen"].column {
        width: 68.75% !important
    }

    .ui.column.grid > [class*="twelve wide widescreen"].column, .ui.grid > .column.row > [class*="twelve wide widescreen"].column, .ui.grid > .row > [class*="twelve wide widescreen"].column, .ui.grid > [class*="twelve wide widescreen"].column {
        width: 75% !important
    }

    .ui.column.grid > [class*="thirteen wide widescreen"].column, .ui.grid > .column.row > [class*="thirteen wide widescreen"].column, .ui.grid > .row > [class*="thirteen wide widescreen"].column, .ui.grid > [class*="thirteen wide widescreen"].column {
        width: 81.25% !important
    }

    .ui.column.grid > [class*="fourteen wide widescreen"].column, .ui.grid > .column.row > [class*="fourteen wide widescreen"].column, .ui.grid > .row > [class*="fourteen wide widescreen"].column, .ui.grid > [class*="fourteen wide widescreen"].column {
        width: 87.5% !important
    }

    .ui.column.grid > [class*="fifteen wide widescreen"].column, .ui.grid > .column.row > [class*="fifteen wide widescreen"].column, .ui.grid > .row > [class*="fifteen wide widescreen"].column, .ui.grid > [class*="fifteen wide widescreen"].column {
        width: 93.75% !important
    }

    .ui.column.grid > [class*="sixteen wide widescreen"].column, .ui.grid > .column.row > [class*="sixteen wide widescreen"].column, .ui.grid > .row > [class*="sixteen wide widescreen"].column, .ui.grid > [class*="sixteen wide widescreen"].column {
        width: 100% !important
    }
}

.ui.centered.grid, .ui.centered.grid > .row, .ui.grid > .centered.row {
    text-align: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center
}

    .ui.centered.grid > .column:not(.aligned):not(.justified):not(.row), .ui.centered.grid > .row > .column:not(.aligned):not(.justified), .ui.grid .centered.row > .column:not(.aligned):not(.justified) {
        text-align: left
    }

.ui.grid > .centered.column, .ui.grid > .row > .centered.column {
    display: block;
    margin-left: auto;
    margin-right: auto
}

.ui.grid > .relaxed.row > .column, .ui.relaxed.grid > .column:not(.row), .ui.relaxed.grid > .row > .column {
    padding-left: 1.5rem;
    padding-right: 1.5rem
}

.ui.grid > [class*="very relaxed"].row > .column, .ui[class*="very relaxed"].grid > .column:not(.row), .ui[class*="very relaxed"].grid > .row > .column {
    padding-left: 2.5rem;
    padding-right: 2.5rem
}

.ui.grid .relaxed.row + .ui.divider, .ui.relaxed.grid .row + .ui.divider {
    margin-left: 1.5rem;
    margin-right: 1.5rem
}

.ui.grid [class*="very relaxed"].row + .ui.divider, .ui[class*="very relaxed"].grid .row + .ui.divider {
    margin-left: 2.5rem;
    margin-right: 2.5rem
}

.ui.padded.grid:not(.vertically):not(.horizontally) {
    margin: 0 !important
}

[class*="horizontally padded"].ui.grid {
    margin-left: 0 !important;
    margin-right: 0 !important
}

[class*="vertically padded"].ui.grid {
    margin-top: 0 !important;
    margin-bottom: 0 !important
}

.ui.grid [class*="left floated"].column {
    margin-right: auto
}

.ui.grid [class*="right floated"].column {
    margin-left: auto
}

.ui.divided.grid:not([class*="vertically divided"]) > .column:not(.row), .ui.divided.grid:not([class*="vertically divided"]) > .row > .column {
    box-shadow: -1px 0 0 0 rgba(34,36,38,.15)
}

.ui[class*="vertically divided"].grid > .column:not(.row), .ui[class*="vertically divided"].grid > .row > .column {
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding-top: 0;
    padding-bottom: 0
}

.ui[class*="vertically divided"].grid > .row {
    margin-top: 0;
    margin-bottom: 0
}

.ui.divided.grid:not([class*="vertically divided"]) > .column:first-child, .ui.divided.grid:not([class*="vertically divided"]) > .row > .column:first-child {
    box-shadow: none
}

.ui[class*="vertically divided"].grid > .row:first-child > .column {
    margin-top: 0
}

.ui.grid > .divided.row > .column {
    box-shadow: -1px 0 0 0 rgba(34,36,38,.15)
}

    .ui.grid > .divided.row > .column:first-child {
        box-shadow: none
    }

.ui[class*="vertically divided"].grid > .row {
    position: relative
}

    .ui[class*="vertically divided"].grid > .row:before {
        position: absolute;
        content: "";
        top: 0;
        left: 0;
        width: calc(100% - 2rem);
        height: 1px;
        margin: 0 1rem;
        box-shadow: 0 -1px 0 0 rgba(34,36,38,.15)
    }

.ui.padded.divided.grid:not(.vertically):not(.horizontally), [class*="horizontally padded"].ui.divided.grid {
    width: 100%
}

.ui[class*="vertically divided"].grid > .row:first-child:before {
    box-shadow: none
}

.ui.inverted.divided.grid:not([class*="vertically divided"]) > .column:not(.row), .ui.inverted.divided.grid:not([class*="vertically divided"]) > .row > .column {
    box-shadow: -1px 0 0 0 rgba(255,255,255,.1)
}

    .ui.inverted.divided.grid:not([class*="vertically divided"]) > .column:not(.row):first-child, .ui.inverted.divided.grid:not([class*="vertically divided"]) > .row > .column:first-child {
        box-shadow: none
    }

.ui.inverted[class*="vertically divided"].grid > .row:before {
    box-shadow: 0 -1px 0 0 rgba(255,255,255,.1)
}

.ui.relaxed[class*="vertically divided"].grid > .row:before {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    width: calc(100% - 3rem)
}

.ui[class*="very relaxed"][class*="vertically divided"].grid > .row:before {
    margin-left: 5rem;
    margin-right: 5rem;
    width: calc(100% - 5rem)
}

.ui.celled.grid {
    width: 100%;
    margin: 1em 0;
    box-shadow: 0 0 0 1px #d4d4d5
}

    .ui.celled.grid > .row {
        width: 100% !important;
        margin: 0;
        padding: 0;
        box-shadow: 0 -1px 0 0 #d4d4d5
    }

        .ui.celled.grid > .column:not(.row), .ui.celled.grid > .row > .column {
            box-shadow: -1px 0 0 0 #d4d4d5
        }

            .ui.celled.grid > .column:first-child, .ui.celled.grid > .row > .column:first-child {
                box-shadow: none
            }

        .ui.celled.grid > .column:not(.row), .ui.celled.grid > .row > .column {
            padding: 1em
        }

.ui.relaxed.celled.grid > .column:not(.row), .ui.relaxed.celled.grid > .row > .column {
    padding: 1.5em
}

.ui[class*="very relaxed"].celled.grid > .column:not(.row), .ui[class*="very relaxed"].celled.grid > .row > .column {
    padding: 2em
}

.ui[class*="internally celled"].grid {
    box-shadow: none;
    margin: 0
}

    .ui[class*="internally celled"].grid > .row:first-child {
        box-shadow: none
    }

    .ui[class*="internally celled"].grid > .row > .column:first-child {
        box-shadow: none
    }

.ui.grid > .row > [class*="top aligned"].column, .ui.grid > [class*="top aligned"].column:not(.row), .ui.grid > [class*="top aligned"].row > .column, .ui[class*="top aligned"].grid > .column:not(.row), .ui[class*="top aligned"].grid > .row > .column {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    vertical-align: top;
    -ms-flex-item-align: start !important;
    align-self: flex-start !important
}

.ui.grid > .row > [class*="middle aligned"].column, .ui.grid > [class*="middle aligned"].column:not(.row), .ui.grid > [class*="middle aligned"].row > .column, .ui[class*="middle aligned"].grid > .column:not(.row), .ui[class*="middle aligned"].grid > .row > .column {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    vertical-align: middle;
    -ms-flex-item-align: center !important;
    -ms-grid-row-align: center !important;
    align-self: center !important
}

.ui.grid > .row > [class*="bottom aligned"].column, .ui.grid > [class*="bottom aligned"].column:not(.row), .ui.grid > [class*="bottom aligned"].row > .column, .ui[class*="bottom aligned"].grid > .column:not(.row), .ui[class*="bottom aligned"].grid > .row > .column {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    vertical-align: bottom;
    -ms-flex-item-align: end !important;
    align-self: flex-end !important
}

.ui.grid > .row > .stretched.column, .ui.grid > .stretched.column:not(.row), .ui.grid > .stretched.row > .column, .ui.stretched.grid > .column, .ui.stretched.grid > .row > .column {
    display: -webkit-inline-box !important;
    display: -ms-inline-flexbox !important;
    display: inline-flex !important;
    -ms-flex-item-align: stretch;
    align-self: stretch;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column
}

    .ui.grid > .row > .stretched.column > *, .ui.grid > .stretched.column:not(.row) > *, .ui.grid > .stretched.row > .column > *, .ui.stretched.grid > .column > *, .ui.stretched.grid > .row > .column > * {
        -webkit-box-flex: 1;
        -ms-flex-positive: 1;
        flex-grow: 1
    }

.ui.grid > .row > [class*="left aligned"].column.column, .ui.grid > [class*="left aligned"].column.column, .ui.grid > [class*="left aligned"].row > .column, .ui[class*="left aligned"].grid > .column, .ui[class*="left aligned"].grid > .row > .column {
    text-align: left;
    -ms-flex-item-align: inherit;
    -ms-grid-row-align: inherit;
    align-self: inherit
}

.ui.grid > .row > [class*="center aligned"].column.column, .ui.grid > [class*="center aligned"].column.column, .ui.grid > [class*="center aligned"].row > .column, .ui[class*="center aligned"].grid > .column, .ui[class*="center aligned"].grid > .row > .column {
    text-align: center;
    -ms-flex-item-align: inherit;
    -ms-grid-row-align: inherit;
    align-self: inherit
}

.ui[class*="center aligned"].grid {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center
}

.ui.grid > .row > [class*="right aligned"].column.column, .ui.grid > [class*="right aligned"].column.column, .ui.grid > [class*="right aligned"].row > .column, .ui[class*="right aligned"].grid > .column, .ui[class*="right aligned"].grid > .row > .column {
    text-align: right;
    -ms-flex-item-align: inherit;
    -ms-grid-row-align: inherit;
    align-self: inherit
}

.ui.grid > .justified.column.column, .ui.grid > .justified.row > .column, .ui.grid > .row > .justified.column.column, .ui.justified.grid > .column, .ui.justified.grid > .row > .column {
    text-align: justify;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto
}

.ui.grid > .row > .black.column, .ui.grid > .row > .blue.column, .ui.grid > .row > .brown.column, .ui.grid > .row > .green.column, .ui.grid > .row > .grey.column, .ui.grid > .row > .olive.column, .ui.grid > .row > .orange.column, .ui.grid > .row > .pink.column, .ui.grid > .row > .purple.column, .ui.grid > .row > .red.column, .ui.grid > .row > .teal.column, .ui.grid > .row > .violet.column, .ui.grid > .row > .yellow.column {
    margin-top: -1rem;
    margin-bottom: -1rem;
    padding-top: 1rem;
    padding-bottom: 1rem
}

.ui.grid > .red.column, .ui.grid > .red.row, .ui.grid > .row > .red.column {
    background-color: #db2828 !important;
    color: #fff
}

.ui.grid > .orange.column, .ui.grid > .orange.row, .ui.grid > .row > .orange.column {
    background-color: #f2711c !important;
    color: #fff
}

.ui.grid > .row > .yellow.column, .ui.grid > .yellow.column, .ui.grid > .yellow.row {
    background-color: #fbbd08 !important;
    color: #fff
}

.ui.grid > .olive.column, .ui.grid > .olive.row, .ui.grid > .row > .olive.column {
    background-color: #b5cc18 !important;
    color: #fff
}

.ui.grid > .green.column, .ui.grid > .green.row, .ui.grid > .row > .green.column {
    background-color: #21ba45 !important;
    color: #fff
}

.ui.grid > .row > .teal.column, .ui.grid > .teal.column, .ui.grid > .teal.row {
    background-color: #00b5ad !important;
    color: #fff
}

.ui.grid > .blue.column, .ui.grid > .blue.row, .ui.grid > .row > .blue.column {
    background-color: #2185d0 !important;
    color: #fff
}

.ui.grid > .row > .violet.column, .ui.grid > .violet.column, .ui.grid > .violet.row {
    background-color: #6435c9 !important;
    color: #fff
}

.ui.grid > .purple.column, .ui.grid > .purple.row, .ui.grid > .row > .purple.column {
    background-color: #a333c8 !important;
    color: #fff
}

.ui.grid > .pink.column, .ui.grid > .pink.row, .ui.grid > .row > .pink.column {
    background-color: #e03997 !important;
    color: #fff
}

.ui.grid > .brown.column, .ui.grid > .brown.row, .ui.grid > .row > .brown.column {
    background-color: #a5673f !important;
    color: #fff
}

.ui.grid > .grey.column, .ui.grid > .grey.row, .ui.grid > .row > .grey.column {
    background-color: #767676 !important;
    color: #fff
}

.ui.grid > .black.column, .ui.grid > .black.row, .ui.grid > .row > .black.column {
    background-color: #1b1c1d !important;
    color: #fff
}

.ui.grid > [class*="equal width"].row > .column, .ui[class*="equal width"].grid > .column:not(.row), .ui[class*="equal width"].grid > .row > .column {
    display: inline-block;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1
}

.ui.grid > [class*="equal width"].row > .wide.column, .ui[class*="equal width"].grid > .row > .wide.column, .ui[class*="equal width"].grid > .wide.column {
    -webkit-box-flex: 0;
    -ms-flex-positive: 0;
    flex-grow: 0
}

@media only screen and (max-width: 767px) {
    .ui.grid > [class*="mobile reversed"].row, .ui[class*="mobile reversed"].grid, .ui[class*="mobile reversed"].grid > .row {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
        flex-direction: row-reverse
    }

    .ui.stackable[class*="mobile reversed"], .ui[class*="mobile vertically reversed"].grid {
        -webkit-box-orient: vertical;
        -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
        flex-direction: column-reverse
    }

    .ui[class*="mobile reversed"].divided.grid:not([class*="vertically divided"]) > .column:first-child, .ui[class*="mobile reversed"].divided.grid:not([class*="vertically divided"]) > .row > .column:first-child {
        box-shadow: -1px 0 0 0 rgba(34,36,38,.15)
    }

    .ui[class*="mobile reversed"].divided.grid:not([class*="vertically divided"]) > .column:last-child, .ui[class*="mobile reversed"].divided.grid:not([class*="vertically divided"]) > .row > .column:last-child {
        box-shadow: none
    }

    .ui.grid[class*="vertically divided"][class*="mobile vertically reversed"] > .row:first-child:before {
        box-shadow: 0 -1px 0 0 rgba(34,36,38,.15)
    }

    .ui.grid[class*="vertically divided"][class*="mobile vertically reversed"] > .row:last-child:before {
        box-shadow: none
    }

    .ui[class*="mobile reversed"].celled.grid > .row > .column:first-child {
        box-shadow: -1px 0 0 0 #d4d4d5
    }

    .ui[class*="mobile reversed"].celled.grid > .row > .column:last-child {
        box-shadow: none
    }
}

@media only screen and (min-width: 768px) and (max-width:991px) {
    .ui.grid > [class*="tablet reversed"].row, .ui[class*="tablet reversed"].grid, .ui[class*="tablet reversed"].grid > .row {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
        flex-direction: row-reverse
    }

    .ui[class*="tablet vertically reversed"].grid {
        -webkit-box-orient: vertical;
        -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
        flex-direction: column-reverse
    }

    .ui[class*="tablet reversed"].divided.grid:not([class*="vertically divided"]) > .column:first-child, .ui[class*="tablet reversed"].divided.grid:not([class*="vertically divided"]) > .row > .column:first-child {
        box-shadow: -1px 0 0 0 rgba(34,36,38,.15)
    }

    .ui[class*="tablet reversed"].divided.grid:not([class*="vertically divided"]) > .column:last-child, .ui[class*="tablet reversed"].divided.grid:not([class*="vertically divided"]) > .row > .column:last-child {
        box-shadow: none
    }

    .ui.grid[class*="vertically divided"][class*="tablet vertically reversed"] > .row:first-child:before {
        box-shadow: 0 -1px 0 0 rgba(34,36,38,.15)
    }

    .ui.grid[class*="vertically divided"][class*="tablet vertically reversed"] > .row:last-child:before {
        box-shadow: none
    }

    .ui[class*="tablet reversed"].celled.grid > .row > .column:first-child {
        box-shadow: -1px 0 0 0 #d4d4d5
    }

    .ui[class*="tablet reversed"].celled.grid > .row > .column:last-child {
        box-shadow: none
    }
}

@media only screen and (min-width: 992px) {
    .ui.grid > [class*="computer reversed"].row, .ui[class*="computer reversed"].grid, .ui[class*="computer reversed"].grid > .row {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
        flex-direction: row-reverse
    }

    .ui[class*="computer vertically reversed"].grid {
        -webkit-box-orient: vertical;
        -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
        flex-direction: column-reverse
    }

    .ui[class*="computer reversed"].divided.grid:not([class*="vertically divided"]) > .column:first-child, .ui[class*="computer reversed"].divided.grid:not([class*="vertically divided"]) > .row > .column:first-child {
        box-shadow: -1px 0 0 0 rgba(34,36,38,.15)
    }

    .ui[class*="computer reversed"].divided.grid:not([class*="vertically divided"]) > .column:last-child, .ui[class*="computer reversed"].divided.grid:not([class*="vertically divided"]) > .row > .column:last-child {
        box-shadow: none
    }

    .ui.grid[class*="vertically divided"][class*="computer vertically reversed"] > .row:first-child:before {
        box-shadow: 0 -1px 0 0 rgba(34,36,38,.15)
    }

    .ui.grid[class*="vertically divided"][class*="computer vertically reversed"] > .row:last-child:before {
        box-shadow: none
    }

    .ui[class*="computer reversed"].celled.grid > .row > .column:first-child {
        box-shadow: -1px 0 0 0 #d4d4d5
    }

    .ui[class*="computer reversed"].celled.grid > .row > .column:last-child {
        box-shadow: none
    }
}

@media only screen and (min-width: 768px) and (max-width:991px) {
    .ui.doubling.grid {
        width: auto
    }

        .ui.doubling.grid > .row, .ui.grid > .doubling.row {
            margin: 0 !important;
            padding: 0 !important
        }

            .ui.doubling.grid > .row > .column, .ui.grid > .doubling.row > .column {
                display: inline-block !important;
                padding-top: 1rem !important;
                padding-bottom: 1rem !important;
                box-shadow: none !important;
                margin: 0
            }

    .ui.grid > [class*="two column"].doubling.row.row > .column, .ui[class*="two column"].doubling.grid > .column:not(.row), .ui[class*="two column"].doubling.grid > .row > .column {
        width: 100% !important
    }

    .ui.grid > [class*="three column"].doubling.row.row > .column, .ui[class*="three column"].doubling.grid > .column:not(.row), .ui[class*="three column"].doubling.grid > .row > .column {
        width: 50% !important
    }

    .ui.grid > [class*="four column"].doubling.row.row > .column, .ui[class*="four column"].doubling.grid > .column:not(.row), .ui[class*="four column"].doubling.grid > .row > .column {
        width: 50% !important
    }

    .ui.grid > [class*="five column"].doubling.row.row > .column, .ui[class*="five column"].doubling.grid > .column:not(.row), .ui[class*="five column"].doubling.grid > .row > .column {
        width: 33.33333333% !important
    }

    .ui.grid > [class*="six column"].doubling.row.row > .column, .ui[class*="six column"].doubling.grid > .column:not(.row), .ui[class*="six column"].doubling.grid > .row > .column {
        width: 33.33333333% !important
    }

    .ui.grid > [class*="seven column"].doubling.row.row > .column, .ui[class*="seven column"].doubling.grid > .column:not(.row), .ui[class*="seven column"].doubling.grid > .row > .column {
        width: 33.33333333% !important
    }

    .ui.grid > [class*="eight column"].doubling.row.row > .column, .ui[class*="eight column"].doubling.grid > .column:not(.row), .ui[class*="eight column"].doubling.grid > .row > .column {
        width: 25% !important
    }

    .ui.grid > [class*="nine column"].doubling.row.row > .column, .ui[class*="nine column"].doubling.grid > .column:not(.row), .ui[class*="nine column"].doubling.grid > .row > .column {
        width: 25% !important
    }

    .ui.grid > [class*="ten column"].doubling.row.row > .column, .ui[class*="ten column"].doubling.grid > .column:not(.row), .ui[class*="ten column"].doubling.grid > .row > .column {
        width: 20% !important
    }

    .ui.grid > [class*="eleven column"].doubling.row.row > .column, .ui[class*="eleven column"].doubling.grid > .column:not(.row), .ui[class*="eleven column"].doubling.grid > .row > .column {
        width: 20% !important
    }

    .ui.grid > [class*="twelve column"].doubling.row.row > .column, .ui[class*="twelve column"].doubling.grid > .column:not(.row), .ui[class*="twelve column"].doubling.grid > .row > .column {
        width: 16.66666667% !important
    }

    .ui.grid > [class*="thirteen column"].doubling.row.row > .column, .ui[class*="thirteen column"].doubling.grid > .column:not(.row), .ui[class*="thirteen column"].doubling.grid > .row > .column {
        width: 16.66666667% !important
    }

    .ui.grid > [class*="fourteen column"].doubling.row.row > .column, .ui[class*="fourteen column"].doubling.grid > .column:not(.row), .ui[class*="fourteen column"].doubling.grid > .row > .column {
        width: 14.28571429% !important
    }

    .ui.grid > [class*="fifteen column"].doubling.row.row > .column, .ui[class*="fifteen column"].doubling.grid > .column:not(.row), .ui[class*="fifteen column"].doubling.grid > .row > .column {
        width: 14.28571429% !important
    }

    .ui.grid > [class*="sixteen column"].doubling.row.row > .column, .ui[class*="sixteen column"].doubling.grid > .column:not(.row), .ui[class*="sixteen column"].doubling.grid > .row > .column {
        width: 12.5% !important
    }
}

@media only screen and (max-width: 767px) {
    .ui.doubling.grid > .row, .ui.grid > .doubling.row {
        margin: 0 !important;
        padding: 0 !important
    }

        .ui.doubling.grid > .row > .column, .ui.grid > .doubling.row > .column {
            padding-top: 1rem !important;
            padding-bottom: 1rem !important;
            margin: 0 !important;
            box-shadow: none !important
        }

    .ui.grid > [class*="two column"].doubling:not(.stackable).row.row > .column, .ui[class*="two column"].doubling:not(.stackable).grid > .column:not(.row), .ui[class*="two column"].doubling:not(.stackable).grid > .row > .column {
        width: 100% !important
    }

    .ui.grid > [class*="three column"].doubling:not(.stackable).row.row > .column, .ui[class*="three column"].doubling:not(.stackable).grid > .column:not(.row), .ui[class*="three column"].doubling:not(.stackable).grid > .row > .column {
        width: 50% !important
    }

    .ui.grid > [class*="four column"].doubling:not(.stackable).row.row > .column, .ui[class*="four column"].doubling:not(.stackable).grid > .column:not(.row), .ui[class*="four column"].doubling:not(.stackable).grid > .row > .column {
        width: 50% !important
    }

    .ui.grid > [class*="five column"].doubling:not(.stackable).row.row > .column, .ui[class*="five column"].doubling:not(.stackable).grid > .column:not(.row), .ui[class*="five column"].doubling:not(.stackable).grid > .row > .column {
        width: 50% !important
    }

    .ui.grid > [class*="six column"].doubling:not(.stackable).row.row > .column, .ui[class*="six column"].doubling:not(.stackable).grid > .column:not(.row), .ui[class*="six column"].doubling:not(.stackable).grid > .row > .column {
        width: 50% !important
    }

    .ui.grid > [class*="seven column"].doubling:not(.stackable).row.row > .column, .ui[class*="seven column"].doubling:not(.stackable).grid > .column:not(.row), .ui[class*="seven column"].doubling:not(.stackable).grid > .row > .column {
        width: 50% !important
    }

    .ui.grid > [class*="eight column"].doubling:not(.stackable).row.row > .column, .ui[class*="eight column"].doubling:not(.stackable).grid > .column:not(.row), .ui[class*="eight column"].doubling:not(.stackable).grid > .row > .column {
        width: 50% !important
    }

    .ui.grid > [class*="nine column"].doubling:not(.stackable).row.row > .column, .ui[class*="nine column"].doubling:not(.stackable).grid > .column:not(.row), .ui[class*="nine column"].doubling:not(.stackable).grid > .row > .column {
        width: 33.33333333% !important
    }

    .ui.grid > [class*="ten column"].doubling:not(.stackable).row.row > .column, .ui[class*="ten column"].doubling:not(.stackable).grid > .column:not(.row), .ui[class*="ten column"].doubling:not(.stackable).grid > .row > .column {
        width: 33.33333333% !important
    }

    .ui.grid > [class*="eleven column"].doubling:not(.stackable).row.row > .column, .ui[class*="eleven column"].doubling:not(.stackable).grid > .column:not(.row), .ui[class*="eleven column"].doubling:not(.stackable).grid > .row > .column {
        width: 33.33333333% !important
    }

    .ui.grid > [class*="twelve column"].doubling:not(.stackable).row.row > .column, .ui[class*="twelve column"].doubling:not(.stackable).grid > .column:not(.row), .ui[class*="twelve column"].doubling:not(.stackable).grid > .row > .column {
        width: 33.33333333% !important
    }

    .ui.grid > [class*="thirteen column"].doubling:not(.stackable).row.row > .column, .ui[class*="thirteen column"].doubling:not(.stackable).grid > .column:not(.row), .ui[class*="thirteen column"].doubling:not(.stackable).grid > .row > .column {
        width: 33.33333333% !important
    }

    .ui.grid > [class*="fourteen column"].doubling:not(.stackable).row.row > .column, .ui[class*="fourteen column"].doubling:not(.stackable).grid > .column:not(.row), .ui[class*="fourteen column"].doubling:not(.stackable).grid > .row > .column {
        width: 25% !important
    }

    .ui.grid > [class*="fifteen column"].doubling:not(.stackable).row.row > .column, .ui[class*="fifteen column"].doubling:not(.stackable).grid > .column:not(.row), .ui[class*="fifteen column"].doubling:not(.stackable).grid > .row > .column {
        width: 25% !important
    }

    .ui.grid > [class*="sixteen column"].doubling:not(.stackable).row.row > .column, .ui[class*="sixteen column"].doubling:not(.stackable).grid > .column:not(.row), .ui[class*="sixteen column"].doubling:not(.stackable).grid > .row > .column {
        width: 25% !important
    }
}

@media only screen and (max-width: 767px) {
    .ui.stackable.grid {
        width: auto;
        margin-left: 0 !important;
        margin-right: 0 !important
    }

        .ui.grid > .stackable.stackable.row > .column, .ui.stackable.grid > .column.grid > .column, .ui.stackable.grid > .column.row > .column, .ui.stackable.grid > .column:not(.row), .ui.stackable.grid > .row > .column, .ui.stackable.grid > .row > .wide.column, .ui.stackable.grid > .wide.column {
            width: 100% !important;
            margin: 0 0 !important;
            box-shadow: none !important;
            padding: 1rem 1rem !important
        }

        .ui.stackable.grid:not(.vertically) > .row {
            margin: 0;
            padding: 0
        }

    .ui.container > .ui.stackable.grid > .column, .ui.container > .ui.stackable.grid > .row > .column {
        padding-left: 0 !important;
        padding-right: 0 !important
    }

    .ui.grid .ui.stackable.grid, .ui.segment:not(.vertical) .ui.stackable.page.grid {
        margin-left: -1rem !important;
        margin-right: -1rem !important
    }

    .ui.stackable.celled.grid > .column:not(.row):first-child, .ui.stackable.celled.grid > .row:first-child > .column:first-child, .ui.stackable.divided.grid > .column:not(.row):first-child, .ui.stackable.divided.grid > .row:first-child > .column:first-child {
        border-top: none !important
    }

    .ui.inverted.stackable.celled.grid > .column:not(.row), .ui.inverted.stackable.celled.grid > .row > .column, .ui.inverted.stackable.divided.grid > .column:not(.row), .ui.inverted.stackable.divided.grid > .row > .column {
        border-top: 1px solid rgba(255,255,255,.1)
    }

    .ui.stackable.celled.grid > .column:not(.row), .ui.stackable.celled.grid > .row > .column, .ui.stackable.divided:not(.vertically).grid > .column:not(.row), .ui.stackable.divided:not(.vertically).grid > .row > .column {
        border-top: 1px solid rgba(34,36,38,.15);
        box-shadow: none !important;
        padding-top: 2rem !important;
        padding-bottom: 2rem !important
    }

    .ui.stackable.celled.grid > .row {
        box-shadow: none !important
    }

    .ui.stackable.divided:not(.vertically).grid > .column:not(.row), .ui.stackable.divided:not(.vertically).grid > .row > .column {
        padding-left: 0 !important;
        padding-right: 0 !important
    }
}

@media only screen and (max-width: 767px) {
    .ui.grid.grid.grid > .row > [class*="tablet only"].column:not(.mobile), .ui.grid.grid.grid > [class*="tablet only"].column:not(.mobile), .ui.grid.grid.grid > [class*="tablet only"].row:not(.mobile), .ui[class*="tablet only"].grid.grid.grid:not(.mobile) {
        display: none !important
    }

    .ui.grid.grid.grid > .row > [class*="computer only"].column:not(.mobile), .ui.grid.grid.grid > [class*="computer only"].column:not(.mobile), .ui.grid.grid.grid > [class*="computer only"].row:not(.mobile), .ui[class*="computer only"].grid.grid.grid:not(.mobile) {
        display: none !important
    }

    .ui.grid.grid.grid > .row > [class*="large screen only"].column:not(.mobile), .ui.grid.grid.grid > [class*="large screen only"].column:not(.mobile), .ui.grid.grid.grid > [class*="large screen only"].row:not(.mobile), .ui[class*="large screen only"].grid.grid.grid:not(.mobile) {
        display: none !important
    }

    .ui.grid.grid.grid > .row > [class*="widescreen only"].column:not(.mobile), .ui.grid.grid.grid > [class*="widescreen only"].column:not(.mobile), .ui.grid.grid.grid > [class*="widescreen only"].row:not(.mobile), .ui[class*="widescreen only"].grid.grid.grid:not(.mobile) {
        display: none !important
    }
}

@media only screen and (min-width: 768px) and (max-width:991px) {
    .ui.grid.grid.grid > .row > [class*="mobile only"].column:not(.tablet), .ui.grid.grid.grid > [class*="mobile only"].column:not(.tablet), .ui.grid.grid.grid > [class*="mobile only"].row:not(.tablet), .ui[class*="mobile only"].grid.grid.grid:not(.tablet) {
        display: none !important
    }

    .ui.grid.grid.grid > .row > [class*="computer only"].column:not(.tablet), .ui.grid.grid.grid > [class*="computer only"].column:not(.tablet), .ui.grid.grid.grid > [class*="computer only"].row:not(.tablet), .ui[class*="computer only"].grid.grid.grid:not(.tablet) {
        display: none !important
    }

    .ui.grid.grid.grid > .row > [class*="large screen only"].column:not(.mobile), .ui.grid.grid.grid > [class*="large screen only"].column:not(.mobile), .ui.grid.grid.grid > [class*="large screen only"].row:not(.mobile), .ui[class*="large screen only"].grid.grid.grid:not(.mobile) {
        display: none !important
    }

    .ui.grid.grid.grid > .row > [class*="widescreen only"].column:not(.mobile), .ui.grid.grid.grid > [class*="widescreen only"].column:not(.mobile), .ui.grid.grid.grid > [class*="widescreen only"].row:not(.mobile), .ui[class*="widescreen only"].grid.grid.grid:not(.mobile) {
        display: none !important
    }
}

@media only screen and (min-width: 992px) and (max-width:1199px) {
    .ui.grid.grid.grid > .row > [class*="mobile only"].column:not(.computer), .ui.grid.grid.grid > [class*="mobile only"].column:not(.computer), .ui.grid.grid.grid > [class*="mobile only"].row:not(.computer), .ui[class*="mobile only"].grid.grid.grid:not(.computer) {
        display: none !important
    }

    .ui.grid.grid.grid > .row > [class*="tablet only"].column:not(.computer), .ui.grid.grid.grid > [class*="tablet only"].column:not(.computer), .ui.grid.grid.grid > [class*="tablet only"].row:not(.computer), .ui[class*="tablet only"].grid.grid.grid:not(.computer) {
        display: none !important
    }

    .ui.grid.grid.grid > .row > [class*="large screen only"].column:not(.mobile), .ui.grid.grid.grid > [class*="large screen only"].column:not(.mobile), .ui.grid.grid.grid > [class*="large screen only"].row:not(.mobile), .ui[class*="large screen only"].grid.grid.grid:not(.mobile) {
        display: none !important
    }

    .ui.grid.grid.grid > .row > [class*="widescreen only"].column:not(.mobile), .ui.grid.grid.grid > [class*="widescreen only"].column:not(.mobile), .ui.grid.grid.grid > [class*="widescreen only"].row:not(.mobile), .ui[class*="widescreen only"].grid.grid.grid:not(.mobile) {
        display: none !important
    }
}

@media only screen and (min-width: 1200px) and (max-width:1919px) {
    .ui.grid.grid.grid > .row > [class*="mobile only"].column:not(.computer), .ui.grid.grid.grid > [class*="mobile only"].column:not(.computer), .ui.grid.grid.grid > [class*="mobile only"].row:not(.computer), .ui[class*="mobile only"].grid.grid.grid:not(.computer) {
        display: none !important
    }

    .ui.grid.grid.grid > .row > [class*="tablet only"].column:not(.computer), .ui.grid.grid.grid > [class*="tablet only"].column:not(.computer), .ui.grid.grid.grid > [class*="tablet only"].row:not(.computer), .ui[class*="tablet only"].grid.grid.grid:not(.computer) {
        display: none !important
    }

    .ui.grid.grid.grid > .row > [class*="widescreen only"].column:not(.mobile), .ui.grid.grid.grid > [class*="widescreen only"].column:not(.mobile), .ui.grid.grid.grid > [class*="widescreen only"].row:not(.mobile), .ui[class*="widescreen only"].grid.grid.grid:not(.mobile) {
        display: none !important
    }
}
@media only screen and (min-width: 1920px) {
    .ui.grid.grid.grid > .row > [class*="mobile only"].column:not(.computer), .ui.grid.grid.grid > [class*="mobile only"].column:not(.computer), .ui.grid.grid.grid > [class*="mobile only"].row:not(.computer), .ui[class*="mobile only"].grid.grid.grid:not(.computer) {
        display: none !important
    }

    .ui.grid.grid.grid > .row > [class*="tablet only"].column:not(.computer), .ui.grid.grid.grid > [class*="tablet only"].column:not(.computer), .ui.grid.grid.grid > [class*="tablet only"].row:not(.computer), .ui[class*="tablet only"].grid.grid.grid:not(.computer) {
        display: none !important
    }
}

    */
/*!
 * # Semantic UI 2.2.12 - Table
 * http://github.com/semantic-org/semantic-ui/
 *
 *
 * Released under the MIT license
 * http://opensource.org/licenses/MIT
 *
 */
.ui.table {
    width: 100%;
    background: #fff;
    margin: 1em 0;
    border: 1px solid rgba(34,36,38,.15);
    box-shadow: none;
    border-radius: .28571429rem;
    text-align: left;
    color: rgba(0,0,0,.87);
    border-collapse: separate;
    border-spacing: 0
}

    .ui.table:first-child {
        margin-top: 0
    }

    .ui.table:last-child {
        margin-bottom: 0
    }

    .ui.table td, .ui.table th {
        -webkit-transition: background .1s ease,color .1s ease;
        transition: background .1s ease,color .1s ease
    }

    .ui.table thead {
        box-shadow: none
    }

        .ui.table thead th {
            cursor: auto;
            background: #f9fafb;
            text-align: inherit;
            color: rgba(0,0,0,.87);
            padding: .92857143em .78571429em;
            vertical-align: inherit;
            font-style: none;
            font-weight: 700;
            text-transform: none;
            border-bottom: 1px solid rgba(34,36,38,.1);
            border-left: none
        }

        .ui.table thead tr > th:first-child {
            border-left: none
        }

        .ui.table thead tr:first-child > th:first-child {
            border-radius: .28571429rem 0 0 0
        }

        .ui.table thead tr:first-child > th:last-child {
            border-radius: 0 .28571429rem 0 0
        }

        .ui.table thead tr:first-child > th:only-child {
            border-radius: .28571429rem .28571429rem 0 0
        }

    .ui.table tfoot {
        box-shadow: none
    }

        .ui.table tfoot th {
            cursor: auto;
            border-top: 1px solid rgba(34,36,38,.15);
            background: #f9fafb;
            text-align: inherit;
            color: rgba(0,0,0,.87);
            padding: .78571429em .78571429em;
            vertical-align: middle;
            font-style: normal;
            font-weight: 400;
            text-transform: none
        }

        .ui.table tfoot tr > th:first-child {
            border-left: none
        }

        .ui.table tfoot tr:first-child > th:first-child {
            border-radius: 0 0 0 .28571429rem
        }

        .ui.table tfoot tr:first-child > th:last-child {
            border-radius: 0 0 .28571429rem 0
        }

        .ui.table tfoot tr:first-child > th:only-child {
            border-radius: 0 0 .28571429rem .28571429rem
        }

    .ui.table tr td {
        border-top: 1px solid rgba(34,36,38,.1)
    }

    .ui.table tr:first-child td {
        border-top: none
    }

    .ui.table td {
        padding: .78571429em .78571429em;
        text-align: inherit
    }

    .ui.table > .icon {
        vertical-align: baseline
    }

        .ui.table > .icon:only-child {
            margin: 0
        }

    .ui.table.segment {
        padding: 0
    }

        .ui.table.segment:after {
            display: none
        }

        .ui.table.segment.stacked:after {
            display: block
        }

@media only screen and (max-width: 767px) {
    .ui.table:not(.unstackable) {
        width: 100%
    }

        .ui.table:not(.unstackable) tbody, .ui.table:not(.unstackable) tr, .ui.table:not(.unstackable) tr > td, .ui.table:not(.unstackable) tr > th {
            width: auto !important;
            display: block !important
        }

    .ui.table:not(.unstackable) {
        padding: 0
    }

        .ui.table:not(.unstackable) thead {
            display: block
        }

        .ui.table:not(.unstackable) tfoot {
            display: block
        }

        .ui.table:not(.unstackable) tr {
            padding-top: 1em;
            padding-bottom: 1em;
            box-shadow: 0 -1px 0 0 rgba(0,0,0,.1) inset !important
        }

            .ui.table:not(.unstackable) tr > td, .ui.table:not(.unstackable) tr > th {
                background: 0 0;
                border: none !important;
                padding: .25em .75em !important;
                box-shadow: none !important
            }

        .ui.table:not(.unstackable) td:first-child, .ui.table:not(.unstackable) th:first-child {
            font-weight: 700
        }

    .ui.definition.table:not(.unstackable) thead th:first-child {
        box-shadow: none !important
    }
}

.ui.table td .image, .ui.table td .image img, .ui.table th .image, .ui.table th .image img {
    max-width: none
}

.ui.structured.table {
    border-collapse: collapse
}

    .ui.structured.table thead th {
        border-left: none;
        border-right: none
    }

.ui.structured.sortable.table thead th {
    border-left: 1px solid rgba(34,36,38,.15);
    border-right: 1px solid rgba(34,36,38,.15)
}

.ui.structured.basic.table th {
    border-left: none;
    border-right: none
}

.ui.structured.celled.table tr td, .ui.structured.celled.table tr th {
    border-left: 1px solid rgba(34,36,38,.1);
    border-right: 1px solid rgba(34,36,38,.1)
}

.ui.definition.table thead:not(.full-width) th:first-child {
    pointer-events: none;
    background: 0 0;
    font-weight: 400;
    color: rgba(0,0,0,.4);
    box-shadow: -1px -1px 0 1px #fff
}

.ui.definition.table tfoot:not(.full-width) th:first-child {
    pointer-events: none;
    background: 0 0;
    font-weight: rgba(0,0,0,.4);
    color: normal;
    box-shadow: 1px 1px 0 1px #fff
}

.ui.celled.definition.table thead:not(.full-width) th:first-child {
    box-shadow: 0 -1px 0 1px #fff
}

.ui.celled.definition.table tfoot:not(.full-width) th:first-child {
    box-shadow: 0 1px 0 1px #fff
}

.ui.definition.table tr td.definition, .ui.definition.table tr td:first-child:not(.ignored) {
    background: rgba(0,0,0,.03);
    font-weight: 700;
    color: rgba(0,0,0,.95);
    text-transform: '';
    box-shadow: '';
    text-align: '';
    font-size: 1em;
    padding-left: '';
    padding-right: ''
}

.ui.definition.table thead:not(.full-width) th:nth-child(2) {
    border-left: 1px solid rgba(34,36,38,.15)
}

.ui.definition.table tfoot:not(.full-width) th:nth-child(2) {
    border-left: 1px solid rgba(34,36,38,.15)
}

.ui.definition.table td:nth-child(2) {
    border-left: 1px solid rgba(34,36,38,.15)
}

.ui.table td.positive, .ui.table tr.positive {
    box-shadow: 0 0 0 #a3c293 inset
}

.ui.table td.positive, .ui.table tr.positive {
    background: #f7ffe4 !important;
    color: #2c662d !important
}

.ui.table td.negative, .ui.table tr.negative {
    box-shadow: 0 0 0 #e0b4b4 inset
}

.ui.table td.negative, .ui.table tr.negative {
    background: #fff6f6 !important;
    color: #9f3a38 !important
}

.ui.table td.error, .ui.table tr.error {
    box-shadow: 0 0 0 #e0b4b4 inset
}

.ui.table td.error, .ui.table tr.error {
    background: #fff6f6 !important;
    color: #9f3a38 !important
}

.ui.table td.warning, .ui.table tr.warning {
    box-shadow: 0 0 0 #c9ba9b inset
}

.ui.table td.warning, .ui.table tr.warning {
    background: #fffaf3 !important;
    color: #573a08 !important
}

.ui.table td.active, .ui.table tr.active {
    box-shadow: 0 0 0 rgba(0,0,0,.87) inset
}

.ui.table td.active, .ui.table tr.active {
    background: #e0e0e0 !important;
    color: rgba(0,0,0,.87) !important
}

.ui.table tr td.disabled, .ui.table tr.disabled td, .ui.table tr.disabled:hover, .ui.table tr:hover td.disabled {
    pointer-events: none;
    color: rgba(40,40,40,.3)
}

@media only screen and (max-width: 991px) {
    .ui[class*="tablet stackable"].table, .ui[class*="tablet stackable"].table tbody, .ui[class*="tablet stackable"].table tr, .ui[class*="tablet stackable"].table tr > td, .ui[class*="tablet stackable"].table tr > th {
        width: 100% !important;
        display: block !important
    }

    .ui[class*="tablet stackable"].table {
        padding: 0
    }

        .ui[class*="tablet stackable"].table thead {
            display: block
        }

        .ui[class*="tablet stackable"].table tfoot {
            display: block
        }

        .ui[class*="tablet stackable"].table tr {
            padding-top: 1em;
            padding-bottom: 1em;
            box-shadow: 0 -1px 0 0 rgba(0,0,0,.1) inset !important
        }

            .ui[class*="tablet stackable"].table tr > td, .ui[class*="tablet stackable"].table tr > th {
                background: 0 0;
                border: none !important;
                padding: .25em .75em;
                box-shadow: none !important
            }

    .ui.definition[class*="tablet stackable"].table thead th:first-child {
        box-shadow: none !important
    }
}

.ui.table [class*="left aligned"], .ui.table[class*="left aligned"] {
    text-align: left
}

.ui.table [class*="center aligned"], .ui.table[class*="center aligned"] {
    text-align: center
}

.ui.table [class*="right aligned"], .ui.table[class*="right aligned"] {
    text-align: right
}

.ui.table [class*="top aligned"], .ui.table[class*="top aligned"] {
    vertical-align: top
}

.ui.table [class*="middle aligned"], .ui.table[class*="middle aligned"] {
    vertical-align: middle
}

.ui.table [class*="bottom aligned"], .ui.table[class*="bottom aligned"] {
    vertical-align: bottom
}

.ui.table td.collapsing, .ui.table th.collapsing {
    width: 1px;
    white-space: nowrap
}

.ui.fixed.table {
    table-layout: fixed
}

    .ui.fixed.table td, .ui.fixed.table th {
        overflow: hidden;
        text-overflow: ellipsis
    }

.ui.selectable.table tbody tr:hover, .ui.table tbody tr td.selectable:hover {
    background: rgba(0,0,0,.05) !important;
    color: rgba(0,0,0,.95) !important
}

.ui.inverted.table tbody tr td.selectable:hover, .ui.selectable.inverted.table tbody tr:hover {
    background: rgba(255,255,255,.08) !important;
    color: #fff !important
}

.ui.table tbody tr td.selectable {
    padding: 0
}

    .ui.table tbody tr td.selectable > a:not(.ui) {
        display: block;
        color: inherit;
        padding: .78571429em .78571429em
    }

.ui.selectable.table tr.error:hover, .ui.selectable.table tr:hover td.error, .ui.table tr td.selectable.error:hover {
    background: #ffe7e7 !important;
    color: #943634 !important
}

.ui.selectable.table tr.warning:hover, .ui.selectable.table tr:hover td.warning, .ui.table tr td.selectable.warning:hover {
    background: #fff4e4 !important;
    color: #493107 !important
}

.ui.selectable.table tr.active:hover, .ui.selectable.table tr:hover td.active, .ui.table tr td.selectable.active:hover {
    background: #e0e0e0 !important;
    color: rgba(0,0,0,.87) !important
}

.ui.selectable.table tr.positive:hover, .ui.selectable.table tr:hover td.positive, .ui.table tr td.selectable.positive:hover {
    background: #f7ffe6 !important;
    color: #275b28 !important
}

.ui.selectable.table tr.negative:hover, .ui.selectable.table tr:hover td.negative, .ui.table tr td.selectable.negative:hover {
    background: #ffe7e7 !important;
    color: #943634 !important
}

.ui.attached.table {
    top: 0;
    bottom: 0;
    border-radius: 0;
    margin: 0 -1px;
    width: calc(100% + 2px);
    max-width: calc(100% + 2px);
    box-shadow: none;
    border: 1px solid #d4d4d5
}

.ui.attached + .ui.attached.table:not(.top) {
    border-top: none
}

.ui[class*="top attached"].table {
    bottom: 0;
    margin-bottom: 0;
    top: 0;
    margin-top: 1em;
    border-radius: .28571429rem .28571429rem 0 0
}

.ui.table[class*="top attached"]:first-child {
    margin-top: 0
}

.ui[class*="bottom attached"].table {
    bottom: 0;
    margin-top: 0;
    top: 0;
    margin-bottom: 1em;
    box-shadow: none,none;
    border-radius: 0 0 .28571429rem .28571429rem
}

    .ui[class*="bottom attached"].table:last-child {
        margin-bottom: 0
    }

.ui.striped.table tbody tr:nth-child(2n), .ui.striped.table > tr:nth-child(2n) {
    background-color: rgba(0,0,50,.02)
}

.ui.inverted.striped.table tbody tr:nth-child(2n), .ui.inverted.striped.table > tr:nth-child(2n) {
    background-color: rgba(255,255,255,.05)
}

.ui.striped.selectable.selectable.selectable.table tbody tr.active:hover {
    background: #efefef !important;
    color: rgba(0,0,0,.95) !important
}

.ui.table [class*="single line"], .ui.table[class*="single line"] {
    white-space: nowrap
}

.ui.table [class*="single line"], .ui.table[class*="single line"] {
    white-space: nowrap
}

.ui.red.table {
    border-top: .2em solid #db2828
}

.ui.inverted.red.table {
    background-color: #db2828 !important;
    color: #fff !important
}

.ui.orange.table {
    border-top: .2em solid #f2711c
}

.ui.inverted.orange.table {
    background-color: #f2711c !important;
    color: #fff !important
}

.ui.yellow.table {
    border-top: .2em solid #fbbd08
}

.ui.inverted.yellow.table {
    background-color: #fbbd08 !important;
    color: #fff !important
}

.ui.olive.table {
    border-top: .2em solid #b5cc18
}

.ui.inverted.olive.table {
    background-color: #b5cc18 !important;
    color: #fff !important
}

.ui.green.table {
    border-top: .2em solid #21ba45
}

.ui.inverted.green.table {
    background-color: #21ba45 !important;
    color: #fff !important
}

.ui.teal.table {
    border-top: .2em solid #00b5ad
}

.ui.inverted.teal.table {
    background-color: #00b5ad !important;
    color: #fff !important
}

.ui.blue.table {
    border-top: .2em solid #2185d0
}

.ui.inverted.blue.table {
    background-color: #2185d0 !important;
    color: #fff !important
}

.ui.violet.table {
    border-top: .2em solid #6435c9
}

.ui.inverted.violet.table {
    background-color: #6435c9 !important;
    color: #fff !important
}

.ui.purple.table {
    border-top: .2em solid #a333c8
}

.ui.inverted.purple.table {
    background-color: #a333c8 !important;
    color: #fff !important
}

.ui.pink.table {
    border-top: .2em solid #e03997
}

.ui.inverted.pink.table {
    background-color: #e03997 !important;
    color: #fff !important
}

.ui.brown.table {
    border-top: .2em solid #a5673f
}

.ui.inverted.brown.table {
    background-color: #a5673f !important;
    color: #fff !important
}

.ui.grey.table {
    border-top: .2em solid #767676
}

.ui.inverted.grey.table {
    background-color: #767676 !important;
    color: #fff !important
}

.ui.black.table {
    border-top: .2em solid #1b1c1d
}

.ui.inverted.black.table {
    background-color: #1b1c1d !important;
    color: #fff !important
}

.ui.one.column.table td {
    width: 100%
}

.ui.two.column.table td {
    width: 50%
}

.ui.three.column.table td {
    width: 33.33333333%
}

.ui.four.column.table td {
    width: 25%
}

.ui.five.column.table td {
    width: 20%
}

.ui.six.column.table td {
    width: 16.66666667%
}

.ui.seven.column.table td {
    width: 14.28571429%
}

.ui.eight.column.table td {
    width: 12.5%
}

.ui.nine.column.table td {
    width: 11.11111111%
}

.ui.ten.column.table td {
    width: 10%
}

.ui.eleven.column.table td {
    width: 9.09090909%
}

.ui.twelve.column.table td {
    width: 8.33333333%
}

.ui.thirteen.column.table td {
    width: 7.69230769%
}

.ui.fourteen.column.table td {
    width: 7.14285714%
}

.ui.fifteen.column.table td {
    width: 6.66666667%
}

.ui.sixteen.column.table td {
    width: 6.25%
}

.ui.table td.one.wide, .ui.table th.one.wide {
    width: 6.25%
}

.ui.table td.two.wide, .ui.table th.two.wide {
    width: 12.5%
}

.ui.table td.three.wide, .ui.table th.three.wide {
    width: 18.75%
}

.ui.table td.four.wide, .ui.table th.four.wide {
    width: 25%
}

.ui.table td.five.wide, .ui.table th.five.wide {
    width: 31.25%
}

.ui.table td.six.wide, .ui.table th.six.wide {
    width: 37.5%
}

.ui.table td.seven.wide, .ui.table th.seven.wide {
    width: 43.75%
}

.ui.table td.eight.wide, .ui.table th.eight.wide {
    width: 50%
}

.ui.table td.nine.wide, .ui.table th.nine.wide {
    width: 56.25%
}

.ui.table td.ten.wide, .ui.table th.ten.wide {
    width: 62.5%
}

.ui.table td.eleven.wide, .ui.table th.eleven.wide {
    width: 68.75%
}

.ui.table td.twelve.wide, .ui.table th.twelve.wide {
    width: 75%
}

.ui.table td.thirteen.wide, .ui.table th.thirteen.wide {
    width: 81.25%
}

.ui.table td.fourteen.wide, .ui.table th.fourteen.wide {
    width: 87.5%
}

.ui.table td.fifteen.wide, .ui.table th.fifteen.wide {
    width: 93.75%
}

.ui.table td.sixteen.wide, .ui.table th.sixteen.wide {
    width: 100%
}

.ui.sortable.table thead th {
    cursor: pointer;
    white-space: nowrap;
    border-left: 1px solid rgba(34,36,38,.15);
    color: rgba(0,0,0,.87)
}

    .ui.sortable.table thead th:first-child {
        border-left: none
    }

    .ui.sortable.table thead th.sorted, .ui.sortable.table thead th.sorted:hover {
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none
    }

    .ui.sortable.table thead th:after {
        display: none;
        font-style: normal;
        font-weight: 400;
        text-decoration: inherit;
        content: '';
        height: 1em;
        width: auto;
        opacity: .8;
        margin: 0 0 0 .5em;
        font-family: Icons
    }

    .ui.sortable.table thead th.ascending:after {
        content: '\f0d8'
    }

    .ui.sortable.table thead th.descending:after {
        content: '\f0d7'
    }

.ui.sortable.table th.disabled:hover {
    cursor: auto;
    color: rgba(40,40,40,.3)
}

.ui.sortable.table thead th:hover {
    background: rgba(0,0,0,.05);
    color: rgba(0,0,0,.8)
}

.ui.sortable.table thead th.sorted {
    background: rgba(0,0,0,.05);
    color: rgba(0,0,0,.95)
}

    .ui.sortable.table thead th.sorted:after {
        display: inline-block
    }

    .ui.sortable.table thead th.sorted:hover {
        background: rgba(0,0,0,.05);
        color: rgba(0,0,0,.95)
    }

.ui.inverted.sortable.table thead th.sorted {
    background: rgba(255,255,255,.15) -webkit-linear-gradient(transparent,rgba(0,0,0,.05));
    background: rgba(255,255,255,.15) linear-gradient(transparent,rgba(0,0,0,.05));
    color: #fff
}

.ui.inverted.sortable.table thead th:hover {
    background: rgba(255,255,255,.08) -webkit-linear-gradient(transparent,rgba(0,0,0,.05));
    background: rgba(255,255,255,.08) linear-gradient(transparent,rgba(0,0,0,.05));
    color: #fff
}

.ui.inverted.sortable.table thead th {
    border-left-color: transparent;
    border-right-color: transparent
}

.ui.inverted.table {
    background: #333;
    color: rgba(255,255,255,.9);
    border: none
}

    .ui.inverted.table th {
        background-color: rgba(0,0,0,.15);
        border-color: rgba(255,255,255,.1) !important;
        color: rgba(255,255,255,.9) !important
    }

    .ui.inverted.table tr td {
        border-color: rgba(255,255,255,.1) !important
    }

        .ui.inverted.table tr td.disabled, .ui.inverted.table tr.disabled td, .ui.inverted.table tr.disabled:hover td, .ui.inverted.table tr:hover td.disabled {
            pointer-events: none;
            color: rgba(225,225,225,.3)
        }

.ui.inverted.definition.table tfoot:not(.full-width) th:first-child, .ui.inverted.definition.table thead:not(.full-width) th:first-child {
    background: #fff
}

.ui.inverted.definition.table tr td:first-child {
    background: rgba(255,255,255,.02);
    color: #fff
}

.ui.collapsing.table {
    width: auto
}

.ui.basic.table {
    background: 0 0;
    border: 1px solid rgba(34,36,38,.15);
    box-shadow: none
}

    .ui.basic.table tfoot, .ui.basic.table thead {
        box-shadow: none
    }

    .ui.basic.table th {
        background: 0 0;
        border-left: none
    }

    .ui.basic.table tbody tr {
        border-bottom: 1px solid rgba(0,0,0,.1)
    }

    .ui.basic.table td {
        background: 0 0
    }

.ui.basic.striped.table tbody tr:nth-child(2n) {
    background-color: rgba(0,0,0,.05) !important
}

.ui[class*="very basic"].table {
    border: none
}

    .ui[class*="very basic"].table:not(.sortable):not(.striped) td, .ui[class*="very basic"].table:not(.sortable):not(.striped) th {
        padding: ''
    }

        .ui[class*="very basic"].table:not(.sortable):not(.striped) td:first-child, .ui[class*="very basic"].table:not(.sortable):not(.striped) th:first-child {
            padding-left: 0
        }

        .ui[class*="very basic"].table:not(.sortable):not(.striped) td:last-child, .ui[class*="very basic"].table:not(.sortable):not(.striped) th:last-child {
            padding-right: 0
        }

    .ui[class*="very basic"].table:not(.sortable):not(.striped) thead tr:first-child th {
        padding-top: 0
    }

.ui.celled.table tr td, .ui.celled.table tr th {
    border-left: 1px solid rgba(34,36,38,.1)
}

    .ui.celled.table tr td:first-child, .ui.celled.table tr th:first-child {
        border-left: none
    }

.ui.padded.table th {
    padding-left: 1em;
    padding-right: 1em
}

.ui.padded.table td, .ui.padded.table th {
    padding: 1em 1em
}

.ui[class*="very padded"].table th {
    padding-left: 1.5em;
    padding-right: 1.5em
}

.ui[class*="very padded"].table td {
    padding: 1.5em 1.5em
}

.ui.compact.table th {
    padding-left: .7em;
    padding-right: .7em
}

.ui.compact.table td {
    padding: .5em .7em
}

.ui[class*="very compact"].table th {
    padding-left: .6em;
    padding-right: .6em
}

.ui[class*="very compact"].table td {
    padding: .4em .6em
}

.ui.small.table {
    font-size: .9em
}

.ui.table {
    font-size: 1em
}

.ui.large.table {
    font-size: 1.1em
}
/*
 * This combined file was created by the DataTables downloader builder:
 *   https://datatables.net/download
 *
 * To rebuild or modify this file with the latest versions of the included
 * software please visit:
 *   https://datatables.net/download/#se/dt-1.10.25
 *
 * Included libraries:
 *  DataTables 1.10.25
 */

table.dataTable.table {
    margin: 0
}

    table.dataTable.table thead th, table.dataTable.table thead td {
        position: relative
    }

        table.dataTable.table thead th.sorting, table.dataTable.table thead th.sorting_asc, table.dataTable.table thead th.sorting_desc, table.dataTable.table thead td.sorting, table.dataTable.table thead td.sorting_asc, table.dataTable.table thead td.sorting_desc {
            padding-right: 20px
        }

            table.dataTable.table thead th.sorting:after, table.dataTable.table thead th.sorting_asc:after, table.dataTable.table thead th.sorting_desc:after, table.dataTable.table thead td.sorting:after, table.dataTable.table thead td.sorting_asc:after, table.dataTable.table thead td.sorting_desc:after {
                position: absolute;
                top: 12px;
                right: 8px;
                display: block;
                font-family: Icons
            }

            table.dataTable.table thead th.sorting:after, table.dataTable.table thead td.sorting:after {
                content: "";
                color: #ddd;
                font-size: .8em
            }

            table.dataTable.table thead th.sorting_asc:after, table.dataTable.table thead td.sorting_asc:after {
                content: ""
            }

            table.dataTable.table thead th.sorting_desc:after, table.dataTable.table thead td.sorting_desc:after {
                content: ""
            }

    table.dataTable.table td, table.dataTable.table th {
        -webkit-box-sizing: content-box;
        box-sizing: content-box
    }

        table.dataTable.table td.dataTables_empty, table.dataTable.table th.dataTables_empty {
            text-align: center
        }

    table.dataTable.table.nowrap th, table.dataTable.table.nowrap td {
        white-space: nowrap
    }

div.dataTables_wrapper div.dataTables_length select {
    vertical-align: middle;
    min-height: 2.7142em
}

div.dataTables_wrapper div.dataTables_length .ui.selection.dropdown {
    min-width: 0
}

div.dataTables_wrapper div.dataTables_filter span.input {
    margin-left: .5em
}

div.dataTables_wrapper div.dataTables_info {
    padding-top: 13px;
    white-space: nowrap
}

div.dataTables_wrapper div.dataTables_processing {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 200px;
    margin-left: -100px;
    text-align: center
}

div.dataTables_wrapper div.row.dt-table {
    padding: 0
}

div.dataTables_wrapper div.dataTables_scrollHead table.dataTable {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    border-bottom: none
}

div.dataTables_wrapper div.dataTables_scrollBody thead .sorting:after, div.dataTables_wrapper div.dataTables_scrollBody thead .sorting_asc:after, div.dataTables_wrapper div.dataTables_scrollBody thead .sorting_desc:after {
    display: none
}

div.dataTables_wrapper div.dataTables_scrollBody table.dataTable {
    border-radius: 0;
    border-top: none;
    border-bottom-width: 0
}

    div.dataTables_wrapper div.dataTables_scrollBody table.dataTable.no-footer {
        border-bottom-width: 1px
    }

div.dataTables_wrapper div.dataTables_scrollFoot table.dataTable {
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    border-top: none
}


/*
    Fixed Column
*/
table.DTFC_Cloned thead, table.DTFC_Cloned tfoot {
    background-color: white
}

div.DTFC_Blocker {
    background-color: white
}

div.DTFC_LeftWrapper table.dataTable, div.DTFC_RightWrapper table.dataTable {
    margin-bottom: 0;
    z-index: 2
}

    div.DTFC_LeftWrapper table.dataTable.no-footer, div.DTFC_RightWrapper table.dataTable.no-footer {
        border-bottom: none
    }

table.dataTable.display tbody tr.DTFC_NoData {
    background-color: transparent
}

/* FIXED HEADER */
table.fixedHeader-floating {
    position: fixed !important;
    background-color: white
}

    table.fixedHeader-floating.no-footer {
        border-bottom-width: 0
    }

table.fixedHeader-locked {
    position: absolute !important;
    background-color: white
}

@media print {
    table.fixedHeader-floating {
        display: none
    }
}
