.search-body {
    margin: 0;
    border: none;
    padding: 15px;
}

#spnSubHdRight{
    padding-top: 5px;
    width: auto;
    cursor: pointer;
}

.recent-header-row{
    display: flex;
}
.recent-items{
    display: flex;
}

.recent-search-list, .fav-reports-list {
    margin:8px 10px 0;
}
.recent-row{
    display: flex;
    flex-direction: column;
    margin: 5px;
    padding: 2px;
    flex: 0 15%;
    box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
    margin: 4px 15px 0px 2px;
}
.sub-number{
    font-size: 20px;
    font-weight: 600;
    margin : 0px 0px 6px 6px;
    cursor: pointer;
}
.sub-header{
    margin: 2px 2px 2px 6px;
    cursor: pointer;
}
.recent-row .sub-details{
        flex : 0 15%;
        text-decoration: underline;
        color: #5b5b9c;
        cursor: pointer;
}      
.search-params-outer{
    border: none;
    margin-left: 6px;
}
.fav-table{
    margin-top: 10px;
    width: 100%;
}
    .fav-table td, .fav-table th {
        border: 1px solid #e4eaec;
    }
    .fav-table th {
        padding:6px;
        font-size:1.05em;
        font-weight:500;
    }
.fav-search-params-outer{
    padding: 0px 2px;
}
.fav-selected-comps{
    margin-left: 10px;
    padding: 4px;
    width: 53%;
}
.comp-keyfields{
    border: 0.5px solid #dddbda;
    margin: 5px;
    border-radius: 6px;
    padding: 6px;
    display: inline-block;
}
.b-left{
    border-left: 1px solid #dddbda;
}
.b-bottom{
    border-bottom: 1px solid #dddbda;
}
.b-top{
    border-top: 1px solid #dddbda;
}
.srch-params-recent{
    padding: 3px 0px 3px 0px;
    font-size:  0.9em;
    cursor: pointer;
}
.srch-params-recent:before{
    content: '✔';
}
.fav-srch-params:before{
    content: '✔';
}
.fav-sub-details,.fav-remove{
    vertical-align: middle;
    padding: 10px;
    cursor: pointer;
    text-align: center;
}
.fav-sub-details{
    width :  20%;
}
    .fav-sub-details span {
        text-decoration: underline;
        color: #5b5b9c;
        font-size: 1.05em;
        font-weight: 500;
    } 
.fav-remove{
    color : red;
}
.fav-srch-params {
    margin: 5px 2px;
    display: inline-block;
    font-size: 0.9em;
    width: 100%;
}
.srch-param-selected , .fav-srch-param-selected{
    background-color: #0176d3;
    color : white;
}

table,td{
    border  : 1px solid #a29791
}
table{
    border-collapse: collapse;
}

.comp-settings {
    display: flex;
    align-items: center;
    margin-left: auto;
    font-size: 1.05em;
    padding: 5px 8px;
}

    .comp-settings span {
        padding-left: 8px;
    }

.comp-clear {
    display: flex;
    align-items: center;
    margin-left: auto;
    font-size: 1.05em;
    padding: 5px 8px;
 }   

.cpSettingsMask {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #ffffff69;
    backdrop-filter: saturate(180%) blur(8px);
    z-index: 19;
}

.popup.cpSettingsDialog {
    min-width: 500px;
    min-height: auto;
}

.cpSettingsDialog__row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 8px 0;
}

    .cpSettingsDialog__row select {
        width: 100px;
    }

    .cpSettingsDialog__row label {
        margin-right: 10px;
    }

.cpSettingsDialog__row--univisible > div {
    height: 30px;
    width: 100px;
    display: flex;
    align-items: center;
}

.cpSettingsDialog__row--univisible input[type="checkbox"] {
    margin: 0 10px 0 0;
}

.s-options input, .s-options label, .result-title-panel input, .result-title-panel label {
    cursor: pointer;
}

.placeholder {
    background-color: #e2e2e2;
    position: relative;
}

    .placeholder::before {
        display: block;
        content: "";
        position: absolute;
        top: 0;
        left: -10%;
        width: 50%;
        height: 100%;
        background: -webkit-gradient( linear, left top, right top, from(transparent), color-stop(rgba(255, 255, 255, 0.2)), to(transparent) );
        background: linear-gradient(90deg, transparent, rgba(255, 255, 255, 0.2), transparent);
        animation: loading 0.75s infinite;
    }

@keyframes loading {
    100% {
        left: 60%;
    }
}

button {
    cursor: pointer;
}

.report-button[disabled] {
    background: #ebebeb;
    color: #8f8f8f;
    cursor: default;
}

.d1001 {
    height: 100%;
}

.content-area-wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.subject-parcel-list {
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
    background: #fff;
}

.subject-parcel {
    flex: 0 49%;
    margin-bottom: 10px;
    background-color: #fff;
    box-shadow: 0 0 5px 0px #00000017;
    border: 1px solid #00ae66;
    border-right-width: 10px;
    border-radius: 4px;
    overflow: hidden;
    padding: 0;
    position: initial;
    transition: 0.15s ease-in;
}

.result-container {
    display: none;
    margin: 0px;
    padding: 0;
    overflow: auto;
}

.result-title-panel {
    background-color: #526069;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.result-title-head {
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    padding-right: 20px;
}

.show-map-label,
.show-map-sale {
    display: flex;
    color: white;
    font-size: 16px;
    font-weight: 600;
    align-items: center;
    margin-left: auto;
    padding: 0px 12px 0 0;
    margin-right: 10px;
    border-right: 1px solid #fff;
}

.show-map-sale {
    margin-left: 0;
}

.result-list {
    display: flex;
    flex-wrap: wrap;
    padding: 1%;
}

.result-row {
    display: flex;
    justify-content: center;
    margin-bottom: 25px;
}

.result-card {
    display: flex;
    flex-wrap: wrap;
    border: 1px solid #cfdade;
    box-shadow: 0 0 2px 3px #00000008;
    border-radius: 6px;
    flex: 0 49.5%;
    width: 49.5%;
    margin: 5px 0;
    padding: 5px 8px 8px;
    cursor: pointer;
    position: relative;
}

.result-list .result-card:nth-child(2n + 1) {
    margin-right: 1%;
}

.result-card[sel="1"] {
    background: #373B44; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #4286f4, #373B44); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #4286f4, #373B44); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: #fff;
}

    .result-card[sel="1"] .card-data {
        color: #fff;
    }

    .result-card[sel="1"] .card-label {
        color: #fff;
        opacity: 0.8;
    }

.card-left {
    flex: 0;
    border-radius: 10px;
}

    .card-left .s-source {
        width: 90px;
        max-height: 90px;
        height: 100%;
        position: relative;
    }

.parcel-comp-per {
    padding: 4px 6px;
    background-color: #00ae66;
    color: #fff;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: -1px 1px 4px 3px #00000026;
    font-weight: 500;
}

.card-right {
    padding: 0px 10px;
    display: flex;
    align-content: flex-start;
    flex: 1;
    width: 0;
    flex-wrap: wrap;
}

.card-data-row {
    display: flex;
    flex-direction: column;
    flex: 0 50%;
    width: 50%;
    padding: 1px 0 1px 10px;
}

.card-label,
.card-data {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
}

.card-label {
    color: #76838f;
    margin-bottom: 2px;
    font-size: 0.95em;
}

.card-data {
    font-size: 1.1em;
    font-weight: 500;
}

.card-address-data {
    align-items: center;
    flex-direction: row;
    flex: 100%;
    width: 100%;
    padding: 0 0 4px;
    margin-bottom: 6px;
    border-bottom: 1px solid #e4eaec;
}

    .card-address-data .card-label {
        display: none;
    }

    .card-address-data .card-data {
        font-size: 1.3em;
    }

.subject-card:hover .subject-card:focus-within {
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
    transform: translatey(-5px);
}

.s-header span:last-child,
.s-header-value {
    font-weight: 600;
    font-size: 1rem;
    padding: 10px;
    text-decoration: none;
    color: inherit;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
}

.s-header {
    flex: auto;
    padding: 10px;
}

    .s-header > div {
        padding-top: 5px;
    }

.s-header-label {
    display: inline-block;
    width: 115px;
}

.s-Neighborhood-desc {
    flex: 0 52%;
    padding-right: 8px;
}

.s-Group-label {
    width: 55px;
}

.s-source {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 10px;
}

.s-footer input {
    width: 20px;
    height: 20px;
}

.switch-button {
    background: rgba(255, 255, 255, 0.56);
    border-radius: 4px;
    overflow: hidden;
    width: 200px;
    text-align: center;
    font-size: 14px;
    letter-spacing: 1px;
    color: #4a4a4a;
    position: relative;
    padding-right: 90px;
    position: relative;
}

    .switch-button:before {
        content: "Map View";
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        width: 90px;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 3;
        pointer-events: none;
    }

.switch-button-checkbox {
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 2;
    margin: 0;
}

    .switch-button-checkbox:checked + .switch-button-label:before {
        transform: translateX(90px);
        transition: transform 300ms linear;
    }

    .switch-button-checkbox + .switch-button-label {
        position: relative;
        padding: 5px 0;
        display: block;
        user-select: none;
        pointer-events: none;
    }

        .switch-button-checkbox + .switch-button-label:before {
            content: "";
            background: #fff;
            height: 100%;
            width: 100%;
            position: absolute;
            left: 0;
            top: 0;
            border-radius: 4px;
            transform: translateX(0);
            transition: transform 300ms;
        }

        .switch-button-checkbox + .switch-button-label .switch-button-label-span {
            position: relative;
        }

    .switch-button-checkbox:checked + .switch-button:before {
        color: #f00;
    }

.parcel-details {
    position: relative;
    padding-bottom: 6px;
}

.s-overlay {
    position: absolute;
    height: 100%;
    width: 0;
    top: 0;
    right: 0;
    background: #ffffff7a;
    backdrop-filter: saturate(180%) blur(4px);
    overflow: hidden;
    transition: all 1s ease;
    display: flex;
    justify-content: flex-end;
}

.subject-parcel:hover .s-overlay {
    width: 100%;
}

.s-image {
    padding: 10px;
}

    .s-image > div {
        width: 100px;
        height: 100px;
    }

.s-options {
    background: #fff;
    padding: 8px 6px;
    min-width: 400px;
}

    .s-options > .flex {
        padding: 4px 0;
    }

        .s-options > .flex > div {
            flex: 0 50%;
        }
/*************** SINGLE SUBJECT PARCEL STARTS *******************/
.subject-single {
    flex: 0 100%;
    border: none;
    max-width: 80%;
    margin: 0 auto;
    position: initial;
}

    .subject-single .s-header {
        width: 0;
        flex: 1 40%;
        display: flex;
        flex-wrap: wrap;
        align-content: flex-start;
        border-left: 1px solid #e4eaec;
        min-width: 120px;
    }

        .subject-single .s-header > div:not(.flex),
        .subject-single .s-header > .flex > div {
            flex: 1;
            width: 100%;
            display: flex;
            align-items: center;
        }

        .subject-single .s-header > div .s-header-value {
            font-size: 1.3em;
            font-weight: 600;
            padding: 2px;
        }

    .subject-single .s-header-label {
        padding-right: 8px;
        position: relative;
        min-width: 120px;
        flex: 1;
    }

        .subject-single .s-header-label::after {
            content: ":";
            width: 5px;
            height: 100%;
            position: absolute;
            right: 4px;
        }

    .subject-single .s-header > .flex {
        flex: 1 100%;
        flex-wrap: wrap;
        padding-top: 0;
    }

        .subject-single .s-header > div:not(.flex),
        .subject-single .s-header > .flex > div {
            padding-top: 3px;
        }

    .subject-single .s-overlay {
        flex: 0 40%;
        position: initial;
        overflow: initial;
        width: auto !important;
        background: none;
        backdrop-filter: none;
    }

    .subject-single .s-options {
        min-width: 500px;
        background: #fff;
        padding: 10px;
        border-left: 1px solid #e4eaec;
    }

        .subject-single .s-options > .flex > div {
            flex: 0 50%;
        }

            .subject-single .s-options > .flex > div input {
                margin-right: 10px;
                width: 15px;
                height: 15px;
            }

    .subject-single .search-comparables {
        padding: 6px;
        font-size: 1em;
        font-weight: 500;
    }

/*************** SINGLE SUBJECT PARCEL ENDS *******************/
.search-comparables {
    margin-top: 4px;
    margin-left: auto;
    padding: 6px 8px;
    font-weight: 400;
    font-size: 0.9em;
}

.result-panel {
    flex: 1;
    min-height: 0;
    margin-top: 10px;
    padding: 0 0 0 10px;
}

.selection-panel {
    width: 30%;
    margin: 0;
    margin-right: 10px;
    display: flex;
    flex-direction: column;
    max-width: 500px;
    min-width: 400px;
}

.selected-parcel .s-image {
    padding: 0;
}

.selected-parcel .s-header {
    width: 0;
    padding: 0 0 0 10px;
}

.selected-parcel .s-header-div {
    display: flex;
    align-items: center;
    padding: 0 0 3px;
}

.selected-parcel .flex .s-header-div {
    flex: 0 49%;
    width: 0;
}

.selected-parcel span.s-header-value {
    padding: 0;
    font-size: 1.05em;
}

.selected-parcel .s-header-label {
    min-width: 100px;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: pre;
}

.selected-list {
    border: 1px solid #526069;
    border-radius: 2px;
    flex: 1;
    overflow: auto;
    display: flex;
    flex-direction: column;
}

.selected-list-heading {
    display: flex;
    background-color: #526069;
    justify-content: space-between;
    align-items: center;
    padding: 4px 2px;
    color: #fff;
}

.selected-list-head {
    margin: 0 4px;
}

.report-button {
    background: #fff;
    padding: 4px 8px;
    border: none;
    color: #313131;
    margin-right: 1px;
    border-radius: 4px;
    font-weight: 600;
    font-size: 1em;
}

    .report-button:hover {
        background: #e4eaec;
    }

.selected-list-items {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: space-between;
    padding: 8px;
    overflow-y: auto;
}

.comp-slot {
    flex: 0 49%;
    width: 49%;
    border-radius: 4px;
    margin-bottom: 8px;
    min-height: 56px;
}

.slot-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #f7f8f9;
    border-bottom: 1px solid #eaedef;
    padding: 2px 4px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.slot-id {
    color: #333;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: pre;
    min-width: 0;
    flex: 1;
    display: block;
    padding-right: 4px;
}

.slot-remove {
    width: 15px;
    height: 15px;
    background-position-x: -55px;
    background-size: auto 88%;
}

.comp-slot p {
    font-size: 1.1em;
    font-weight: 600;
    padding: 6px;
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: pre;
    width: 100%;
    text-align: center;
}

.slot-info {
    font-size: 1.1em;
    font-weight: 500;
    font-style: italic;
    margin: 20px auto;
}

.slot-selected {
    border: 1px solid #00ae66;
    cursor: pointer;
}

.slot-unselected {
    background-color: #fff;
    border: 1px solid #00000038;
    position: relative;
    overflow: hidden;
}

    .slot-unselected i {
        display: inline-block;
    }

        .slot-unselected i::after,
        .slot-unselected i::before {
            content: "";
            height: 16px;
            width: 75%;
            position: absolute;
            left: 0;
            right: 0;
            top: 8px;
            background: #e2e2e2;
            margin: 0 auto;
        }

        .slot-unselected i::after {
            top: 32px;
            height: 14px;
            width: 50%;
        }

.gmap {
    width: 100%;
    height: 100%;
    flex: 1;
}

.map-popup {
    transform: none;
    min-width: 130px;
}

.mapview {
    width: 100%;
    height: 100%;
}

.mapview-fullscreen {
    position: fixed;
    top: 50%;
    left: 50%;
    padding: 30px;
    transform: translate(-50%, -50%);
    z-index: 18;
    width: 100%;
    height: 100%;
    background: #030303ba;
}

.map-container {
    position: relative;
    background-color: #fff;
    width: 100%;
    height: 100%;
    padding: 12px;
}

.fullscreen-control {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 40px;
    height: 40px;
    z-index: 19;
    background: #fff;
    border: none;
    border-radius: 2px;
    overflow: hidden;
}

    .fullscreen-control:hover {
        background: #e4e4e4;
    }

    .fullscreen-control img {
        margin: 0 auto;
        display: block;
    }

.popup-dg {
    display: none;
    position: absolute;
    padding: 8px 16px;
    max-width: 500px;
    max-height: 720px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border-radius: 6px;
}

@media only screen and (min-width: 1550px) {
    .subject-single .s-header > div:not(.flex),
    .subject-single .s-header > .flex > div {
        max-width: 50%;
        flex: 1;
    }

    .card-label {
        font-size: 1em;
    }

    .card-data {
        font-size: 1.1em;
    }

    .card-data-row:not(.card-address-data) {
        padding: 2px 0 2px 10px;
    }

    .card-address-data .card-data {
        font-size: 1.4em;
    }

    .card-left .s-source {
        width: 100px;
        max-height: 100px;
    }

    .result-card {
        padding: 10px;
    }
}

@media only screen and (min-width: 1700px) {
    .subject-single {
        max-width: 1400px;
    }

    .result-card {
        flex: 0 32.66%;
        width: 32.66%;
    }

    .result-list .result-card:nth-child(2n + 1) {
        margin-right: 0;
    }

    .result-list .result-card:nth-child(3n-1) {
        margin-right: 1%;
        margin-left: 1%;
    }

    .search-body {
        padding: 20px;
    }
}

@media only screen and (min-width: 2300px) {
    .result-card {
        flex: 0 24.25%;
    }

    .result-list .result-card:nth-child(2n + 1) {
        margin-right: 0;
    }

    .result-list .result-card:nth-child(3n-1) {
        margin-right: 0;
        margin-left: 0;
    }

    .result-list .result-card:nth-child(4n-2) {
        margin-right: 0.5%;
        margin-left: 1%;
    }

    .result-list .result-card:nth-child(4n-1) {
        margin-left: 0.5%;
        margin-right: 1%;
    }
}

@media only screen and (max-width: 1550px) {
    .subject-single .s-header > div:not(.flex) {
        flex: 1 100%;
    }
}

@media only screen and (min-width: 1300px) {
    .subject-parcel-list .card {
        flex: 0 24%;
        margin: 10px 0.5%;
    }
}

@media only screen and (min-width: 1515px) {
    .subject-parcel-list .card {
        flex: 0 19%;
    }
}

@media only screen and (min-width: 2049px) {
    .subject-parcel-list .card {
        flex: 0 15.6%;
        margin: 10px 0.53%;
    }
}

@media only screen and (min-width: 2732px) {
    .subject-parcel-list .card {
        flex: 0 13.2%;
        margin: 10px 0.54%;
    }
}

.card {
    /*position: relative;
    height: 400px;
    max-width: 326px;
    width: 100%;
    overflow: hidden;*/
    border-radius: 1rem;
    /* box-shadow: inset 5px 5px 5px rgba(0,0,0,0.10),
                inset -5px -5px 5px rgba(255, 255, 255, 0.5),
                5px 5px 5px rgba(0,0,0,0.10),
                -5px -5px 5px rgba(255,255,255,0.5); */
    background: white;
    flex: 0 19%;
    margin: 10px 8px;
}

.card__img-container {
    position: relative;
}

.card__img {
    display: block;
    height: 160px;
    box-shadow: rgb(0 0 0 / 10%) 0px 3px 5px;
    position: relative;
    border-radius: 15px;
    z-index: 4;
}

.card__content {
    padding: 0px 5px 8px 5px;
    transition: 0.5s;
}

.card__flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card__actions {
    display: flex;
    flex-direction: column;
    flex: 1;
    flex-wrap: wrap;
    padding: 12px;
    background: #f6f6ff;
    color: black;
    border: 2px solid #003366;
    border-radius: 0 0 15px 15px;
    transition: bottom 0.8s ease;
    z-index: 4;
}

    .card__actions > div {
        margin-bottom: 5px;
        display: flex;
        align-items: center;
    }

.action__slide {
    position: absolute;
    /* top: 0px; */
    left: 0px;
    width: 100%;
    bottom: -200px;
}

.card__actions input {
    width: 15px;
    height: 15px;
    margin: 0 8px 0 0;
    cursor: pointer;
}

.card__actions label {
    cursor: pointer;
}

.card-row {
    display: flex;
    align-content: flex-start;
    flex: 1;
    flex-wrap: wrap;
}

.justify-c {
    justify-content: center;
}

.key1-parent {
    position: absolute;
    bottom: 5px;
    background: #003366;
    color: #fdfdfd;
    text-decoration: none;
    padding: 5px 15px;
    border-radius: 6px;
    font-weight: 700;
    font-size: 14px;
    margin: 6px 13px;
}

.card-address {
    text-align: center;
    font-size: 20px;
    font-weight: 700 !important;
    margin: 0;
    padding: 8px 0px;
}

.card__box {
    /*position: absolute;
    top:20px;
    left:20px;
    right:20px;
    bottom : 20px;*/
    background: white;
    box-shadow: 0px 2px 6px 0px rgb(0 0 0 / 10%);
    /*width: 97%;
    max-width: 18rem;*/
    border-radius: 15px;
    transition: 0.5s;
    margin: 10px;
    position: relative;
    border: 1px solid #e4eaec;
}

.o_f_h {
    overflow: hidden;
}

.card:hover .card__box {
    transform: translateY(-2px);
    box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
}

.card:hover .action__slide {
    bottom: 0px;
}

.tipr_container_bottom {
    width: 680px;
    margin-top: 60px !important;
}
