﻿<%@ Page Language="vb" Theme="CloudAuth" AutoEventWireup="false" MasterPageFile="~/App_MasterPages/SecurityPage.master" CodeBehind="install.aspx.vb" Inherits="CAMACloud.Console.install" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="MainContent" runat="server">
    <p>Cyclomedia License not installed for the account.</p>
</asp:Content>
<asp:Content ID="Content3" ContentPlaceHolderID="Footer" runat="server">
</asp:Content>
