﻿html {
    background: white !important;
}

body {
    border: none;
}

#divtopHeader {
    width: 100%;
    float: left;
    height: 45px;
    z-index: 11;
    background: #091a32;
    position: relative;
    display: flex;
    align-items: center;
}

    #divtopHeader .pipe {
        width: 1px;
        background: #fff;
        height: 24px;
        margin: 0 5px;
        display: inline-block;
    }

.divSubHeader {
    width: 100%;
    float: left;
    height: 30px;
    z-index: 8;
    background-color: #1a355b;
    color: #fff;
    position: relative;
    /*border-bottom: 2px solid #b1b0b0; */
    text-align: left;
}

    .divSubHeader:after {
        content: '';
        display: block;
        clear: both;
    }

.divNavBtn {
    float: left;
    width: 100%;
    position: relative;
    background-color: #ececec;
    z-index: 8;
}

.lblModuleDrop {
    color: white;
    font-size: 16px;
    cursor: pointer;
    font-weight: 600;
    font-family: calibri;
    padding: 6px;
}

    .lblModuleDrop:hover, .lblModuleDrop:focus {
        color: #c0ff91;
    }

.divModuleDrop {
    position: relative;
    display: inline-block;
    margin: 0 8px 0 20px;
    min-width: 170px;
}

#divlblModule:hover,
#divlblModule:focus {
}

#divlblModule {
    display: flex;
    align-items: center;
}

.dropdown-content {
    display: none;
    position: absolute;
    top: 38px;
    width: 100%;
    overflow: auto;
    background-color: #ffffff;
    border-radius: 4px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

    .dropdown-content a {
        display: block;
        cursor: pointer;
        padding: 12px 9px;
        font-size: 13px;
        font-weight: 500;
        color: #1a355b;
        border: 1px solid #f8f8f8;
        border-radius: 4px;
        text-decoration: none;
    }

.divModuleDrop a:hover {
    background-color: #091a32;
    color: #fff;
}

.show {
    display: block;
}

.ImgDown {
    padding-left: 6px;
    float: right;
    width: 11px;
}

#divBottomFooter {
    position: fixed;
    left: 0px;
    bottom: 0px;
    height: 30px;
    width: 100%;
    background: #091a32;
}

#divLogoArea {
    float: left;
    padding: 2px;
}

#divContentArea {
    position: absolute;
    top: 75px;
    bottom: 30px;
    right: 0;
    left: 0;
    overflow-y: auto;
    background: white;
}

#divFootContent {
    float: left;
    width: 37%;
    padding: 4px 15px;
    font-size: 12px;
    font-weight: 500;
    color: white;
}

#divLoginDetail {
    margin-left: auto;
    padding: 1px;
    display: flex;
    height: 100%;
}

.loginUserDiv {
    display: flex;
    align-items: center;
}

    .loginUserDiv .imgUser {
        width: 20px;
        height: 20px;
    }

.lblUsrDetail {
    font-size: 14px;
    font-weight: 500;
    color: #eafff5;
    border-right: 1px solid #b1b1b1;
    padding: 0px 12px 0px 0;
}

.linkLogout {
    color: #eafff5;
    font-size: 14px;
    font-weight: 500;
    padding: 8px;
    margin: 2px;
    border-radius: 3px;
    display: flex;
    align-items: center;
    transition: all 0.5s linear;
}

    .linkLogout:hover {
        background: #1a355b;
    }

#btnMenuIcon {
    float: left;
}

.Menu-btn:focus {
    outline: none;
}

.Menu-btn {
    border: none;
    cursor: pointer;
    text-transform: uppercase;
    padding: 12px;
    display: block;
    z-index: 999;
    background: inherit;
}

    .Menu-btn .icon-bar {
        background: none repeat #fff;
        border-radius: 1px;
        display: block;
        height: 3px;
        position: relative;
        width: 21px;
        margin: 2px 0;
    }

    .Menu-btn .icon-bar {
        margin: 4px 0;
    }

.third-level-menu {
    position: absolute;
    top: 0;
    right: -200px;
    list-style: none;
    padding: 0;
    margin: 0;
    display: none;
    min-width: 225px;
}

    .third-level-menu > li {
        height: 35px;
        background-color: #0070a3;
        border-bottom: 1px dotted #808bb3;
        position:relative;
    }

        .third-level-menu > li:last-child {
            border: none !important;
        }

        .third-level-menu > li:hover {
            background: #CCCCCC;
            color: #000000;
            transition: ease-in .35s;
            -moz-transition: ease-in .35s;
            -webkit-transition: ease-in .35s;
        }

.fourth-level-menu {
    position: absolute;
    /*top: 100px;*/
    right: -225px;
    list-style: none;
    padding: 0;
    margin: 0;
    display: none;
    min-width: 225px;
}

    .fourth-level-menu > li {
        height: 35px;
        background-color: #0070a3;
        border-bottom: 1px dotted #808bb3;
    }

    .fourth-level-menu > div > li:last-child {
        border: none !important;
    }

    .fourth-level-menu > div > li:hover {
        background: #CCCCCC;
        color: #000000;
        transition: ease-in .35s;
        -moz-transition: ease-in .35s;
        -webkit-transition: ease-in .35s;
    }

    .fourth-level-menu > div li:hover > ul {
        /* On hover, display the next level's menu */
        display: inline;
    }



.second-level-menu {
    position: absolute;
    top: 45px;
    left: 0;
    list-style: none;
    padding: 0;
    margin: 0;
    display: inline;
    min-width: 225px;
}

    .second-level-menu > div > li {
        position: relative;
        height: 35px;
        background-color: #0070a3;
        border-bottom: 1px dotted #808bb3;
    }

        .second-level-menu > div > li:last-child {
            border: none !important;
        }

        .second-level-menu > div > li:hover {
            background: #CCCCCC;
            transition: ease-in .35s;
            -moz-transition: ease-in .35s;
            -webkit-transition: ease-in .35s;
        }

    .second-level-menu > div li:hover > ul {
        /* On hover, display the next level's menu */
        display: inline;
    }

.top-level-menu {
    list-style: none;
    padding: 0;
    margin: 0;
    float: left;
}

    .top-level-menu > li {
        float: left;
    }

        .top-level-menu > li:hover {
            background: #0070a3;
            transition: ease-in .35s;
            -moz-transition: ease-in .35s;
            -webkit-transition: ease-in .35s;
        }




    .top-level-menu a {
        font-family: calibri;
        color: #FFFFFF;
        text-decoration: none;
        padding: 0 0 0 0px;
        display: block;
        line-height: 35px;
        float: left;
        font-weight: bold;
        font-size: 15px;
        cursor: pointer;
    }

        .top-level-menu a:hover {
            color: #000000;
        }

.second-level-menu a {
    padding-left: 0px;
    padding-right: 10px;
}

.imgArw {
    float: left;
    padding: 14px;
    width: 7px;
}

.imglgout {
    filter: invert(1);
}

.overlay {
    opacity: 0.3;
    background: #636363;
    width: 100%;
    height: 100%;
    z-index: 15;
    top: 0;
    left: 0;
    position: fixed;
    display: none;
}

.spn_Mainhead {
    float: left;
    width: 50%;
    margin-left: 15px;
    text-align: left;
    font-size: 1.3em;
    font-weight: 300;
    padding-top: 2px;
}

#spnSubHdRight {
    float: right;
    width: 40%;
    margin-right: 25px;
    padding-top: 3px;
}

.SubhdLnk {
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
    color: #336e8a;
}

.Cont_Content {
    float: left;
    width: 95%;
    margin-left: 33px;
}

.BtnAsLink {
    background: none !important;
    color: #167ccf;
    border: none;
    padding: 0 !important;
    border-bottom: 1px solid #167ccf;
    cursor: pointer;
    font-size: 14px;
    margin-left: 8px;
}

.infoicon {
    display: flex;
    align-items: center;
}

.infoicon #info {
    width:20px;
    height:20px;
}