.masklayer {
    opacity: 1;
    z-index: 101 !important;
    background-color: #2b2b2bbd;
}

    .masklayer .popup-dg {
        min-width: 200px;
    }

    .masklayer .mask-ask,
    .masklayer .mask-error {
        min-width: 400px;
        padding: 16px;
    }

    .masklayer .mask-error {
        max-width: 400px;
    }

    .masklayer .popup-dg p {
        font-size: 1.25em;
        font-weight: 500;
        color: #6b6b6b;
        text-align: center;
        word-break: break-word;
    }

    .masklayer .mask-error .mask-q,
    .masklayer .mask-error .mask-desc {
        max-height: 250px;
        overflow: auto;
    }

    .masklayer .mask-error .mask-desc {
        margin: 0 0 12px;
    }

        .masklayer .mask-error .mask-desc > p {
            font-size: 1em;
            font-weight: 400;
            color: #6b6b6b;
            text-align: left;
            position: relative;
            padding-left: 20px;
            line-height: 1.5;
            margin: 0 0 8px;
            cursor: pointer;
            user-select: none;
        }

            .masklayer .mask-error .mask-desc > p::after {
                content: "";
                width: 12px;
                height: 12px;
                background: url("/App_Static/images/down-arrow.png") center;
                background-size: cover;
                display: block;
                position: absolute;
                filter: invert(1);
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                left: 0;
            }

        .masklayer .mask-error .mask-desc > span {
            width: 100%;
            word-break: break-all;
            color: #76838f;
        }

    .masklayer .loader {
        position: relative;
        display: block;
        width: 30px;
        height: 30px;
        background: #ffb129;
        border-radius: 100%;
        margin: 14px 8px;
        margin-right: 20px;
    }

        .masklayer .loader::after {
            position: absolute;
            content: "";
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            display: block;
            width: 38px;
            height: 38px;
            border: 3px solid transparent;
            border-top-color: #ffb129;
            border-bottom-color: #ffb129;
            border-radius: 100%;
            animation: animLoading 4s infinite;
            transform-origin: center;
        }

    .masklayer .mask-ask .btn-panel,
    .masklayer .mask-error .btn-panel {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .masklayer .mask-ask .ask-btn,
    .masklayer .mask-error .ask-btn {
        padding: 7px 10px;
        font-size: 1.1em;
        font-weight: 300;
        background: #888888;
        margin: 0 6px 4px;
        border-radius: 4px;
        cursor: pointer;
        min-width: 55px;
        text-align: center;
        color: #fff;
        user-select: none;
    }

    .masklayer .mask-ask .ask-ok,
    .masklayer .mask-error .ask-ok {
        background-color: #ce7600;
        color: #fff;
    }

        .masklayer .mask-ask .ask-ok:hover,
        .masklayer .mask-error .ask-ok:hover {
            background-color: #ae6200;
        }

    .masklayer .mask-ask .ask-cancel:hover {
        background-color: #494949;
    }

@keyframes animLoading {
    0% {
        transform: translate(-50%, -50%) rotate(0);
    }

    25% {
        transform: translate(-50%, -50%) rotate(360deg);
    }

    50% {
        transform: translate(-50%, -50%) rotate(0deg);
    }

    75% {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

.popup-dg {
    position: absolute;
    padding: 8px 16px;
    max-width: 500px;
    max-height: 720px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border-radius: 6px;
}

.badge {
    padding: 2px 4px;
    border-radius: 4px;
    border: 1px solid #007bff;
    background-color: #007bff;
    color: #fff;
    font-size: 0.95em;
}

.badge--green {
    background-color: #11c26d;
    border-color: #11c26d;
}

.badge--orange {
    background-color: #eb6709;
    border-color: #eb6709;
}

.badge--red {
    background-color: #ff4c52;
    border-color: #ff4c52;
}

.badge--grey {
    background-color: #e4eaec;
    border-color: #e4eaec;
    color: #37474f;
}

.badge--info {
    color: #fff;
    background-color: #17a2b8;
    border-color: #17a2b8;
}

.btn {
    background-color: #e4eaec;
    border: 1px solid #e4eaec;
    border-radius: 4px;
    color: #111;
    padding: 5px 8px;
    min-width: 60px;
    text-align: center;
    display: inline-block;
    cursor: pointer;
    transition: all 0.2s ease;
}

    .btn:hover {
        color: #064075;
        background-color: #f3f7f9;
        border-color: #f3f7f9;
    }

.btn--primary {
    padding: 6px 12px;
    border-radius: 4px;
    border: none;
    background-color: #1976d2;
    color: #fff;
    font-weight: 600;
    line-height: 1.4;
    font-size: 1.1em;
    cursor: pointer;
    text-align: center;
    min-width: 70px;
    display: inline-block;
}

    .btn--primary:hover {
        background-color: rgb(17, 82, 147);
        color: #fff ;
    }

.icon-add,
.icon-settings,
.icon-delete,
.icon-edit,
.icon-close {
    display: inline-block;
    width: 16px;
    height: 16px;
    background: url(../images/icon_strip.svg) no-repeat;
    background-size: auto 100%;
    background-position: 0;
}

.icon-add {
    background-position-x: -101px;
}

.icon-settings {
    background-position-x: -34px;
}

.icon-edit {
    background-position-x: -51px;
}

.icon-close {
    background-position-x: -80px;
    background-size: auto 95%;
}

.icon-brown {
    filter: invert(10%) sepia(83%) saturate(6575%) hue-rotate(360deg) brightness(70%) contrast(108%);
}

.icon-red {
    filter: invert(11%) sepia(83%) saturate(7276%) hue-rotate(359deg) brightness(103%) contrast(111%);
}

.table-new {
    border-collapse: collapse;
}

    .table-new tr th,
    .table-new tr td {
        padding: 5px;
        font-size: 13px;
        font-weight: 300;
        text-align: left;
    }

    .table-new tr th {
        border-bottom: 1px solid #e4eaec;
        background-color: #e4eaec;
        color: #76838f;
        font-weight: 400;
    }

    .table-new tr td {
        border-bottom: 1px solid #e4e4e4;
        color: #37474f;
        font-size: 14px;
    }

        .table-new tr td > span {
            text-overflow: ellipsis;
            display: inline-block;
            overflow: hidden;
            white-space: pre;
        }

.flex {
    display: flex;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.align-center {
    align-items: center;
}

.justify-between {
    justify-content: space-between;
}

.data-page-links {
    text-align: right;
}

    .data-page-links a[pi] {
        width: 24px;
        border: 1px solid #ccc;
        cursor: pointer;
        border-radius: 15px;
        height: 24px;
        display: inline-block;
        text-align: center;
        padding-top: 2px;
        box-sizing: border-box;
        margin: 0px 3px;
    }

    .data-page-links a[selected] {
        color: white;
        background-color: #663399;
    }

.link-default {
    padding: 3px 5px;
    cursor: pointer;
    font-weight: 500;
    text-decoration: underline;
    color: #167ccf;
}

    .link-default:hover {
        color: #2690e5;
    }

.alert {
    width: 100%;
    padding: 8px 0;
    background-color: #e4eaec;
    color: #76838f;
    font-weight: 400;
    border: 1px solid #e4eaec;
    margin: 4px 0;
}

.alert-info {
    color: #0c5460;
    background-color: #d1ecf1;
    border-color: #bee5eb;
}

.alert-success {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
}

.alert-danger {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}

.truncate {
    text-overflow: ellipsis;
    display: inline-block;
    overflow: hidden;
    white-space: pre;
}

.chart-info {
    float: left;
    width: 240px;
    min-height: 100px;
    background-color: white;
    position: relative;
    border: 1px solid #bbb;
    box-shadow: 0px 0px 5px #666;
    padding: 8px;
    box-sizing: border-box;
}

    .chart-info .iv-field {
        font-size: 1.1em;
        font-weight: 500;
        padding-bottom: 4px;
    }

    .chart-info a.close {
        float: right;
        display: inline-block;
        width: 18px;
        height: 18px;
        text-align: center;
        background-color: #666;
        color: white;
        cursor: pointer;
    }

        .chart-info a.close:hover {
            background-color: red;
        }

.left-list-item.selected {
    background-color: #6b94b7;
    color: white;
}

    .left-list-item.selected > a,
    .left-list-item.selected > a:hover {
        color: white;
    }

    .left-list-item.selected > span[e]:before {
        color: white;
    }

th.col-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4px 6px !important;
}

.data-col-head {
    background-color: #ce7600;
    color: white;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid rgb(187, 187, 187);
}

.new-btn {
    display: inline-block;
    padding: 3px 6px;
    background: #fff;
    color: #036;
    border-radius: 4px;
    position: relative;
    padding-left: 18px;
    cursor: pointer;
    text-decoration: none !important;
    transition: all 0.2s ease-in-out;
}

    .new-btn:hover {
        color: #036;
        background-color: #eee;
    }

    .new-btn::before {
        content: "+";
        font-size: 21px;
        font-weight: 500;
        position: absolute;
        left: 3px;
        top: 2px;
        line-height: 0.8;
    }

.thin-scrollbar::-webkit-scrollbar {
    width: 8px;
}

.common-list td > span {
    display: inline-block;
    margin: 4px 0 4px 10px;
    float: right;
    cursor: pointer;
    background: url(../images/icon_strip.svg) no-repeat;
    background-size: auto 100%;
    background-position: 0;
    width: 10px;
    height: 10px;
}

    .common-list td > span[d] {
        margin-left: 7px;
        background-position-x: -53px;
        filter: invert(19%) sepia(98%) saturate(7161%) hue-rotate(3deg) brightness(97%) contrast(118%);
    }

    .common-list td > span[e] {
        background-position-x: -32px;
        filter: invert(8%) sepia(99%) saturate(7491%) hue-rotate(248deg) brightness(101%) contrast(142%);
    }

/* .thin-scrollbar::-webkit-scrollbar-thumb {
    background: #00469e;
}
.thin-scrollbar::-webkit-scrollbar-button {
    background: #003366;
} */

.snackbar {
    position: absolute;
    min-width: 250px;
    max-width: 400px;
    padding: 10px 12px;
    border-radius: 4px;
    border: 1px solid #e4eaec;
    background: #fff;
    box-shadow: 0px 3px 5px -1px rgb(0 0 0 / 20%), 0px 6px 10px 0px rgb(0 0 0 / 14%), 0px 1px 18px 0px rgb(0 0 0 / 12%);
    z-index: 100;
}

.snackbar-top-left,
.snackbar-top-center,
.snackbar-top-right {
    top: 16px;
}

.snackbar-bottom-left,
.snackbar-bottom-center,
.snackbar-bottom-right {
    bottom: 16px;
}

.snackbar-top-left,
.snackbar-bottom-left {
    left: 16px;
}

.snackbar-top-right,
.snackbar-bottom-right {
    right: 16px;
}

.snackbar-top-center,
.snackbar-bottom-center {
    left: 0;
    right: 0;
}

.snackbar p {
    font-weight: 500;
    font-size: 16px;
    margin: 0;
}

.snackbar__container {
    display: flex;
    align-items: center;
}
.snackbar__container p {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;

}
.snackbar .snackbar__loading {
    width: 30px;
    height: 30px;
    margin-right: 12px;
    min-width: 30px;
}

.snackbar__loading div {
    position: absolute;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    border: 0.3rem solid #1200a4;
    -webkit-animation: 1.5s ripple infinite;
    animation: 1.5s ripple infinite;
}

    .snackbar__loading div:nth-child(2) {
        -webkit-animation-delay: 0.5s;
        animation-delay: 0.5s;
    }

@-webkit-keyframes ripple {
    from {
        transform: scale(0);
        opacity: 1;
    }

    to {
        transform: scale(1);
        opacity: 0;
    }
}

@keyframes ripple {
    from {
        transform: scale(0);
        opacity: 1;
    }

    to {
        transform: scale(1);
        opacity: 0;
    }
}
