:root {
    --save: #157228;
    --saveDark: #095f1b;
    --primary: #091a32;
    --border: #cfd7df;
    --borderDark: #a9bdc4;
    --header: #091a32;
    --headerSecondary: #1a355b;
}

select, input {
    padding: 2px 4px;
    border: 1px solid #beccd1;
    border-radius: 2px;
}

    input[disabled], select[disabled] {
        background-color: #ececec;
        cursor: not-allowed;
        border-color: #cbcbcb;
    }

    input::placeholder {
        font-style: italic;
    }


/************** STYLE OVERRIDES********************/
.masklayer .popup-dg p {
    color: #001d41;
    font-weight: 500;
}

.masklayer .loader {
    border: 3px solid var(--primary);
    background: #fff;
    margin: 10px 16px;
    margin-left: 2px;
    min-width: 30px;
}

    .masklayer .loader::after {
        width: 22px;
        height: 4px;
        border: none;
        border-radius: 0;
        border-left: 4px solid var(--primary);
        animation: animRotate linear 1s infinite;
        -webkit-animation: animRotate linear 1s infinite;
        -moz-animation: animRotate linear 1s infinite;
    }

@-moz-keyframes animRotate {
    from {
        -moz-transform: translate(-50%, -50%) rotate(0deg);
    }

    to {
        -moz-transform: translate(-50%, -50%) rotate(359deg);
    }
}

@-webkit-keyframes animRotate {
    from {
        -webkit-transform: translate(-50%, -50%) rotate(0deg);
    }

    to {
        -webkit-transform: translate(-50%, -50%) rotate(359deg);
    }
}

@keyframes animRotate {
    from {
        transform: translate(-50%, -50%) rotate(0deg);
    }

    to {
        transform: translate(-50%, -50%) rotate(359deg);
    }
}

.masklayer .mask-ask .ask-btn,
.masklayer .mask-error .ask-btn {
    color: #12344d;
    border: 1px solid #cfd7df;
    background: linear-gradient(to bottom,#fff,#f3f5f7) #f3f5f7;
    transition: all 0.5s;
    font-weight: 500;
    font-size: 1.05em;
    box-shadow: 0 0 2px 2px rgb(0 0 0 / 2%);
}

    .masklayer .mask-ask .ask-btn:hover,
    .masklayer .mask-error .ask-btn:hover {
        color: #092438;
        border-color: #6e8086;
        background: linear-gradient(to bottom,#fff,#e2f1ff) #f3f5f7;
    }

.masklayer .mask-ask .ask-ok,
.masklayer .mask-error .ask-ok {
    border-color: #3a5e8c;
    background: linear-gradient(to bottom,#2c496f,#3a5e8c) #f3f5f7;
    color: #fff;
}

    .masklayer .mask-ask .ask-ok:hover,
    .masklayer .mask-error .ask-ok:hover {
        background: linear-gradient(to bottom,#0e2f5a,#0c2444) #f3f5f7;
        color: #fff;
    }


/*
#divtopHeader {
    background: var(--header);
    color: #fff;
}

.divSubHeader {
    background-color: var(--headerSecondary);
    color: #fff;
}

#divBottomFooter {
    background: var(--header);
}
*/
.btn {
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Old versions of Firefox */
    user-select: none;
    color: #12344d;
    border: 1px solid #cfd7df;
    background: linear-gradient(to bottom,#fff,#f3f5f7) #f3f5f7;
    transition: all 0.5s;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    font-size: 1.05em;
    box-shadow: 0 0 2px 2px rgb(0 0 0 / 2%);
}


    .btn:hover {
        color: #092438;
        border-color: #6e8086;
        background: linear-gradient(to bottom,#fff,#e2f1ff) #f3f5f7;
    }

    .btn > .ic {
        height: 16px;
        width: 16px;
        background-size: 16px;
        margin-right: 3px;
    }

    .btn[disabled] {
        background-color: #ececec;
        cursor: not-allowed;
        border-color: #cbcbcb;
    }

        .btn[disabled] * {
            cursor: not-allowed;
        }

.btn--primary {
    font-weight: 500;
    font-size: 1.05em;
    min-width: 60px;
    padding: 5px 8px;
}

.btn--small {
    padding: 4px 6px;
    justify-content: center;
    min-width: auto;
    font-size: 1em;
    border-radius: 3px;
}

    .btn--small > .ic {
        margin-right: 2px;
    }

.btn--icon {
    padding: 4px;
    min-width: 0;
}

    .btn--icon > .ic {
        margin: 0;
        width: 18px;
        height: 18px;
        background-size: 100%;
    }

.btn--blue {
    border-color: #3a5e8c;
    background: linear-gradient(to bottom,#2c496f,#3a5e8c) #f3f5f7;
    color: #fff;
}

    .btn--blue:hover {
        border-color: #3a5e8c;
        background: linear-gradient(to bottom,#2c496f,#3a5e8c) #f3f5f7;
        color: #fff;
    }

.btn--loading {
    padding-right: 24px;
    position: relative;
}

    .btn--loading::after {
        content: '';
        display: block;
        position: absolute;
        right: 6px;
        top: calc((100% - 8px)/2);
        border-radius: 100%;
        width: 8px;
        height: 8px;
        border-left: 0;
        border: 1px solid #061223;
        border-right-color: #ffffff00;
        border-bottom-color: #ffffff00;
        border-radius: 50%;
        animation: button-anim 0.6s linear infinite;
    }

@keyframes button-anim {
    from {
        transform: rotate(0);
    }

    to {
        transform: rotate(360deg);
    }
}
/*************COMMON CLASS STARTS****************/
.card {
    padding: 8px;
    margin: 4px 0;
    background: #fff;
    border: 1px solid var(--border);
    border-radius: 3px;
}

.card__accordion {
    width: 24px;
    height: 24px;
    background: url(../images/expand.svg) center no-repeat;
    background-size: 24px;
    transition: all 0.5s;
    cursor: pointer;
    display: inline-block;
}

.card__accordion--hidden {
    display: none;
}

.card__detail {
    display: none;
    border-top: 1px solid var(--border);
}

.card__detail--expanded {
    display: block;
}

.card__accordion--expanded {
    transform: rotate(180deg);
}

.card__title-blue {
    background: #3a5e8c;
    padding: 6px 8px;
    color: #fff;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border: 1px solid #3a5e8c;
}

.card__title-lightblue {
    background: #e2ebf7;
    padding: 6px 8px;
    color: #000;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border: 1px solid #3a5e8c;
    border-bottom: 0;
}

.card__action-btn {
    display: flex;
    align-items: center;
    cursor: pointer;
    border-radius: 100%;
    margin-left: 3px;
    width: 24px;
    height: 24px;
}

    .card__action-btn .ic {
        display: block;
        filter: invert(25%) sepia(1%) saturate(0%) hue-rotate( 10deg) brightness(89%) contrast(82%);
        background-size: 14px;
        width: 22px;
        height: 22px;
    }

.card__rename {
    display: flex;
    align-items: center;
    flex: 1;
}

    .card__rename input {
        border-radius: 3px;
    }

        .card__rename input.invalid {
            box-shadow: inset 0 0 1px 2px #f00;
        }

.card__rename-save, .card__rename-cancel {
    padding: 3px 6px;
    border: 1px solid #e4eaec;
    border-radius: 4px;
    display: block;
    cursor: pointer;
    font-weight: 500;
    border: 1px solid #cfd7df;
    background: linear-gradient(to bottom,#fff,#f3f5f7) #f3f5f7;
    transition: all 0.3s;
}

.card__rename-save {
    margin-left: auto;
    background: #335886;
    color: #fff;
}

    .card__rename-save:hover {
        border-color: #ffffff;
        background: #2d507a;
    }

.card__rename-cancel {
    margin-left: 6px;
    color: #335886;
}

    .card__rename-cancel:hover {
        border-color: #335886;
    }

.text-ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-right: 2px;
}

.flex-row-center {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.ic {
    width: 24px;
    height: 24px;
    background-size: 24px;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    display: inline-block;
}

.ic__arrow-left {
    background-image: url(../images/expand.svg);
}

.ic__map {
    background-image: url(../images/map.svg);
}

.ic__edit {
    background-image: url(../images/edit.svg);
}

.ic__dot-menu {
    background-image: url(../images/dot-menu.svg);
}

.ic__close {
    background-image: url(../images/close.svg);
}

.ic__close-white {
    background-image: url(../images/close-white.svg);
}

.ic__copy {
    background-image: url(../images/copy.svg);
}

.ic__delete {
    background-image: url(../images/delete.svg);
}

.ic__search {
    background-image: url(../images/search.svg);
}

.ic__user {
    background-image: url(../images/user.svg);
}

.ic__filter-list {
    background-image: url(../images/filter.svg);
}

.ic__download {
    background-image: url(../images/download.svg);
}

.ic__upload {
    background-image: url(../images/upload.svg);
}

.ic__filter {
    background-image: url(../images/funnel.svg);
}

.ic__calendar {
    background-image: url(../images/calendar.svg);
}

.ic__save {
    background-image: url(../images/save.svg);
}

.ic__create {
    background-image: url(../images/create.svg);
}

.ic__image {
    background-image: url(../images/image.svg);
}

.ic__rename {
    background-image: url(../images/rename.svg);
}

.ic__lasso {
    background-image: url(../images/lasso.svg);
}

.ic__download-lasso {
    background-image: url(../images/download-lasso.svg);
}

.ic__remove-lasso {
    background-image: url(../images/remove-lasso.svg);
}

.ic__layer {
    background-image: url(../images/layers.svg);
}

.ic__add-layer {
    background-image: url(../images/add-layers.svg);
}

.ic__add {
    background-image: url(../images/add.svg);
}

.ic__remove {
    background-image: url(../images/remove.svg);
}

.ic__reload {
    background-image: url(../images/reload.svg);
}

.ic__home {
    background-image: url(../images/home.svg);
}
/************* HOVER TOOLTIP TO THE LEFT **************/
.hover__popup:after,
.hover__popup:before {
    position: absolute;
    -webkit-transform: translate3d(0,0,0);
    -moz-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
    visibility: hidden;
    opacity: 0;
    z-index: 1000000;
    -webkit-transition: .3s ease;
    -moz-transition: .3s ease;
    transition: .3s ease;
    -webkit-transition-delay: 0s;
    -moz-transition-delay: 0s;
    transition-delay: 0s;
    right: 100%;
    top: 10px;
    pointer-events: none;
}

.hover__popup:before {
    content: '';
    background: 0 0;
    border: 6px solid transparent;
    z-index: 1000001;
    margin-right: -12px;
    top: 18px;
    border-left-color: #183247;
}

.hover__popup:after {
    box-shadow: none;
    text-shadow: none;
    background: #183247;
    font-weight: 400;
    color: #fff;
    border-radius: 3px;
    padding: 8px 10px;
    font-size: 13px;
    line-height: 12px;
    white-space: nowrap;
    box-shadow: 4px 4px 8px rgb(0 0 0 / 30%);
    content: attr(aria-label);
}

.hover__popup:hover:after,
.hover__popup:hover:before {
    visibility: visible;
    opacity: 1;
    -webkit-transition-delay: .1s;
    -moz-transition-delay: .1s;
    transition-delay: .1s;
    -webkit-transform: translateX(-8px);
    -moz-transform: translateX(-8px);
    transform: translateX(-8px);
}
/*************COMMON CLASS ENDS****************/
.content-area-wrapper {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
}

    .content-area-wrapper *,
    .mask__atc * {
        box-sizing: border-box;
    }

    .content-area-wrapper ::-webkit-scrollbar,
    .mask__atc ::-webkit-scrollbar {
        width: 6px;
    }

    .content-area-wrapper ::-webkit-scrollbar-track,
    .mask__atc ::-webkit-scrollbar-track {
        background: #b4d5ff;
    }

    .content-area-wrapper ::-webkit-scrollbar-thumb,
    .mask__atc ::-webkit-scrollbar-thumb {
        background: var(--primary);
    }

        .content-area-wrapper ::-webkit-scrollbar-thumb,
        .mask__atc ::-webkit-scrollbar-thumb:hover {
            background: #1e4373;
        }

.sb {
    display: flex;
}


.sb__bar {
    background: var(--primary);
    /*width: 50px;*/
    /*padding: 10px;*/
}

.sb__item {
    position: relative;
    width: 100%;
    margin-bottom: 8px;
    /*border-radius: 5px;*/
    cursor: pointer;
    /*
    padding: 8px;
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
    */
}

    .sb__item:hover {
        background: #0d386e;
    }

    .sb__item:after,
    .sb__item:before {
        position: absolute;
        -webkit-transform: translate3d(0,0,0);
        -moz-transform: translate3d(0,0,0);
        transform: translate3d(0,0,0);
        visibility: hidden;
        opacity: 0;
        z-index: 1000000;
        -webkit-transition: .3s ease;
        -moz-transition: .3s ease;
        transition: .3s ease;
        -webkit-transition-delay: 0s;
        -moz-transition-delay: 0s;
        transition-delay: 0s;
        left: 100%;
        top: 10px;
        pointer-events: none;
    }

    .sb__item:before {
        content: '';
        background: 0 0;
        border: 6px solid transparent;
        z-index: 1000001;
        margin-left: -11px;
        top: 18px;
        border-right-color: #183247;
    }

    .sb__item:after {
        box-shadow: none;
        text-shadow: none;
        background: #183247;
        font-weight: 400;
        color: #fff;
        border-radius: 3px;
        padding: 8px 10px;
        font-size: 13px;
        line-height: 12px;
        white-space: nowrap;
        box-shadow: 4px 4px 8px rgb(0 0 0 / 30%);
        content: attr(aria-label);
    }

    .sb__item:hover:after,
    .sb__item:hover:before {
        visibility: visible;
        opacity: 1;
        -webkit-transition-delay: .1s;
        -moz-transition-delay: .1s;
        transition-delay: .1s;
        -webkit-transform: translateX(8px);
        -moz-transform: translateX(8px);
        transform: translateX(8px);
    }

.sb__item--active {
    background: #0d386e;
}

.sb__item-icon {
    width: 48px;
    height: 48px;
    display: block;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 26px;
    filter: invert(1);
}

[sb-page="dashboard"] .sb__item-icon {
    background-image: url(../images/sidebar/dashboard.svg);
}

[sb-page="search"] .sb__item-icon {
    background-image: url(../images/sidebar/search.svg);
}

[sb-page="filter"] .sb__item-icon {
    background-image: url(../images/sidebar/filter.svg);
}

[sb-page="result"] .sb__item-icon {
    background-image: url(../images/sidebar/result.svg);
}

[sb-page="group"] .sb__item-icon {
    background-image: url(../images/sidebar/agroup.svg);
}

[sb-page="priority"] .sb__item-icon {
    background-image: url(../images/sidebar/list-upload.svg);
}

.sb__item-text {
    display: none;
    position: absolute;
    width: fit-content;
    left: 50px;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 5px;
    padding: 0px 12px;
    background: var(--primary);
    color: #fff;
    margin: 0;
    font-size: 1.2em;
    font-weight: 500;
    line-height: 2;
    border: 2px solid #fff;
    white-space: nowrap;
    z-index: 5;
}

.sb__content {
    position: relative;
}

.sb__page {
    display: none;
    width: 400px;
    height: 100%;
    background: #f3f6f7;
    border-right: 1px solid var(--border);
    flex-direction: column;
}

.sb__page--active {
    display: flex;
}

.sb__page-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4px 6px;
    padding-left: 36px;
    min-height: 38px;
    position: relative;
    background: #fff;
}

.sb__page-title {
    margin: 0 6px 0 0;
    font-weight: 500;
    font-size: 1.2em;
    flex: 1;
}

.sb__page-buttons {
    display: flex;
    align-items: center;
}

    .sb__page-buttons > span {
        margin-left: 4px;
    }


.sb__button-search i {
    display: block;
}

.sb__search-details {
    display: flex;
    align-items: center;
    border: 1px solid var(--borderDark);
    border-radius: 3px;
    display: none;
}

    .sb__search-details:focus {
        border-color: #f00;
    }

.sb__search-input {
    width: 217px;
    border: none;
    border-radius: 3px;
    outline: none;
    border-color: var(--borderDark);
    padding: 4px 6px;
}

    .sb__search-input::placeholder {
        font-style: italic;
    }

.sb__search-details > span {
    display: block;
}

span.sb__search-find {
    display: none
}

.sb__search-cancel {
    height: 26px;
    width: 26px;
    display: block;
    padding: 2px;
    border: none;
    border-radius: 0;
    border-left: 1px solid var(--borderDark);
}

    .sb__search-cancel .ic {
        height: 22px;
        width: 22px;
        background-size: 20px;
        margin: 0;
        filter: invert(22%) sepia(65%) saturate(0%) hue-rotate( 128deg) brightness(87%) contrast(79%);
    }
/*
    .sb__page-head::before,
    .sb__page-head::after {
        content: '';
        display: block;
        width: 30%;
        background: #333;
        height: 2px;
        position: absolute;
        bottom: 0;
    }

    .sb__page-head::before {
        width: 30%;
    }

    .sb__page-head::after {
        width: 5%;
    }
*/
.sb__page-bar {
    height: 2px;
    min-height: 2px;
    width: calc( 100% - 12px );
    margin: 0 6px;
    background: var(--primary);
    position: relative;
}

.sb__page-loading {
    background: #e5f0ff;
}

    .sb__page-loading::after {
        position: absolute;
        content: '';
        display: block;
        width: 0;
        height: 100%;
        background: var(--primary);
        left: 0;
        animation: animBar ease-in-out 4s infinite;
    }

@keyframes animBar {
    0% {
        left: 0%;
        width: 0%;
    }

    25% {
        left: 0%;
        width: 100%;
    }

    50% {
        left: 100%;
        width: 0%;
    }

    75% {
        left: 0%;
        width: 100%;
    }
}


.sb__page-content {
    flex: 1;
    overflow: auto;
    padding: 8px;
}

.sb__page-empty {
    font-style: italic;
    font-size: 1.05em;
    padding: 6px 10px;
    display: block;
}

.sb__page-footer {
    margin: 2px;
    padding: 4px 6px;
    border-top: 1px solid #dedede;
}

.sb__close {
    width: 20px;
    height: 20px;
    background: url(../images/expand.svg) #dcebff center no-repeat;
    background-size: 20px;
    border-radius: 100%;
    display: block;
    position: absolute;
    left: 8px;
    top: 10px;
    cursor: pointer;
    z-index: 4;
    transform: rotate( 90deg);
}

.sb__input-popup {
    border: 1px solid #e4eaec;
    top: calc( 50% - 60px );
    left: 50%;
    margin: 0 auto;
    transform: translateX(-50%);
    padding: 14px;
}

    .sb__input-popup > p {
        font-size: 1.1em;
        font-weight: 500;
        margin: 0px 0 8px;
    }

.sb__input-name {
    padding: 4px 6px;
    width: 250px;
    border-radius: 3px;
    margin-bottom: 6px;
}

.sb__validate {
    display: none;
    margin: 4px 0;
    color: #a10000;
}

.sb__input-btn {
    display: flex;
    justify-content: flex-end;
    margin-top: 8px;
}

    .sb__input-btn .btn {
        margin-left: 6px;
    }

.mv__dash {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: #f5f6fe;
    z-index: 10000;
    overflow: auto;
}

.mv {
    flex: 1 100%;
    height: 100%;
    z-index: 0;
    position: relative;
}

.map__div {
    width: 100%;
    height: 100%;
}

.map__title {
    top: 0;
    left: 0;
    transform: none;
    z-index: 401;
    border-radius: 3px;
    background: #122433;
    color: #fff;
    max-width: calc( 100% - 50px );
    display: none;
}

    .map__title p {
        font-size: 1.1em;
        font-weight: 600;
        margin: 0;
    }

.mfab {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 10000;
    background: #091a32cf;
    border-bottom-left-radius: 4px;
}

.mfab__button {
    display: flex;
    position: relative;
    justify-content: flex-end;
    margin-bottom: 2px;
    display: none;
}

    .mfab__button:not([style*="display: none"]):last-child {
        margin-bottom: 0px;
        border-bottom-left-radius: 4px;
    }

    .mfab__button:hover {
        background: #0d386e;
    }
/*
        .mfab__button:hover .mfab__label {
            display: block;
        }
*/

.mfab__label {
    background: #fff;
    padding: 4px 6px;
    border-radius: 4px;
    position: absolute;
    display: none;
    right: 40px;
    width: max-content;
    top: 50%;
    transform: translateY(-50%);
}

.mfab__span {
    display: block;
    padding: 0px;
}

    .mfab__span .ic {
        margin: 0;
        height: 48px;
        width: 48px;
        background-size: 26px;
        display: block;
        filter: invert(1)
    }

.mfab__lasso .ic__lasso {
    background-size: 22px;
}
.mfab__info {
    width: auto;
    height: auto;
    position: absolute;
    color: #ffffff;
    background: red;
    text-align: justify;
    border-radius: 10px;
    padding: 2px;
    top: 1px;
    font-size: 10px;
    z-index: 10;
    right: 1px;
}

progress[value] {
    /* Reset the default appearance */
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

    progress[value]::-webkit-progress-bar {
        background-color: #eee;
        border-radius: 4px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
    }

    progress[value]::-webkit-progress-value {
        background-image: -webkit-linear-gradient(-45deg, transparent 33%, rgba(0, 0, 0, .1) 33%, rgba(0,0, 0, .1) 66%, transparent 66%), -webkit-linear-gradient(top, rgba(255, 255, 255, .25), rgba(0, 0, 0, .25)), -webkit-linear-gradient(left, #e9acf0, #3f9ef0);
        border-radius: 4px;
        background-size: 35px 20px, 100% 100%, 100% 100%;
    }

    progress[value]::-moz-progress-bar {
        background-image: -moz-linear-gradient( 135deg, transparent 33%, rgba(0, 0, 0, 0.1) 33%, rgba(0, 0, 0, 0.1) 66%, transparent 66% ), -moz-linear-gradient( top, rgba(255, 255, 255, 0.25), rgba(0, 0, 0, 0.25) ), -moz-linear-gradient( left, #e9acf0, #3f9ef0);
        border-radius: 2px;
        background-size: 35px 20px, 100% 100%, 100% 100%;
    }

/*****************DASHBOARD*************************/
.dash__card {
    margin: 0 0 8px;
    padding: 0;
}

    .dash__card p {
        margin: 0;
        font-size: 1.05em;
        font-weight: 500;
    }

.dash__card--click .dash__card-title {
    cursor: pointer;
}

.dash__card-title,
.dash__card-agroup {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
}

.dash__card-user {
    color: #091a32;
    position: relative;
    padding-left: 20px;
    max-width: 250px;
    cursor: pointer;
}

    .dash__card-user::before {
        background: #dcebff;
        content: 'i';
        display: block;
        width: 16px;
        height: 16px;
        line-height: 1.2;
        font-style: italic;
        text-align: center;
        border-radius: 100%;
        position: absolute;
        left: 0;
        top: calc(50% - 8px);
    }

.dash__title-left {
    flex: 1;
    padding: 6px 8px;
}

.dash__title-tasks {
    margin-top: 6px;
}

.dash__title-right {
    padding: 0 6px 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

    .dash__title-right .card__accordion {
        width: 20px;
        height: 20px;
        margin-top: 4px;
    }

.dash__card-agroup {
    font-size: 0.95em;
    padding: 4px;
}

    .dash__card-agroup > div {
        cursor: pointer;
    }

    .dash__card-agroup .dash__card-tasks {
        width: 110px;
        min-width: 110px;
        max-width: 110px;
        margin-left: auto;
    }

        .dash__card-agroup .dash__card-tasks::before {
            display: none;
        }

    .dash__card-agroup .ic__map {
        background-size: 18px;
        cursor: pointer;
        filter: invert(27%) sepia(0%) saturate(0%) hue-rotate(110deg) brightness(96%) contrast(91%);
    }

    .dash__card-agroup progress[value]::-webkit-progress-value {
        background-image: -webkit-linear-gradient(left, #b4c7e0, #5981b3) !important;
        background-size: 100% !important;
    }

.dash__card-row > p {
    flex: 1;
    min-width: 50px;
}

.dash__card-row > span {
    min-width: 20px;
    padding: 0 2px 0 4px;
}

span.dash__card-grp {
    border-radius: 100%;
    text-align: center;
    background: #3a5e8c;
    color: #fff;
    display: block;
    line-height: 1.7;
    padding: 0 1px;
    min-width: 18px;
    width: 18px;
    height: 18px;
    font-size: 11px;
    font-weight: 500;
}

.dash__title-tasks > span {
    width: 100px;
    position: relative;
    padding-left: 14px;
}

    .dash__title-tasks > span::before {
        content: '';
        display: block;
        width: 8px;
        height: 8px;
        border-radius: 100%;
        background: #ff4949;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 0;
    }

span.dash__card-tasks--nbhd {
    width: 130px;
}

    span.dash__card-tasks--nbhd::before {
        background: #2cc7aa;
    }

span.dash__card-tasks--total::before {
    background: var(--primary);
}

.dash__card-row progress {
    width: 80px;
    min-width: 80px;
    max-width: 80px;
    height: 15px;
}

.dash__card-expand {
    background-color: #fffcef;
}

    .dash__card-expand p {
        font-size: 1.05em;
        font-weight: 400;
    }

/*
background: linear-gradient(to right, rgb(151, 188, 235), rgb(58, 110, 176));*/

/*************** Dashboard Graph & Cards ******************/
.mv__dash .dt {
}

.mv__dash .card {
    padding: 14px;
    border-radius: 10px;
    border-color: #e4eaec;
    box-shadow: 2px 10px 20px rgb(0 0 0 / 10%);
    background: #ffffff;
    margin: 8px;
}

.mv__dash-center {
    flex: 1;
}

.dt__count {
    text-align: left;
    position: relative;
    flex: auto;
    display: flex;
    flex-direction: column;
}

    .dt__count::before {
        /*content: '';*/
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 6px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        background-color: #0093E9;
        background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
    }

    .dt__count .dt__title {
        color: #656565;
        margin: 6px 0;
        display: block;
    }

    .dt__count span.count {
        font-size: 2em;
        font-weight: 700;
        color: #1a355b;
        display: block;
        margin: 8px 0;
    }

    .dt__count progress {
        width: 100%;
        height: 6px;
    }

.dt__today {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.dt__sub-card {
    padding: 0 12px;
    border-left: 1px solid #e4eaec;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

    .dt__sub-card:first-child {
        border: none;
        padding-left: 0;
    }

    .dt__sub-card:last-child {
        padding-right: 0;
    }

.dt__pending {
    max-width: 150px;
    min-width: 150px;
}

    .dt__pending .dt__title {
        margin-bottom: 20px;
    }

.dt__recent {
    max-width: 400px;
    overflow: auto;
}

    .dt__recent .count {
        border-right: 1px solid #ddd;
        padding-right: 6px;
    }

    .dt__recent .dt__recent-name {
        flex: 1;
        padding-left: 6px;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: normal;
        font-weight: 500;
    }

.dt__recent-links {
    padding: 8px;
}

.dt__recent-switch {
    padding: 3px 6px;
    border-radius: 2px;
    margin-left: auto;
    position: relative;
    width: 150px;
    cursor: pointer;
}

    .dt__recent-switch::before,
    .dt__recent-switch::after {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        width: 73px;
        text-align: center;
        line-height: 2;
        border: 1px solid #ddd;
        transition: all 0.2s ease-in;
        color: #444444;
    }

    .dt__recent-switch::before {
        content: '24 hour';
        left: 0;
        border-top-left-radius: 3px;
        border-bottom-left-radius: 3px;
    }

    .dt__recent-switch::after {
        content: 'This Week';
        left: 75px;
        border-top-right-radius: 3px;
        border-bottom-right-radius: 3px;
    }

    .dt__recent-switch.dt__recent-switch--today::before {
        content: '24 hour';
        background: #1a8000;
        border-color: #1a8000;
        color: #fff;
    }

    .dt__recent-switch.dt__recent-switch--week::after {
        content: 'This Week';
        background: #1a8000;
        border-color: #1a8000;
        color: #fff;
    }


.dt__total-progress {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

    .dt__total-progress > div {
        flex: 0 49%;
    }

    .dt__total-progress .flex {
        align-items: flex-end;
    }

    .dt__total-progress span.count {
        margin: 8px 0 0 0;
    }

    .dt__total-progress .sub-count {
        font-size: 1.25em;
        font-weight: 500;
        margin: 8px 6px 0 6px;
        line-height: 1.8;
    }

    .dt__total-progress .dt__title,
    .dt__total-progress .dt__count {
        margin: 0;
    }

.mv__line-chart {
    flex-direction: column;
    width: 100%;
}

.line__title {
    margin-top: 0;
    font-size: 1.1em;
    font-weight: 600;
    text-align: center;
}


#lastWeekTasks,
#lastWeekSecond {
    max-height: 300px;
}

.line__weekly-priority {
}



@media screen and (min-width: 1600px) {
    .mv__dash-center {
        flex: 2;
    }

    .dt__recent {
        max-width: auto;
        min-width: 500px;
        flex: 2;
    }

    .mv__line-chart {
        flex-direction: row;
    }

    .line__weekly-task,
    .line__weekly-second {
        flex: 0 49%;
        max-width: 49%;
    }
}

@media screen and (min-width: 1500px) {
    .mv__dash .card {
        padding: 20px;
    }

    .dt__sub-card {
        padding: 0 16px;
    }

    .dt__count span.count {
        font-size: 2.2em;
    }

    .dt__pending {
        max-width: 200px;
        min-width: 200px;
    }
}

/***************** SEARCH PANEL STYLES ***********************/
.sb__page-content.search {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.search .search__container {
    overflow: auto;
}

.search__reset {
    font-size: 0.95em;
    padding: 4px 6px;
}

.search__card--default {
    padding: 0;
    margin: 0 0 8px;
}

    .search__card--default .search__card-title p {
        font-size: 1.05em;
        font-weight: 500;
        margin: 0;
        width: 200px;
    }

    .search__card--default .search__card-title {
        padding: 5px 8px;
        position: relative;
    }

    .search__card--default .card__accordion {
        margin-left: 2px;
        height: 21px;
    }

        .search__card--default .card__accordion.card__accordion--expanded {
            transform: rotate( 180deg);
        }

    .search__card--default .card__detail {
        padding: 4px 0;
    }

.search__card-date,
.search__card-user {
    padding: 4px 8px;
}

    .search__card-date label,
    .search__card-user label {
        flex: 1;
        margin-right: 12px;
    }

    .search__card-date input {
        margin-left: 4px;
        width: 125px;
        min-width: 120px !important;
    }

        .search__card-date input[type="date"]::-webkit-calendar-picker-indicator {
            margin-left: 4px;
        }

    .search__card-user select {
        width: 200px;
    }

    .search__card-date input,
    .search__card-user input,
    .search__card-date select,
    .search__card-user select {
        min-width: 80px;
    }

.search__field-missing {
    border-color: #f00;
}
/*********3 way toggle **************/
.stoggle {
    display: flex;
    margin-left: auto;
}

.stoggle__state {
}

.stoggle__label {
    position: relative;
    padding: 6px 8px;
    border: 1px solid #afb2b9;
    transition: all 0.5s;
    cursor: pointer;
    font-weight: 500;
    display: flex;
    align-items: center;
    height: 32px;
}

.stoggle__state:last-child .stoggle__label {
    padding-top: 4px;
    padding-bottom: 4px;
}

.stoggle__state:first-child .stoggle__label {
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px;
}

.stoggle__state:last-child .stoggle__label {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    padding-right: 2px;
}

.stoggle__state:nth-child(2) .stoggle__label {
    border-left: none;
    border-right: none;
}


.stoggle__radio {
    width: 0;
    position: absolute;
    clip: rect(0, 0, 0, 0);
    pointer-events: none;
}

    .stoggle__radio:checked ~ label {
        background: #3a5e8c;
        border-color: #3a5e8c;
        color: #ffffff;
    }

        .stoggle__radio:checked ~ label .card__accordion {
            filter: invert(1);
        }

/*********3 way toggle ends**************/
.search__filter-div {
    /*overflow: auto;*/
    /*flex: 1;*/
}

.search__filters__container > div {
    margin: 0 0 8px;
}

.search__add-filter,
.search__clear-filter {
    margin-left: 6px;
}

.search__clear-filter {
    margin-left: auto;
}


.search__af {
    padding: 6px 8px;
    border: 1px solid #e4eaec;
    display: none;
    margin-top: 4px;
    background: #fefefe;
}

.search__af-title {
    font-size: 1.05em;
    font-weight: 500;
    margin: 0;
}

.search__af-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 2px 0;
    padding: 2px 4px;
}

    .search__af-row label {
        min-width: 100px;
    }

    .search__af-row select, .search__af-row input {
        width: 200px;
    }

        .search__af-row input[type="date"] {
            min-width: 120px;
            margin-left: 4px;
        }

            .search__af-row input[type="date"]::-webkit-calendar-picker-indicator {
                margin-left: 4px;
            }

.search__af-buttons {
    margin: 4px 0;
    justify-content: flex-end;
    padding: 0 4px;
}

    .search__af-buttons .btn {
        margin-left: 6px;
        display: block;
        font-size: 0.9em;
        padding: 4px 8px;
    }

.search__actions {
    justify-content: flex-end;
    margin: 8px 0 0;
    padding: 8px 0 0;
}

    .search__actions > .btn {
        margin-left: 6px;
    }

.search__filter--template {
    display: none;
}

.search__filter-title {
    flex: 1;
    margin: 0;
    font-size: 1.05em;
    font-weight: 500;
}

.search__filter-edit {
    /*border-radius: 100%;*/
}

    .search__filter-edit > .ic {
        width: 16px;
        height: 16px;
        background-size: 14px;
    }

.search__filter-remove {
    margin-left: 4px;
}

    .search__filter-remove > .ic {
        width: 16px;
        height: 16px;
        background-size: 18px;
    }



/****************** FILTERS *****************/

.filter__card {
    padding: 0;
    margin: 0 0 8px;
    border: none;
}

.filter__card--template {
    display: none;
}

span.filter__card-delete {
    background-size: 15px;
}


.filter__card-name {
    font-size: 1.1em;
    font-weight: 600;
    flex: 1;
}

.filter__card-parcel {
    margin-left: auto;
}

.filter__card-filters {
    padding: 4px 6px;
    flex-wrap: wrap;
    justify-content: flex-start;
    border-left: 1px solid #3a5e8c;
    border-right: 1px solid #3a5e8c;
}

.filter__card-default {
    flex: 1;
    padding: 4px;
    margin: 1% 2% 1% 0;
    border: 1px solid #dedede;
    border-radius: 4px;
    text-align: left;
    font-size: 0.9em;
    font-weight: 500;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    position: relative;
    padding-left: 16px;
}


    .filter__card-default::before {
        content: '';
        width: 6px;
        height: 6px;
        display: block;
        border-radius: 100%;
        position: absolute;
        left: 6px;
        top: 50%;
        transform: translateY(-50%);
    }
/*
.filter__card--blue {
    border-color: #4996f7;
}*/

.filter__card--blue::before {
    background: #3a5e8c;
}
/*
.filter__card--green {
    border-color: #6cfb6a;
}*/

.filter__card--green::before {
    background: #0ea831;
}
/*
.filter__card--red {
    border-color: #f89d9d;
}*/

.filter__card--red::before {
    background: #ff4949;
}

.filter__card-default:last-child {
    margin-right: 0;
}

.filter__card-footer {
    padding-left: 8px;
    border: 1px solid #3a5e8c;
    border-top: none;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}

.filter__card-button > span.btn {
    padding: 4px 8px;
    font-size: 1.05em;
    font-weight: 500;
    border: 1px solid #124ed7;
    border-radius: 3px;
    margin: 0 2px 2px 0;
    background: #396dc2;
    color: #fff;
}

    .filter__card-button > span.btn:hover {
        background: #124ed7;
    }
/************ RESULT VIEW ***************/

.result__card--template {
    display: none;
}

.result__card {
    padding: 0;
    margin: 0 0 8px;
    border: none;
}


.result__card-title > div:first-child {
    padding-right: 4px;
}

.result__card-name {
    font-size: 1.05em;
    font-weight: 500;
}

.result__card-count {
    position: relative;
    font-size: 1.05em;
    padding-left: 10px;
    margin-left: 4px;
}

    .result__card-count:before {
        content: '';
        position: absolute;
        left: 2px;
        top: 50%;
        transform: translateY(-50%);
        line-height: 1.7;
        height: 60%;
        width: 1px;
        background: #929292;
    }

    .result__card-count span {
        background: #f52a2a;
        font-weight: 500;
        margin-left: 4px;
        padding: 2px 5px;
        color: #ffffff;
        border-radius: 4px;
        max-width: 60px;
    }

.result__card-name {
}

.result__card-date {
    font-size: 0.9em;
    font-weight: 400;
}

.result__card-details {
    padding: 6px;
    border: 1px solid #3a5e8c;
    border-top: none;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}

    .result__card-details > div {
        flex: 1;
        padding-right: 6px;
    }

.result__card-info {
    flex: 0 31%;
    padding: 4px;
    border: 1px solid #d5d5d5;
    border-right: 1px solid #e4eaec;
    border-radius: 3px;
    font-size: 0.95em;
}

    .result__card-info > .ic {
        width: 18px;
        height: 18px;
        background-size: 14px;
        margin-right: 4px;
        filter: invert(48%) sepia(0%) saturate(1304%) hue-rotate( 212deg) brightness(100%) contrast(84%);
        border: 1px solid #0405054d;
        border-radius: 3px;
        /*cursor: none;*/
    }

.result__card-btn {
    margin: 0;
    padding: 3px;
    margin-left: auto;
    color: #fff;
    background: #396dc2;
    border: 1px solid #124ed7;
}

    .result__card-btn:hover {
        color: #fff;
        background: #124ed7;
    }
/************** ASSIGNMENT GROUP ****************/
div[sb-id="group"] .sb__page-content {
    padding: 0;
}

.group__page-content {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.group__filter-div,
.group__assign-div {
    min-height: 55px;
    padding: 8px;
}

.group__card--template {
    display: none;
}

.group__filter,
.group__assign {
    flex: 0 49%;
    justify-content: flex-end;
}

    .group__assign.group__assign--buttons {
        align-items: flex-end;
    }

    .group__filter label,
    .group__assign label {
        font-size: 1.05em;
        display: block;
        margin-bottom: 4px;
    }

    .group__filter select, .group__assign-select {
        width: 100%;
    }

.group__assign--buttons .btn {
    margin: 0 2px;
}

.group__assign--buttons .group__assign-cancel {
    margin-right: 0;
}

.group__list {
    overflow: auto;
    flex: 1;
    padding: 0 8px;
}

.group__card {
    padding: 0;
    margin: 0 0 8px;
    border: none;
}

.group__card-title {
    align-items: center;
    padding: 6px;
}

.group__card-name {
    flex: 1;
    font-size: 1.05em;
    font-weight: 500;
    margin-left: 4px;
}

.group__card-map .ic {
    width: 16px;
    height: 16px;
}

.group__card-details {
    margin-bottom: 6px;
}

    .group__card-details > div {
        width: auto;
        flex: auto;
        margin: 0px;
        padding: 2px 4px;
        font-size: 0.9em;
        border: 1px solid var(--border);
        border-radius: 3px;
    }

div.group__card-user {
    padding-left: 0px;
    font-weight: 500;
    background: #e6f1ff;
    border-color: #b4d5ff !important;
}

div.group__card-date {
    margin: 0 4px;
}

.group__card-date.alert {
    margin: 0 2%;
}

.group__card-date .ic,
.group__card-user .ic {
    width: 16px;
    min-width: 16px;
    height: 16px;
    background-size: 14px;
    filter: invert(24%) sepia(87%) saturate(420%) hue-rotate(141deg) brightness(92%) contrast(97%);
}

.group__card-content {
    padding: 6px;
    border: 1px solid #3a5e8c;
    border-top: none;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}

.group__card-table {
    width: 100%;
    margin-top: 4px;
}

    .group__card-table td {
        text-align: right;
        width: 33%;
    }

        .group__card-table td > div {
            justify-content: flex-end;
        }

    .group__card-table tr td:first-child {
        text-align: left;
        width: 100px;
    }

.group__table-count {
    font-size: 1.05em;
    font-weight: 500;
}

.group__table-label {
    padding: 2px 4px;
    color: #f00;
    border-radius: 3px;
    font-weight: 600;
}

.group__page-div {
    justify-content: flex-end;
}


    .group__page-div > span {
        margin-right: 2px;
    }

.group__page-link {
    min-width: 24px;
    padding: 4px 2px;
    text-align: center;
    font-weight: 600;
}

    .group__page-link[page-dis="true"] {
        color: #92a2b1;
        border: 1px solid #cfd7df;
        background-image: none;
        background-color: #ebeff3;
        cursor: none;
    }

.group__page-text {
    min-width: 24px;
    padding: 4px 2px;
    text-align: center;
    border: 1px solid transparent;
}
/************** PRIORITY ****************/
.priority__info {
    padding: 6px;
    margin: 0;
    border-radius: 3px;
}

    .priority__info h4 {
        margin: 0;
        font-weight: 500;
    }

.priority__points {
    margin: 4px 0 0;
    padding-top: 2px;
    padding-left: 20px;
    line-height: 1.7;
    border-top: 1px solid #fff;
}

.priority__sample {
    margin-bottom: 6px;
    display: block;
}

.priority__file-upload {
    border-color: #3a5e8c;
    border-radius: 3px;
    padding: 0;
    width: 100%;
    cursor: pointer;
    margin: 6px 0;
}

    .priority__file-upload::-webkit-file-upload-button {
        padding: 4px 6px;
        border: 1px solid #3a5e8c;
        background: #3a5e8c;
        color: #fff;
    }

.priority__btn-upload {
    margin-left: auto;
}

.legend-atc-text {
    color: white;
    font-size: 14px;
    margin-left: 10px;
}

@media screen and (max-height: 799px) {
    .legend-atc-div {
        background: #1a2534cf;
        width: 165px;
        margin-bottom: 98px !important;
        padding: 5px;
        margin-right: 0px !important;
    }
    .marker_legend_priority {
        width: 1rem;
        height: 1rem;
        display: block;
        left: 0.2rem;
        top: 0.1rem;
        position: relative;
        border-radius: 3rem 3rem 0;
        transform: rotate(45deg);
        border: 2px solid #FFFFFF;
    }

    .legend-item {
        width: 150px;
        height: 20px;
        margin-bottom: 5px;
        display: flex;
    }
}

/* Styles for screens greater than or equal to 600 pixels */
@media screen and (min-height: 800px) {
    .legend-atc-div {
        background: #1a2534cf;
        width: 165px;
        margin-bottom: 115px !important;
        padding: 5px;
        margin-right: 0px !important;
    }

    .marker_legend_priority {
        width: 1.50rem;
        height: 1.50rem;
        display: block;
        left: 0.2rem;
        top: 0.1rem;
        position: relative;
        border-radius: 3rem 3rem 0;
        transform: rotate(45deg);
        border: 2px solid #FFFFFF;
    }
    .legend-item {
        width: 150px;
        height: 30px;
        margin-bottom: 5px;
        display: flex;
    }
}

.marker__priority {
    width: 1.50rem;
    height: 1.50rem;
    display: block;
    left: -0.75rem;
    top: -0.50rem;
    position: relative;
    border-radius: 3rem 3rem 0;
    transform: rotate(45deg);
    border: 2px solid #FFFFFF;
}

.marker__lasso-selected {
    background-color: rgba(246, 247, 144, 0.72) !important;
    border: 16px solid rgba(230, 250, 28, 0.25);
    border-radius: 10px;
    height: 2.5rem !important;
    width: 2rem !important;
    top: -1rem;
    left: -1rem;
}

.marker__priority-critical {
    background-color: #FF0000;
}

.marker__priority-urgent {
    background-color: #FFC000;
}

.marker__priority-high {
    background-color: #FFFF00;
}

.marker__priority-medium {
    background-color: #00B0F0;
}

.marker__priority-normal {
    background-color: #8944FA;
}

.marker__priority-proximity {
    background-color: #00B050;
}

.marker__priority-old-urgent {
    background-color: red;
}

.marker__priority-old-high {
    background-color: orange;
}

.marker__priority-old-normal {
    background-color: green;
}

.marker__info {
    /*width: 10px;
    height: 10px;*/
    display: block;
    top: 50%;
    left: 0;
    right: 0;
    margin: 0 auto;
    text-align: center;
    color: #fff;
    font-size: 12px;
    font-weight: 600;
    position: relative;
    border-radius: 100%;
    padding: 2px;
    /*transform: translateY(-50%);*/
    transform: translateY(-50%) rotate(-45deg);
}
/*
.marker__info-qc {
    border: 1px solid #00a814;
    background-color: #00f707;
}

.marker__info-ma {
    border: 1px solid #fff;
    background-color: #e4ff04;
}
*/
.cluster-active {
    width: 16px;
    height: 20px;
    background: url(../images/enable-clustering.svg) center no-repeat;
    background-size: 20px;
    transition: all 0.5s;
    cursor: pointer;
    display: inline-block;
}

.cluster-deactive {
    width: 16px;
    height: 20px;
    background: url(../images/disable-clustering.svg) center no-repeat;
    background-size: 20px;
    transition: all 0.5s;
    cursor: pointer;
    display: inline-block;
}

.remove-layer-button {
    width: 16px;
    height: 20px;
    background: url(../images/remove-layer.svg) center no-repeat;
    background-size: 32px;
    transition: all 0.5s;
    cursor: pointer;
    display: none;
}

.leaflet-popup-content {
    min-width: 240px;
}

.marker__popup {
}

.marker__popup-alerts .alert {
    font-weight: 500;
    padding: 4px 6px;
    width: fit-content;
    border-radius: 2px;
    flex: 0 49%;
}

.marker__popup-title {
    margin: 0 0 6px;
    font-size: 1.25em;
    font-weight: 600 !important;
    color: #1a355b;
}

.marker__popup-address {
    margin: 8px 0;
    word-break: break-all;
}

.marker__qc,
.marker__popup-assign {
    margin-top: 6px;
    transition: all 0.1s;
    min-width: 80px;
}

.marker__qc {
    margin-left: auto;
}

.marker__popup-group {
    display: flex;
    flex-direction: column;
}

    .marker__popup-group > span:not(.btn) {
        margin-top: 6px;
        font-size: 1.05em;
    }

.marker__reassign-div {
    padding: 6px;
    border: 1px solid #e4eaec;
    margin: 6px 0;
}

.marker__reassign-select {
    width: 200px;
}

.marker__reassign-input {
    margin-left: 6px;
    flex: 1;
}

.marker__reassign-invalid {
    color: #f00;
    font-weight: 500;
    text-align: center;
    margin: 6px 0;
    display: block;
}

.marker__reassign-buttons {
    margin-top: 6px;
    justify-content: flex-end;
}

    .marker__reassign-buttons .btn {
        margin-left: 6px;
    }
/********* POPUP MASK ************/
.mask__atc {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #000000aa;
    z-index: 14;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    display: none;
}

/********** POPUP STYLE **********/
.popup-atc {
    width: 400px;
    padding: 16px;
    display: none;
    position: initial;
    transform: none;
    top: 0;
    left: 0;
    margin: 0 auto;
}

    .popup-atc h3 {
        margin: 0px 0 6px;
        font-weight: 600;
    }

    .popup-atc input[type="text"] {
        width: 100%;
        border-color: transparent;
        border-bottom-color: var(--borderDark);
        font-size: 15px;
        margin-bottom: 6px;
        outline: none;
        padding: 8px;
    }

popup-atc input[type="text"]:focus {
    border-bottom-color: #000;
}

.popup-atc .sb__input-btn {
    margin-top: 8px;
}
/************* SAVE RESULT POPUP ***************/

.result-pop .alert {
    padding: 8px;
}


/*************NEW LAYER POPUP***************/

.layer-pop .sb__validate {
    margin: 4px 0;
}

.layer-pop .flex-row-center {
    margin: 8px 0;
    justify-content: space-between;
}

.layer-pop input[type="text"] {
    width: 250px;
    border-color: var(--border);
    padding: 4px 6px;
    border-radius: 3px;
    outline: none;
    margin: 0;
}

    .layer-pop input[type="text"]:focus {
        border-color: var(--primary);
    }
/*********** ADHOC POPUP ************/
.adhoc-pop {
    width: 600px;
}

.adhoc__div {
    justify-content: space-between;
    margin: 8px 0;
}

    .adhoc__div label {
        flex: 0 40%;
    }

    .adhoc__div input[type="text"],
    .adhoc__div select {
        width: 250px;
        border-color: var(--border);
        padding: 4px 6px;
        border-radius: 3px;
        outline: none;
        margin: 0;
    }

        .adhoc__div input[type="text"]:focus {
            border-color: var(--primary);
        }

        .adhoc__div input[type="text"].invalid {
            border-color: #db0505;
        }

        .adhoc__div select:focus {
            border-color: var(--primary);
        }

.adhoc-pop .alert {
    padding: 8px;
    margin: 4px 0;
    border-radius: 3px;
}

.adhoc__check {
    margin-top: 6px;
}

    .adhoc__check input {
        margin: 4px 8px 4px 4px;
    }

.sb__adhoc-btn {
    margin-top: 16px;
    justify-content: flex-end;
}

    .sb__adhoc-btn .btn {
        margin-left: 6px;
    }

.adhoc__priority {
    margin: 8px 0;
}

    .adhoc__priority > div {
        height: 28px;
    }

    .adhoc__priority p {
        width: calc(100% - 250px);
        margin: 0;
    }

.adhoc__priority-div {
    margin-right: 8px;
    cursor: pointer;
}

    .adhoc__priority-div label {
        font-weight: 500;
    }

adhoc__priority-div:first-child {
    margin-left: auto;
}

.adhoc__error-msg {
    display: none;
    border-color: #db0505;
    color: #db0505;
    background: #fff6f6;
}
/*********** GROUP POPUP ************/
.group-pop {
    width: auto;
    max-width: 80%;
    height: auto;
    max-height: 75%;
}

.group-pop-second {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.group-pop__scroll {
    flex: 1;
    overflow: auto;
    height: 100%;
    margin: 8px 0;
    max-height: 56vh;
}

.group-pop__group-exists > .alert {
    padding: 8px;
}

.group-pop__group-exists input[type="radio"] {
    margin: 0 6px;
}

.group-pop__group-exists label {
    font-weight: 500;
    color: #4a4a4a;
}

.group-pop__alert {
    padding: 8px 8px;
}

.group-pop__info {
    margin-bottom: 8px;
    justify-content: space-between;
}

.group-pop__count {
    flex: 0 49%;
    padding: 10px;
    border: 1px solid #e4eaec;
    border-radius: 2px;
}

.group-pop__info-title {
    margin: 0 0 8px;
    font-weight: 500;
}

.group-pop__count-table {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
}

    .group-pop__count-table tr td {
        border: 1px solid #e4eaec;
        text-align: center;
        padding: 4px;
    }

.group-pop__adhoc {
    flex: 0 49%;
    padding: 10px;
    border: 1px solid #e4eaec;
    border-radius: 2px;
}

#appendableDiv .tableVerify {
    display: flex;
    justify-content: space-between;
}

    #appendableDiv .tableVerify .a {
        display: flex;
        flex-direction: column;
        flex: 0 49%;
    }

        #appendableDiv .tableVerify .a:first-child {
            margin-bottom: 6px;
        }

        #appendableDiv .tableVerify .a input[type="text"] {
            font-size: 13px;
            width: 100%;
            margin: 4px 0 0;
            padding: 4px 6px;
            border-color: var(--borderDark);
        }

#appendableDiv .imgGroupNumberVerify {
    display: none;
}

.group-pop__warn {
    padding: 6px;
    border: 1px solid #e4eaec;
    margin: 4px 0;
    border-radius: 2px;
}

    .group-pop__warn img {
        margin: 4px 8px 4px 4px;
    }

.group-pop__warn-check {
    margin: 4px 0;
}

#gpAssignedGroups {
    word-break: break-all;
}

.group-pop-btn {
    justify-content: flex-end;
}

    .group-pop-btn .btn {
        margin-left: 8px;
    }

.group-pop-third {
    width: 600px;
}

.group-third {
    max-width: 800px;
}

.group-third__success {
    margin: 14px 0 8px;
    overflow: auto;
    height: 100%;
    width: 100%;
    max-height: 56vh;
}

    .group-third__success .alert {
        padding: 10px;
        font-size: 1.2em;
        font-weight: 500;
        text-align: center;
        display: block;
    }


.group-third__parcels-title {
    font-weight: 500;
    display: block;
    margin: 8px 0;
}

.group-third__parcels table {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
}

    .group-third__parcels table tr td {
        border: 1px solid #e4eaec;
        text-align: center;
        padding: 4px;
    }

.group-third__btn {
    justify-content: flex-end;
}
/************* LOADING ANIMATION *************/

.placeholder {
    background-color: #e2e2e2;
    position: relative;
    overflow: hidden;
}

    .placeholder::before {
        display: block;
        content: "";
        position: absolute;
        top: 0;
        left: -10%;
        width: 50%;
        height: 100%;
        background: -webkit-gradient( linear, left top, right top, from(transparent), color-stop(rgba(255, 255, 255, 0.2)), to(transparent) );
        background: linear-gradient(90deg, transparent, rgba(255, 255, 255, 0.2), transparent);
        animation: animLoading 0.75s infinite;
    }

@keyframes animLoading {
    100% {
        left: 60%;
    }
}

/************ MAP DASHBOARD POPUP ************/
.dash-pop {
    position: absolute;
    left: 1%;
    top: 1%;
    width: calc(98% );
    max-height: 98%;
    overflow: auto;
    z-index: 1002;
    background: #fff;
    border-radius: 3px;
    display: none;
}

.dash-pop__title {
    margin: 0 0 8px;
    font-weight: 500;
    font-size: 1.1em;
}

.dash-pop__filter,
.dash-pop__result {
    padding: 12px;
}

.dash-pop__filter {
    padding-bottom: 0;
}

.dash-pop__filter--template,
.dash-pop__result--template {
    display: none;
}

.dash-pop__filter-recent,
.dash-pop__result-recent {
    display: flex;
    flex-wrap: wrap;
}

    .dash-pop__filter-recent .filter__card:first-child:nth-last-child(1),
    .dash-pop__result-recent .result__card:first-child:nth-last-child(1) {
        flex: 100%;
        max-width: 100%;
    }

    .dash-pop__filter-recent .filter__card:first-child:nth-last-child(2),
    .dash-pop__filter-recent .filter__card:first-child:nth-last-child(2) ~ div,
    .dash-pop__result-recent .result__card:first-child:nth-last-child(2),
    .dash-pop__result-recent .result__card:first-child:nth-last-child(2) ~ div {
        flex: 0 49%;
        max-width: 49%;
    }

    .dash-pop__filter-recent .filter__card:first-child:nth-last-child(3),
    .dash-pop__filter-recent .filter__card:first-child:nth-last-child(3) ~ div {
        flex: 0 33%;
        max-width: 33%;
    }

    .dash-pop__result-recent .result__card:first-child:nth-last-child(3),
    .dash-pop__result-recent .result__card:first-child:nth-last-child(3) ~ div:last-child {
        flex: auto;
    }

        .dash-pop__result-recent .result__card:first-child:nth-last-child(3),
        .dash-pop__result-recent .result__card:first-child:nth-last-child(3) ~ div:not(:last-child) {
            flex: auto;
            max-width: 49.5%;
        }

    .dash-pop__filter-recent .filter__card:nth-child(2),
    .dash-pop__result-recent .result__card:nth-child(2) {
        margin: 0 0.5%;
    }

    .dash-pop__result-recent .result__card:first-child:nth-last-child(3) ~ div:not(:last-child):not(:first-child) {
        margin: 0 0 0 1%;
    }

@media screen and (min-width: 1600px) {
    .dash-pop__result-recent .result__card:first-child:nth-last-child(3),
    .dash-pop__result-recent .result__card:first-child:nth-last-child(3) ~ div {
        flex: auto;
        max-width: 33% !important;
        margin: 0;
    }

    .dash-pop__result-recent .result__card:nth-child(2) {
        margin: 0 0.5% !important;
    }
}

.dash-pop__loading {
    display: flex;
    justify-content: space-between
}

.dash-pop__loading-div {
    display: block;
    margin: 0 0 8px;
    flex: 0 33%;
}

    .dash-pop__loading-div .filter__card-footer {
        padding: 0 6px 6px;
    }

/************ USER POPUP ************/
.user-pop {
    position: relative;
    max-height: 350px;
    overflow: auto;
    display: none;
}

.user-pop__close {
    display: block;
    background: #dcebff;
    position: absolute;
    right: 8px;
    top: 8px;
    border-radius: 100%;
    padding: 2px;
}

    .user-pop__close .ic {
        display: block;
        background-size: 20px;
        width: 22px;
        height: 22px;
    }

.user-pop__loading {
    display: none;
}

.user-pop__data {
    overflow: auto;
    display: flex;
    flex-direction: column;
    display: none;
}

.user-pop__name {
    font-weight: 500;
    font-size: 1.1em;
    margin-bottom: 12px;
    display: block;
}

.user-pop__time {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

    .user-pop__time > div {
        flex: 0 24%;
        width: 24%;
    }

    .user-pop__time label {
        min-width: 125px;
        position: relative;
    }

        .user-pop__time label::after {
            content: ':';
            display: inline-block;
            position: absolute;
            right: 0;
        }

    .user-pop__time span {
        display: block;
        padding-left: 4px;
        font-weight: 500;
        font-size: 1.05em;
    }


.user-pop__table {
    border-collapse: collapse;
    width: 100%;
}

    .user-pop__table tr td,
    .user-pop__table tr th {
        border: 1px solid #e4eaec;
        padding: 8px 8px;
    }

        .user-pop__table tr td:first-child {
            width: 300px;
        }

            .user-pop__table tr td:first-child a {
                color: #1a355b;
                cursor: pointer;
                font-weight: 500;
                width: 280px;
            }

        .user-pop__table tr td:not(:first-child) {
            text-align: center;
            font-weight: 500;
            padding: 2px;
        }

.user-pop__td--plain,
.user-pop__td span {
    display: block;
    flex: 0 50%;
    padding: 6px;
}

    .user-pop__td span:last-child {
        border-left: 1px solid #e3e3e3;
        background: #f7fff8;
        color: #007020dd;
    }

.user-pop__group-list {
    display: none;
}

/*********** LAYER SETTINGS*************/
.leaflet-control-layers {
    display: none;
}

.map-zoom {
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 1000;
    display: block;
    background: #091a32cf;
    border-top-right-radius: 4px;
}

.map-zoom__in,
.map-zoom__out {
    width: 36px;
    height: 36px;
    filter: invert(1);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.layer-settings {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 1001;
    background: #091a32cf;
    border-top-left-radius: 4px;
}

.add-overlay {
    width: 48px;
    height: 48px;
    position: relative;
    z-index: 1001;
    border-top-left-radius: 4px;
    cursor: pointer;
    display: none;
}

    .add-overlay:hover {
        background: #0d386e;
    }

    .add-overlay .ic {
        position: absolute;
        top: calc( 50% - 12px );
        left: 0;
        right: 0;
        margin: 0 auto;
        border-top-left-radius: 4px;
        filter: invert(1);
    }


.layer__button {
    display: block;
    position: relative;
    border-top-left-radius: 4px;
}

    .layer__button:hover {
        background: #0d386e;
    }

    .layer__button .ic {
        width: 48px;
        height: 48px;
        background-size: 26px;
        filter: invert(1);
        display: block;
    }

.layer-select {
    position: absolute;
    right: 0;
    bottom: 50px;
    width: 200px;
    border-radius: 4px;
    background: #fff;
    z-index: 1002;
    display: none;
}

    .layer-select input {
        margin: 3px 6px;
    }

.layer-select__radio {
    padding: 8px;
}

    .layer-select__radio > div:first-child {
        margin-bottom: 6px;
    }

    .layer-select__radio > div label {
        cursor: pointer;
    }

.layer-list {
    padding: 0;
    position: relative;
}

.layer-list__title {
    margin: 6px 8px;
    font-size: 1.05em;
    font-weight: 500;
    padding-top: 8px;
}

    .layer-list__title::before {
        position: absolute;
        content: '';
        display: block;
        left: 0;
        width: 100%;
        height: 1px;
        background: #e4eaec;
        top: 0;
    }

.layer-select__item {
    border: 1px solid #e4eaec;
    margin: 8px;
}

    .layer-select__item label {
        flex: 1;
    }

    .layer-select__item .btn--icon .ic {
        filter: invert(24%) sepia(4%) saturate(8%) hue-rotate(348deg) brightness(102%) contrast(92%);
    }
