﻿.ds-header
{
	padding: 10px;
}
.EditPopup{
 display: block;
width: 278px;
border: 1px solid silver;
padding: 6px;
position: absolute;
box-shadow:1px 1px 1px gray;
transition: opacity 0.5s linear;
background-color: white;
box-shadow: 1px 1px 1px gray;
padding-bottom:10px;
    }
    .EditPopup:before,.EditPopup:after
    {	content: "";
	position: absolute;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	top: 100%;
	left: 50%;
	margin-left: -10px;
    }
    
    .EditPopup:before {
	border-top: 10px solid #111;
	border-top: 10px solid gray;
	margin-top: 2px;
}

.EditPopup:after {
  
	border-top: 10px solid #fff;
	margin-top: 0px;
	z-index: 1;
}
.displaylabel
{
    cursor:pointer;
}
.ds-header .title
{
	font-weight: normal;
}

.ds-header .name
{
	color: #192a34;
	font-size: 24pt;
	font-family: 'Oswald' , sans-serif;
	font-weight: 400;
	margin-bottom: 10px;
	vertical-align: baseline;
}

.ds-header .name .attrib
{
	color: #9b9998;
	vertical-align: baseline;
	font-family: Arial;
	font-size: 9pt;
	display: inline-block;
	margin-left: 8px;
}

.ds-table-list
{
	border: 1px solid #D5D5D5;
	height: 300px;
	width: 250px;
}

.ds-table h3
{
	padding-left: 27px;
	background: url(icons/list.png) left center no-repeat;
	margin-top: 10px;
	margin-bottom: 5px;
}

.ds-table .table-name
{
	padding: 2px;
	padding-left: 24px;
	margin: 2px 10px 2px 3px;
	background: #F0F0F0;
	border: 1px solid #C0C0C0;
	border-radius: 3px;
	cursor: move;
	font-size: 0.9em;
}

.ds-table .table-name span
{
	display: inline-block;
	white-space: nowrap;
	width: 200px;
	overflow: hidden;
	text-overflow: ellipsis;
}

.trash
{
	height: 100px;
	overflow-y: auto;
	border: 1px solid #C0C0C0;
	padding: 10px;
}

.trash .table-name
{
	float: left;
	color: Red;
	font-size: 9px;
	background: #f5e0e0;
	border: 1px solid #d89898;
	border-radius: 3px;
	margin: 2px 3px;
	padding: 2px 3px;
	padding-right: 15px;
	width: auto;
}

.trash .table-name span
{
	width: auto;
}
.drop-box:hover
{
}

.app-page-table
{
	width: 100%;
}

.td-field-master
{
	width: 250px;
	min-height: 300px;
}

.field-master
{
	min-height: 250px;
	margin-right: 20px;
}

.app-page-table div > h2
{
	margin-top: 0px;
	margin-bottom: 5px;
}

.app-page-table p
{
	margin: 8px 0px;
}

.app-page-table .field-master select
{
	width: 220px;
	border: 1px solid #ABABAB;
	font-weight: bold;
}

.fields-list
{
	height: 300px;
	border-right: 1px solid #CFCFCF;
	overflow-y: auto;
	overflow-x: hidden;
	overflow-style: panner;
	font-size: 0.9em;
}

.master-field span
{
	padding: 2px;
	padding-left: 22px;
	margin: 2px 10px 2px 3px;
	background: #F0F0F0;
	border: 1px solid #C0C0C0;
	border-radius: 3px;
	cursor: move;
	display: block;
	background: url(icon16/blue-right.png) 2px center no-repeat;
}

.master-field a
{
	padding: 2px;
	padding-left: 22px;
	margin: 2px 10px 2px 3px;
	background: #F0F0F0;
	border: 1px solid #C0C0C0;
	border-radius: 3px;
	cursor: move;
	display: block;
	background: url(icon16/add.gif) 2px center no-repeat;
	cursor:pointer;
}

.master-field span.cat-added
{
	background-image: url(icon16/done.png);
}

.div-cat-create
{
	padding: 10px;
	background: #e0eaf0;
	border: 1px solid #d0dae0;
	margin-right: 10px;
}

.category-list
{
	margin-right: 10px;
	margin-top: 10px;
	min-height: 300px;
	overflow-y: auto;   
	overflow-x: hidden;
}

.category
{
	background: #ece8ca;
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ece8ca), to(#f5f4e5)); /* Safari 5.1, Chrome 10+ */
	background: -webkit-linear-gradient(top, #f5f4e5, #ece8ca); /* Firefox 3.6+ */
	background: -moz-linear-gradient(top, #f5f4e5, #ece8ca); /* IE 10 */
	background: -ms-linear-gradient(top, #f5f4e5, #ece8ca); /* Opera 11.10+ */
	background: -o-linear-gradient(top, #f5f4e5, #ece8ca);
	padding: 6px;
	--border-radius: 8px;
	border: 1px solid #bfbdad;
	border-top:0px none;
	margin-right: 5px;
	--margin-bottom: 10px;
}

.category:first-child
{
	border: 1px solid #bfbdad;
}

.cat-fields {
	overflow-y: auto;
	overflow-x: hidden;
	padding: 6px;
	background: White;
	border-radius: 4px;
	border: 1px solid #CFCFCF;
	min-height: 5px;
	margin-top: 6px;
}

.cat-fields div
{
	padding: 2px;
	padding-left: 4px;
	padding-right: 6px;
	margin: 2px 10px 6px 3px;
	background: #F0F0F0;
	border: 1px solid #C0C0C0;
	border-radius: 3px;
	float: left;
	font-size: 0.8em;
	cursor: ew-resize;
}

.cat-name
{
	font-weight: bold;
	font-size: 1.0em;
}
.cat-num
{
	font-weight: bold;
font-size: 1.0em;
margin-left: 4px;
position: relative;
top: 3px;
}
.category .props
{
	cursor: ns-resize;
}

.category .edit
{
	display: none;
}

.category .view
{
	display: inline-block;
	vertical-align: middle;
}

.category .controls
{
	display: none;
}

.minimized .cat-fields
{
	display: none;
}

.editmode .view
{
	display: none;
}

.editmode .edit
{
	display: inline-block;
}

.cat-edit input
{
	width: 400px;
}

.minimized .controls
{
	display: block;
}

.up-field-settings
{
	margin-right: 15px;
}


.field-select-category
{
	padding: 10px;
}

.fields-table
{
	font-size: 0.9em;
}

.field-row
{
	background: #E5E5E5;
}

.field-row .text-input
{
	border: 1px solid #CFCFCF;
	margin: 0px;
	padding: 0px;
	font-family: Trebuchet MS;
	width: 90%;
}

.field-row input.wait
{
	margin: 0px;
	padding: 0px;
}

.field-row select
{
	border: 1px solid #CFCFCF;
	margin: 0px;
	padding: 0px;
	font-family: Arial;
	width: 90%;
}

.field-row .lookup-hide
{
	display: none;
}

.field-row td
{
	vertical-align: middle;
	border-bottom: 0px none !important;
}

.field-settings
{
	border-top: 0px none !important;
	padding: 4px;
}

.field-settings textarea
{
	width: 600px;
	height: 30px;
	font-family: Arial;
	overflow: visible;
	resize: none;
}

.field-settings
{
	vertical-align: top;
}

.field-flags
{
	vertical-align: top;
	display: inline-block;
}

.field-flags div span
{
	display: inline-block;
	width: 170px;
}

.upload-progress
{
	display: none;
}

.upload-meter
{
	width: 400px;
	height: 20px;
	border: 1px solid #999999;
	background: #CFCFCF;
}

.upload-meter div
{
	width: 0%;
	height: 20px;
	background: #39c839;
}

.import-job-panel
{
	margin-left: 30px;
	margin-top: 30px;
	width: 700px;
}

.import-job-panel .job-setting
{
	display: block;
	padding: 10px 5px;
	border-bottom: 1px solid #CFCFCF;
	background: #EFEFEF;
}

.import-job-panel .job-setting label
{
	margin-left: 7px;
}

.import-job-panel .aux-setting
{
	padding-left: 27px;
	background: White;
}

.import-job-panel .aux-setting label
{
	font-style: italic;
}

ul.import-errors
{
	list-style-type: none;
	width: 700px;
	margin-left: 0px;
	padding-left: 0px;
}

ul.import-errors li
{
	margin: 5px;
	padding: 5px 15px;
	border: 1px solid #d89898;
	background: #f5e0e0;
	color: Red;
	font-weight: bold;
}

ul.import-warnings li
{
	border: 1px solid #e8eca2;
	background: #eff1d1;
	color: #fc4c4c;
	font-weight: normal;
}

.select-dst option
{
	color: Black;
}

.select-dst optgroup
{
	background: #a8b8c1;
	color: White;
}

.special-fields-table
{
	clear: both;
	border-spacing: 0px;
}

.special-fields-table .input-element
{
	width:160px;
	margin-right:15px;
}

.special-fields-table label
{
	padding-right:15px;
}

.user-edit-table
{
	height:250px;
	border:1px solid #CFCFCF;
	width:800px;
}

.user-edit-form
{
	
}

.user-edit-form tr td:first-child
{
	width:130px;
}

.user-edit-form tr td input[type="text"], .user-edit-form tr td input[type="password"]
{
	border:1px solid #BFBFBF;
	padding:3px;
	width:180px;
}

.user-edit-table input[type="submit"]
{
	padding:5px 20px;
}

.user-edit-table input[type="submit"]:first-child
{
	font-weight:bold;
}

.user-edit-form tr td span
{
	margin-left:8px;
}

.user-edit-form tr td .validation-error
{
	font-size:large;
}

.comparable-fields
{
	overflow:auto;
}

.comparable
{
	font-size:smaller;
	border:1px solid #CFCFCF;
	background:#EFEFEF;
	border-radius:5px;
	margin:3px 0px;
	margin-right:10px;
	padding:2px;
}

.comparable-header
{
	font-size:inherit;
	border:1px solid #CFCFCF;
	background:#EFEFEF;
	margin:3px 0px;
	margin-right:10px;
	padding:5px;
}

.comparable input[type="text"]
{
	width:180px;
	font-size:8pt;
	margin-right:10px;
}

.comparable select
{
	width:100px;
	font-size:8pt;
	margin-right:10px;
}

.comparable-edit
{
	font-size:smaller;
}

.comparable-edit td.label
{
	padding:5px;
	margin-right:25px;
	width:140px;
	white-space:nowrap;
}


.comparable-edit td.input
{
	width:450px;
}

.comparable-edit td.hinput
{
	width:160px;
}

.comparable-edit td.input input, .comparable-edit td.input textarea
{
	width:400px;
	font-size:8pt;
	font-weight:bold;
}

.comparable-edit td.input textarea
{
	width:500px;
}

.comparable-edit td.hinput input
{
	width:110px;
	font-size:8pt;
	font-weight:bold;
}

.div-config-level
{
    margin-bottom:8px;
}

.div-config-level *
{
    font-size:14pt;
}

.div-config-level select
{
    margin-left:20px;
    width:300px;
    font-weight:lighter;
}

#tabbed-editor ul.ui-tabs-nav li a { font-size: 0.8em; }

.custome {
    width: 12px;
    height:12px;
    float:left;
    margin:2px 2px;
    
}
.icon{
    width:32px;
}
.exp-col{
	float:left;
}
.cat-expand-collpase span
{
    float: left;
    font-weight: bold;
    color: #2779aa;
    font-size: 13px;
}