﻿body {
    background-color:transparent;
}

.hideonprint
{
	display:none !important;
}

h1, h2, h3, h4, h5
{
	font-family:Arial !important;
}

#contentTable
{
	height:auto !important;
	overflow:visible !important;
}