﻿.zoom .icon
{
	background: url(icons/search.png) center center no-repeat;
}

.rotate .icon
{
	background: url(icons/rotate.png) center center no-repeat;
}

.panel-spacer
{
	display: none !important;
}
#formPanel
{
	min-height: 200px;
	width: 300px;
	background-color: #f2f5f7;
	padding: 5px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	border-color: #48b0e5;
	color: #3c79aa;
}
.flag-label
{
	display: inline-block;
	width: 80px;
}

.parcelid
{
	border: 1px solid #469dec;
	padding: 3px;
}

.parcel-controls
{
	margin-top: 20px;
}

.slide-control
{
	background: White;
	border: 1px solid #CFF;
	border-radius: 5px;
	min-height: 30px;
	margin: 3px 0px;
	width: 310px;
	padding: 4px;
	background: #dee8ec;
}

.flag-form
{
	background: White;
	border: 1px solid #CFF;
	border-radius: 5px;
	min-height: 150px;
	margin: 3px 0px;
	width: 294px;
	padding: 8px 12px;
	color: #333;
}

.slide-control:after
{
	content: " ";
	display: block;
	clear: both;
}

.slide-control div
{
	float: left;
}

.slide-control .icon
{
	width: 40px;
	height: 40px;
}

.slide-control .slider-container
{
	width: 210px;
	padding: 4px;
	margin-top: 10px;
	padding-bottom: 0px;
}

.slide-control .slider
{
	float: none;
	clear: both;
	border: 1px solid #AAA;
}

.slide-control .adjustment
{
	margin-top: 10px;
}

.form-subtitle
{
	font-weight: bold;
	margin: 3px 0px;
	margin-top: 8px;
}

#sketchStatus td
{
	width: 33.3%;
}

.parcel-buttons
{
	margin: 10px 0px 30px 0px;
}

.navigate
{
	font-size: smaller;
}

.navigate a
{
	color: #389af1 !important;
}

.flag-form h2
{
	margin-top: 0px;
}

#parcel-selection
{
	
}

.left-panel
{
	width:340px !important;
}