﻿/* Tab Content - menucool.com */

ul.tabs
{
    padding: 7px 0;
    font-size: 0;
    margin:0;
    list-style-type: none;
    text-align: left; /*set to left, center, or right to align the tabs as desired*/
}
        
ul.tabs li
{
    display: inline;
    margin: 0;
    margin-right:3px; /*distance between tabs*/
}
        
ul.tabs li a
{
    font: normal 12px Verdana;
    text-decoration: none;
    position: relative;
    padding: 7px 16px;
    border: 1px solid #CCC;
    border-bottom-color:#B7B7B7;
    color: #000;/*
    background: #F0F0F0 url(/images/tabbg.gif) 0 0 repeat-x;*/
    background: #F0F0F0 url(images/tabbg.gif) 0 0 repeat-x;
    border-radius: 3px 3px 0 0;
    outline:none;
}
        
ul.tabs li a:visited
{
    color: #000;
}
        
ul.tabs li a:hover
{
    border: 1px solid #B7B7B7;
    background:#F0F0F0 url(images/tabbg.gif) 0 -36px repeat-x;
}
        
ul.tabs li.selected a, ul.tabs li.selected a:hover
{
    position: relative;
    top: 0px;
    font-weight:bold;
    background: white;
    border: 1px solid #B7B7B7;
    border-bottom-color: white;
}
        
        
ul.tabs li.selected a:hover
{
    text-decoration: none;
}
     

div.tabcontents
{
    border: 1px solid #B7B7B7; 
    /*padding: 30px;*/
    
    background-color:#FFF;
    border-radius: 0 3px 3px 3px;
}

#tableSettings{
    margin-top: 15px;
    margin-left: 10px;
}
#tableSettings td{
    padding-bottom: 10px;
    padding-right: 10px;
}
/*.smart-screen
{   
    float: right;
    width: 25px;
    height: 20px;
    margin: 6px 2px;
    background: url(/App_Static/css/images/up-arrow.png);
    background-size: 86%;
    background-repeat: no-repeat;
    cursor: pointer;
    dispaly:none;
}*/
.screen-up
{   
     float: right;
    width: 25px;
    height: 20px;
    margin: 6px 10px;
    background: url(/App_Static/css/images/up-arrow.png);
    background-size: 86%;
    background-repeat: no-repeat;
    cursor: pointer;
    dispaly:none;
}
.screen-down
{
    float: right;
    width: 25px;
    height: 20px;
    margin: 6px 2px;
    background: url(/App_Static/css/images/down-arrow.png);
    background-size: 86%;
    background-repeat: no-repeat;
    cursor: pointer;
    dispaly:none;
}
.showSearchPanel {
      background: url(/App_Static/css/images/search.png);
    background-size: 82%;
    background-repeat: no-repeat;
    cursor: pointer;
    float: left;
    width: 33px;
    height: 29px;
    z-index: 5000;
    top: 50%;
    position: absolute;
    margin-left: -1px;
    border: 1px solid #dddddd;
    background-position-x: 4px;
    background-position-y: 1px;
    background-color: rgba(224, 224, 219, 0.88);
}
.hideSearchPanel {
    background: url(/App_Static/css/images/close.png);
    background-size: 86%;
    background-repeat: no-repeat;
    cursor: pointer;
    float: right;
    width: 24px;
    height: 23px;
    margin: 2px -2px;
 }
 .showSearchPanel:hover {
    background-color: #dcf2ff;
}