﻿body {
    margin: 0px;
	padding: 0px;
	font-family: Segoe UI, Arial, Helvetica, sans-serif;
	/* background-color: Gray; */
	font-size: 10pt;
	color: #333;
}

#contentTable
{
	width: 100%;
	border-spacing: 0px;
	min-height: 500px;
	background:White;
}

.sketch-left-content input[type='TEXT'], .sketch-left-content input[type='date'], .sketch-left-content select
{
    width:100%;
}
td {
    vertical-align: top;
}
.parcel-details
{
        padding: 6px;
   height: 22px !important;
    font-weight: bold;
}
.sketch-filter-header {
    color:#808080;
    font-weight: bold;
    font-size: 1.4em;
    border-bottom:1px solid silver;
    margin-bottom:15px;
}
.sketch-left-content {
    background-color: white;
    padding: 15px;
}

.left-content-area {
    padding: 10px;
}

.filter-type {
    color: #1478E3;
    font-size: small;
}

.searchParcel {
    font-size: 1.1em;
    margin-top:10px;
    font-weight: bold; padding: 5px 40px;
}

.parcel-list{
    height:250px;
    padding: 0px !important;
    overflow-y: scroll; 
    overflow: auto;
    margin-top:10px;
}

    .parcel-list td {
        color: #363636;
    }

    .parcel-list table {
        width: 100%;
        border-collapse: collapse;

    }

        .parcel-list table:hover {
            background-color: #BEE2F7;
        }

    .parcel-list div{
        border-bottom: 1px silver solid;
        padding: 2px;
    }

.selected {
    background-color: #BEE2F7;
}

.masklayer {
    background: black;
    opacity: 0.5;
    top: 0%;
    width: 100%;
    height: 100%;
    bottom: 0%;
    position: absolute;
    display: none;
}

.control-panel {
    height: 100px;
    width: 100%;
    background:#DFDFDF;
}

.control-panel .button-bar{
   text-align:right;
   padding:5px;
   margin-right:10px;
}

.control-panel button{
    margin-left: 5px;
    font-size:1.1em;
    padding:3px 15px;
}

.control-panel .markAsReview{
    font-weight:bold;
}

.parcel-data [field] {
    font-weight:bold;
}

.parcel-key-value {
    font-size:2em;
    font-weight:bold;
    padding:3px 0px;
}



.filter span {
    color: black;
}

.filter-field {
    margin-bottom: 7px;
}

.filter input select {
    width: 250px;
}
.sketch-panel {
    background-color: White;
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
}