﻿<%@ Page Language="VB" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<script runat="server">
    
    Protected Sub Page_Load(sender As Object, e As System.EventArgs)
        Response.Redirect("routing.htm")
    End Sub
</script>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>This is a sample test checkup page.</title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
        <screens:SearchParcels runat="server" />
    </div>
    </form>
</body>
</html>
