﻿<%@ Page Language="vb" %>

<%@ Import Namespace="System.Web.Script.Services" %>
<%@ Import Namespace="System.Web.Services" %>
<%@ Import Namespace="CAMACloud" %>
<%@ Import Namespace="CAMACloud.Data" %>

<script runat="server">
    <WebMethod(True), ScriptMethod(ResponseFormat:=ResponseFormat.Json, UseHttpGet:=True)> Public Shared Function GetParcels(jobId As Integer) As List(Of ParcelLoc)
        Dim sql As String = "SELECT p.Latitude As latitude, p.Longitude as longitude, p.StreetAddress As street, p.Id As pid, rjd.DistanceIndex As o FROM RoutingJobData rjd INNER JOIN Parcel p ON rjd.ParcelId = p.Id LEFT OUTER JOIN ParcelMapInfo pmi ON pmi.ParcelId = p.Id WHERE JobID = {0}"
        Dim query = sql.SqlFormat(False, jobId)
        Return Database.Tenant.GetDataTable(query).ConvertToList(Of ParcelLoc)
    End Function

    <WebMethod(True), ScriptMethod(ResponseFormat:=ResponseFormat.Json, UseHttpGet:=True)> Public Shared Function GetBlocks(jobId As Integer) As List(Of ParcelLoc)
        Dim sql As String = "SELECT latitude, longitude, BlockInfo street, DistanceIndex pid, DistanceIndex o FROM RoutingBlocks WHERE JobID = {0}"
        Dim query = sql.SqlFormat(False, jobId)
        Return Database.Tenant.GetDataTable(query).ConvertToList(Of ParcelLoc)
    End Function

    <WebMethod(True), ScriptMethod(ResponseFormat:=ResponseFormat.Json, UseHttpGet:=True)> Public Shared Function ReRouteParcels(jobId As Integer) As Integer
        'Dim sql As String = "SELECT p.Latitude As latitude, p.Longitude as longitude, p.StreetAddress As street, p.Id As pid, rjd.DistanceIndex As o FROM RoutingJobData rjd INNER JOIN Parcel p ON rjd.ParcelId = p.Id LEFT OUTER JOIN ParcelMapInfo pmi ON pmi.ParcelId = p.Id WHERE JobID = {0}"
        'Dim query = sql.SqlFormat(False, jobId)
        'Return Database.Tenant.GetDataTable(query).ConvertToList(Of ParcelLoc)

        Dim testLocation = New CAMACloud.Routing.Location
        testLocation.Latitude = 44.9251202
        testLocation.Longitude = -64.315658
        testLocation.State = "NS"
        testLocation.Country = "Canada"
        Dim parcels = Database.Tenant.GetDataTable("SELECT ParcelId FROM RoutingJobData WHERE JobId = " & jobId).AsEnumerable.Select(Function(x) x.GetInteger("ParcelId")).ToArray
        CAMACloud.Routing.RouteProcessor.CalculateRoute("tn-debugger", Database.Tenant, testLocation, parcels)

        Dim newJobId As Integer = Database.Tenant.GetIntegerValue("SELECT MAX(Id) FROM RoutingJob WHERE CreatedBy = 'tn-debugger'")
        Return newJobId
    End Function

    Public Class ParcelLoc
        Public Property latitude As Single
        Public Property longitude As Single
        Public Property o As Integer
        Public Property pid As Integer
        Public Property street As String
    End Class
</script>
<!DOCTYPE html>
<html>
<head>
    <title>Routing Demo</title>
    <meta charset="utf-8" />
    <script>
        var parcels = [{ "latitude": 45.36393, "longitude": -63.28723, "o": 12, "pid": 628771, "street": "277  LOWER TRURO  RD " }, { "latitude": 45.36904, "longitude": -63.30555, "o": 10, "pid": 488165, "street": "178  ROBIE  ST " }, { "latitude": 45.35291, "longitude": -63.2932549, "o": 14, "pid": 10591, "street": "280  WILLOW  ST " }, { "latitude": 45.3692436, "longitude": -63.30444, "o": 11, "pid": 60643, "street": "204  ROBIE  ST " }, { "latitude": 45.3590775, "longitude": -63.30408, "o": 13, "pid": 182316, "street": "347  WILLOW  ST " }, { "latitude": 45.36325, "longitude": -63.27692, "o": 28, "pid": 603001, "street": "24  COURT  ST " }, { "latitude": 45.36168, "longitude": -63.2759666, "o": 25, "pid": 45562, "street": "557  PRINCE  ST " }, { "latitude": 45.3634644, "longitude": -63.27072, "o": 15, "pid": 86378, "street": "43  WILLOW  ST " }, { "latitude": 45.3654861, "longitude": -63.28283, "o": 29, "pid": 136255, "street": "12  QUEEN  ST " }, { "latitude": 45.36187, "longitude": -63.28392, "o": 19, "pid": 229733, "street": "615  PRINCE  ST " }, { "latitude": 45.3646774, "longitude": -63.2795219, "o": 16, "pid": 280190, "street": "515  PRINCE  ST " }, { "latitude": 45.36165, "longitude": -63.2796555, "o": 30, "pid": 380684, "street": "90  DOMINION  ST " }, { "latitude": 45.3667526, "longitude": -63.27342, "o": 18, "pid": 477764, "street": "600  PRINCE  ST " }, { "latitude": 45.3655167, "longitude": -63.2827034, "o": 17, "pid": 605880, "street": "580  PRINCE  ST " }, { "latitude": 45.3652039, "longitude": -63.2840157, "o": 27, "pid": 10048, "street": "215  QUEEN  ST " }, { "latitude": 45.364933, "longitude": -63.2751274, "o": 20, "pid": 37820, "street": "805  PRINCE  ST " }, { "latitude": 45.36567, "longitude": -63.28192, "o": 3, "pid": 47111, "street": "43  BRUNSWICK  ST " }, { "latitude": 45.3648758, "longitude": -63.2769547, "o": 31, "pid": 53425, "street": "13  YOUNG  ST " }, { "latitude": 45.3667145, "longitude": -63.2861977, "o": 9, "pid": 53440, "street": "695  PRINCE  ST " }, { "latitude": 45.36578, "longitude": -63.2846756, "o": 2, "pid": 66130, "street": "37  FORRESTER  ST " }, { "latitude": 45.36534, "longitude": -63.28043, "o": 26, "pid": 69436, "street": "30  MILL  ST " }, { "latitude": 45.3631363, "longitude": -63.27633, "o": 8, "pid": 169858, "street": "643  PRINCE  ST " }, { "latitude": 45.36594, "longitude": -63.2860336, "o": 1, "pid": 317820, "street": "72  INGLIS  PL " }, { "latitude": 45.3558426, "longitude": -63.29534, "o": 23, "pid": 358316, "street": "2  COTTAGE  ST " }, { "latitude": 45.3427429, "longitude": -63.2700081, "o": 5, "pid": 367871, "street": "627  YOUNG  ST " }, { "latitude": 45.3645, "longitude": -63.27073, "o": 22, "pid": 384501, "street": "1019  PRINCE  ST " }, { "latitude": 45.3667336, "longitude": -63.27465, "o": 21, "pid": 406553, "street": "859  PRINCE  ST " }, { "latitude": 45.36606, "longitude": -63.2877426, "o": 4, "pid": 480824, "street": "21  BRUNSWICK  ST " }, { "latitude": 45.361557, "longitude": -63.27672, "o": 6, "pid": 580636, "street": "184  ARTHUR  ST " }, { "latitude": 45.3651962, "longitude": -63.2835464, "o": 7, "pid": 624805, "street": "623  PRINCE  ST " }]
    </script>
    <script src="/static/js/lib/zepto.min.js"></script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?libraries=geometry&amp;sensor=false&amp;region=GB&amp;key=AIzaSyC7e5YrZlKqWtaY4ehsDwMgCis4IfNs7Xw"></script>
    <style>
        body {
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            font-size: 10pt;
        }

        * {
            box-sizing: border-box;
        }

        .plot {
            position: fixed;
            top: 0%;
            bottom: 0%;
        }

        .plot-left {
            left: 0%;
            right: 300px;
            background-color: darkcyan;
        }

        .plot-right {
            right: 0%;
            width: 300px;
            background-color: saddlebrown;
            color: white;
            padding: 10px;
            overflow: auto;
        }

            .plot-right a {
                color: lavender;
            }

        .button-bar {
        }

            .button-bar > div {
                padding: 10px;
                text-align: center;
            }

                .button-bar > div > button {
                    font-size: 1.2em;
                    padding: 4px 25px;
                    min-width: 200px;
                }
    </style>
    <script>
        var parcels;
        var map;
        var parcelMarkers = [];
        $(() => {
            var gisMapOptions = {
                zoom: 18,
                maxZoom: 19,
                minZoom: 1,
                mapTypeId: google.maps.MapTypeId.HYBRID,
                tilt: 0,
                streetViewControl: false,
                center: new google.maps.LatLng(41.55564171, -83.71119093)
            };

            var mc = document.getElementById('mapcanvas');
            map = new google.maps.Map(mc, gisMapOptions);

            showData();

        });

        function showParcels() {
            var bounds = new google.maps.LatLngBounds();
            for (x = 0; x < parcels.length; x++) {
                var parcel = parcels[x];

                if (parcel.latitude && parcel.longitude) {
                    var pt = new google.maps.LatLng(parcel.latitude, parcel.longitude);
                    var color = "FFFF42";
                    if (parcel.priority == 1) {
                        color = "EE9933";
                    } else if (parcel.priority == 2) {
                        color = "FF0000";
                    }

                    var mo = {
                        position: pt,
                        icon: new google.maps.MarkerImage("http://chart.googleapis.com/chart?chst=d_map_spin&chld=0.8|0|" + color + "|10|b|" + parcel.o),
                        title: parcel.street + ' - ' + parcel.latitude + ',' + parcel.longitude
                    }
                    var mk = new google.maps.Marker(mo);
                    mk.setMap(map);
                    bounds.extend(pt);

                    parcelMarkers.push(mk);
                }
                map.setCenter(bounds.getCenter());
                map.fitBounds(bounds);
            }
        }

        function showData() {
            var jid = $('.job-id').val();
            clearMarkers();
            PageMethods.GetParcels(jid, function (d) {
                parcels = d;
                showParcels();
            })
        }

        function showBlocks() {
            var jid = $('.job-id').val();
            clearMarkers();
            PageMethods.GetBlocks(jid, function (d) {
                parcels = d;
                showParcels();
            })
        }

        function clearMarkers() {
            while (parcelMarkers.length > 0) {
                var mk = parcelMarkers.pop();
                mk.setMap(null);
                delete mk;
            }
        }

        function routeAgain() {
            clearMarkers();
            var jid = $('.job-id').val();
            PageMethods.ReRouteParcels(jid, function (d) {
                $('.job-id').val(d);
                showData();
            })
        }
    </script>
</head>
<body>
    <form runat="server">
        <asp:ScriptManager runat="server" EnablePageMethods="true" />
    </form>
    <div class="plot plot-left">
        <div id="mapcanvas" style="height: 100%;"></div>
    </div>
    <div class="plot plot-right">
        <table>
            <tr>
                <td>Job ID: </td>
                <td>
                    <input type="number" max="3000" min="1200" step="1" class="job-id" style="width:80px;" value="1633" onchange="showData();" />
                </td>
            </tr>
        </table>
        <div class="button-bar">
            <div>
                <button onclick="showData();">Refresh</button>
            </div>
            <div>
                <button onclick="clearMarkers();">Clear</button>
            </div>
            <div>
                <button onclick="routeAgain();">Re-Route</button>
            </div>
            <div>
                <button onclick="showBlocks();">Show Blocks</button>
            </div>
        </div>


    </div>
</body>
</html>
