﻿.admin-container
{
	width: 100%;
	border-spacing: 0px;
	height: 500px;
}

.admin-container .admin-container-cell
{
	vertical-align: top;
}


.admin-action-frame
{
	width: 250px;
	background: -webkit-linear-gradient(top, #dbe6f3, #d2dff0 150px, #c7d8ed 11px, #d6e6f4);
}

.admin-action
{
	padding: 7px;
	margin: 8px;
}

.sidemenu
{
	list-style-type:none;
	line-height:16pt;
	margin:0px;
	padding:0px;
	padding-left:10px;
	padding-top:10px;
}


.sidemenu li
{

}

.sidemenu li a
{
	color: #1975e5;
	font-weight:bold;
	line-height:24px;
}