﻿.report-container
{
	width: 100%;
	border-spacing: 0px;
	height: 500px;
}

.report-container .report-container-cell
{
	vertical-align: top;
}


.report-selection-frame
{
	width: 250px;
	background: -webkit-linear-gradient(top, #dbe6f3, #d2dff0 150px, #c7d8ed 11px, #d6e6f4);
}

.report-selection
{
	padding: 7px;
	margin: 8px;
	border:1px solid #CFCFCF;
	border-radius:6px;
}
