﻿<%@ Control Language="vb" ClassName="ClassCalculatorScreen" %>
<section class="screen" id="classcalculator-div">
    <header>
        <span>Class Calculator</span> <a class="page-back"></a>
    </header>
    <div class="scrollable">
        <div class="dc-classcalculator mass-update-padding">
        </div>
    </div>
</section>
