﻿<%@ Control Language="VB" ClassName="GoogleDirections" %>
<script runat="server">

</script>
<section class="screen" id="google-directions">
    <header>
        <span>Driving Directions</span> <a class="page-back"></a>
    </header>
    <div class="scrollable">
        <div id="directions">
        </div>
    </div>
</section>