﻿
.report-item
{
    width: 120px;
    height: 140px;
    margin: 6px;
    border: 1px solid #EFEFEF;
    display:block;
    cursor:pointer;
}

.report-item:hover
{
    border: 1px solid #CFCFCF;
}

.report-item .icon
{
    width: 70px;
    height: 64px;
    margin:25px;
    margin-bottom:7px;
    background-image: url(reports/report-64.png);
    background-position:center center;
    background-repeat:no-repeat;
    display:block;
}

.report-item .text
{
    display:block;
    text-align:center;
    font-size:9pt;
    margin:5px 0px;
}
