﻿ .txtField { 
     width: 90% !important; 
     margin-bottom: 2%; 
     height: 98% !important;
      
 }
.txtNote { 
    width: 92%; 

}
.ddlField { 
    width: 91.5% !important;
    margin-bottom: 3% !important;
    height: 99% !important; 
    color: initial; 
    font: 13.3333px Arial;

}
.outerTable { 
    width: 100% !important; 

}
.outerTableTd {
     width: 40% !important; 

}
.innerTable { 
    width: 100% !important;

}
.innerTableTdLabel { 
    width: 30% !important; 

}
.innerTableTdControl { 
    width: 60% !important; 

}
.txtReleaseNote { 
    width: 96.5% !important; 

}
.outerTableTr { 
    display: block; 

}
.outerTableTrNote { 
    margin-top: -6px; 

}
.btnSave { 
    float: right;
    margin-right: 4% !important;
    height: 24px; 

}
.searchDrop { 
    height: 100%; 

}
.searchDate { 
    height: 90%; }

.tdSearchDate { 
    width: 15%; 

}
.tdDdlSearchApplication {
    width: 19%; 

}

.tdDdlSearchStage { 
    width: 11%; 

}
.btnAddNewVersion { 
    float: right; 
    height: 24px; 

}
.addVersionContainer { 
    display: none; 
    height: auto !important; 
    width: 99.5% !important; 

}
.searchDrop { 
    color: initial; 
    font: 13.3333px Arial; 

}
.searchTable td { 
    color: black; 

}
.searchTable { 
    width: 98%; 
    margin-top: 1%; 
    margin-bottom: 1%; 
    margin-left: 1%; 
    margin-right: 1%; 

}
.colorIndicator { 
    background-color: #EEEFB5; 
    width: 3%; 
    padding-top: 15px; 
    float: right; 
    border: 1px solid gray; 

}
.chkDisplayAllData { 
    width: 2% !important; 
    display:none;

}
.releaseNoteContainer { 
    display: none; 
    height: 270px !important; 
    width: 99.5% !important; 

}
.colorIndicatorContainer{
    display:none;
}

.popupbox {
    padding: 10px;
    width: 250px;
    height: 150px;
    border: 2px solid rgba(204, 204, 204, 0.5);
    background-color: white;
    border-radius: 10px;
    position: absolute;
    box-shadow: 2px 2px 8px 2px gray;

}
.popupcontent {
    overflow-y: auto;
    max-height: 200px;
    height: 80%;
    float: right; 
    margin-top: 12px;
    position:inherit;

}
.close-btn {
    float: right;
    left: 18px;
    position: relative;
    top: -11px;
    font-weight: bold;
    font-size: larger;
    cursor: pointer;
    margin-bottom: 13px;
    margin-right: 15px;

}
.close-btn:hover{
    font-size:large;

}
.releaseNoteLink{
    float:right; 
    padding-top: 9px;

}
.gridVersionControl td { 
    padding: 6px 1px 3px 0px; 

}
.txtAllReleaseNote {
    width: 96.5% !important; 
    overflow: auto;
    height: 230px;
    background-color: rgba(255, 251, 251, 0.63); 
    box-shadow: 0px 1px 5px 2px gray; 
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none; 
    -o-user-select: none; 
    user-select: none;

} 
.popupbox:after { 
    content: '';
    display: block;
    position: absolute;
    left: 100%;
    margin-top: -3px;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 10px solid white;

}
.changed:after {
    content: '';
    display: block;
    position: absolute;
    left: 100%;
    margin-top: 130px;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 10px solid white;

}
.text-success {
    display: none; 
    font: normal normal bold 12px Arial;

}
.copyToClipboard {
    float: right;
    margin-right: 25px; 
    margin-top: 6px; 
    cursor:pointer;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    padding: 4px 7px;
    border: 1px solid #bfbaba;
    border-radius: 4px;
    background: linear-gradient(to bottom, #d8dbdc, #efeaea);
    font: normal normal bold 11px Arial;

}
.copyToClipboard:before {
    content: "\0000a0";
    display: inline-block;
    height: 16px;
    width: 16px;
    line-height: 16px;
    margin: 0 4px -6px -4px;
    background: url('/App_Static/css/icons/clipboard-copy.png') no-repeat left center transparent;
    background-size: 100% 100%;

}
.copyToClipboard:hover,.copyToClipboard:focus {
    border: 1px solid #979494;
    background: #b8b8b8;
    background: -webkit-gradient(linear, left top, left bottom, from(#b8b8b8), to(#ffffff));
    background: -moz-linear-gradient(top, #b8b8b8, #ffffff);
    background: linear-gradient(to bottom, #b8b8b8, #ffffff);

}
.copyToClipboard:active {
    background: #ababab;
    background: -webkit-gradient(linear, left top, left bottom, from(#ababab), to(#ababab));
    background: -moz-linear-gradient(top, #ababab, #ababab);
    background: linear-gradient(to bottom, #ababab, #ababab);

}