﻿body {
    font-family: "AvenirNext-Regular", "Helvetica Neue Ultra Light",ArialMT,Arial;
    font-size: 11pt;
 	height: 100%;
    margin: 0px;
    padding: 0px;
    z-index: 10;
    position: fixed;
    overflow: hidden;
}

input {
  text-shadow: rgba(0,0,0,0) 0px 0px 0px;
}
input.force-redraw {
  text-shadow: none;
}
.prc-format td {
    word-wrap: break-word;
    /*word-break: break-all;*/
    white-space: normal;
}

.textarea {
    font-size: 12pt;
    overflow: scroll;
    position: absolute;
    -webkit-overflow-scrolling: touch;
    z-index: -1;
}

::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 2px;
}

::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0,0,0,.5);
    -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}

.LoadGeolocationIcon {
    background: url(images/map_icon.png) 60% no-repeat;
    width: 32px;
    height: 32px;
    float: right;
    margin-right: 5px;
    margin-top: 1px;
}

.ClickGeoLocation {
    float: right;
}

input.GeoLocation {
    border: none !important;
    box-shadow: none !important;
    text-align: right;
    background: transparent !important;
}

.map-Boundaries-line {
    background: url(buttons/Showline.png) no-repeat;
}

.classcalculator-content .oldvalue {
    display: none !important;
}

.map-Boundaries-Noline {
    background: url(buttons/Hideline.png) no-repeat;
}

.EditedValue {
    color: red;
}

menu {
    display: none;
}

.cb {
    clear: both;
}

.selectedcheckbox {
    background-position-x: 0.5px !important;
}

.selectedimage {
    background-position-x: 0px !important;
}

.selectimagecheckbox {
    background: url(images/checkbox.png) no-repeat;
    height: 18px;
    width: 18px;
    background-size: 570%;
    background-position-x: -17px;
    float: right;
    margin: 4px;
}

.selectParcelCheckbox {
    background: url(images/checkbox.png) no-repeat;
    height: 20px;
    width: 20px;
    float: left;
    background-size: 573%;
    background-position-x: -19px;
}

.parcelbpp {
   
    height: 15px;
    width: 15px;
    float: left;
   
}

.parcelbppheader {
   
    height: 20px;
    width: 20px;
    float: left;
   
}

.selectNbhdCheckbox {
    background: url(images/checkbox.png) no-repeat;
    height: 20px;
    width: 20px;
    float: left;
    background-size: 573%;
    background-position-x: -19px;
}

.select-parcelspan {
    position: absolute;
    padding: 6px;
    margin-left: -24px;
    margin-top: -14px;
}

.button, .a-button {
    display: inline-block;
}

button, .button, .a-button {
    padding: 7px 20px;
    border: 1px solid rgb(99,99,99);
    border: 1px solid rgba(99,99,99,0.9);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    box-shadow: inset 1px 1px 1px rgba(99,99,99,0.4);
    -webkit-box-shadow: inset 1px 1px 1px rgba(99,99,99,0.4);
    -moz-box-shadow: inset 1px 1px 1px rgba(99,99,99,0.4);
    background: #597eaa;
    background: -webkit-gradient(linear,0 0,0 100%,color-stop(0,#97adc8),color-stop(0.5, #6b8bb2),color-stop(0.5, #597eaa),color-stop(1, #5b80ab));
    background: -moz-linear-gradient(#97adc8 0%, #6b8bb2 50%, #597eaa 50%, #5b80ab 100%);
    color: #fff;
    font: bold 12px/20px Helvetica Neue, Arial, sans-serif;
    text-decoration: none;
    text-shadow: 0px -1px 1px rgba(0,0,0,0.75);
}

    button.touched, .button[active], .a-button[active] {
        background: -webkit-gradient(linear,0 0,0 100%,color-stop(0,#97adc8),color-stop(0.5, #6b8bb2),color-stop(0.5, #6a8fbb), color-stop(1, #BAD3E4));
    }

        button[disabled], button.touched[disabled], .button[disabled], .a-button[disabled] {
            background: -webkit-gradient(linear,0 0,0 100%,color-stop(0,#979797),color-stop(0.5, #6b6b6b),color-stop(0.5, #6a6a6a), color-stop(1, #bababa));
        }

.full-frame {
    position: fixed;
    top: 0%;
    left: 0%;
    bottom: 0%;
    right: 0%;
}

.splash-screen {
    background: White url(/applogo-logo-ma-app-splash.png) center center no-repeat;
}


.installation-instructions {
    font-size: 16pt;
    width: 500px;
    margin: 30px auto;
    text-align: justify;
    padding: 20px;
    background: #ecedf0;
    border: 1px solid #c7c7c7;
    box-shadow: 5px 5px 3px #F4F4F4;
    display: none;
}

.splash-progress-window {
    position: fixed;
    height: 80px;
    left: 0px;
    right: 0%;
    bottom: 0%;
    background: #CFCFCF;
    text-align: right;
    padding: 20px;
}

    .splash-progress-window label {
        display: block;
        text-align: center;
    }

    .splash-progress-window .progress {
        margin: 5px auto;
        width: 500px;
        height: 25px;
        border: 2px solid Navy;
        background-color: Blue;
        background-image: url(colors/ffffff.png);
        background-size: cover;
        background-repeat: no-repeat;
        border-radius: 20px;
    }

.dimmer {
    background: Black;
    opacity: 0.7;
}

.input-blocker {
    background-image: url(images/processing.gif);
    background-repeat: no-repeat;
    background-position: center center;
}

.overlay-photo-viewer {
    text-align: center;
}

.overlay-photo-box {
    margin: 0px auto;
    border: 2px solid White;
    background-color: Black;
    width: 650px;
    height: 650px;
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
}

.photo-meta-photoPreview {
    margin: 0px auto;
    border: 2px solid White;
    background-color: White;
    width: 300px;
    height: 250px;
    background-position: center center;
    background-size: 300px 250px;
    background-repeat: no-repeat;
}


.photo-box-tools {
    margin-top: 15px;
}

    .photo-box-tools .pm-btn {
        display: inline-block;
        width: 48px;
        height: 48px;
        background: url(images/photomgr.png);
        margin: 4px;
    }

    .photo-box-tools .pm-trash {
        background-position: 0px 0px;
    }

    .photo-box-tools .pm-close {
        background-position: -48px 0px;
    }

    .photo-box-tools .pm-add {
        background-position: -96px 0px;
    }

    .photo-box-tools .pm-accept {
        background-position: -144px 0px;
        width: 141px;
    }

    .photo-box-tools .pm-left {
        background-position: -285px 0px;
    }

    .photo-box-tools .pm-right {
        background-position: -333px 0px;
    }

    .photo-box-tools .pm-prmflag {
        background-position: -381px 0px;
    }

        .photo-box-tools .pm-prmflag[disable] {
            background-position: -381px 48px;
        }

    .photo-box-tools .pm-props {
        background-position: -574px 0px;
    }
    .photo-box-tools .pm-leftpro {
        background-position: -285px 0px;
        filter: grayscale(100%);
    }

    .photo-box-tools .pm-rightpro {
        background-position: -333px 0px;
        filter: grayscale(100%);

    }

    .photo-box-tools .pm-trash:active {
        background-position: 0px 48px;
    }

    .photo-box-tools .pm-close:active {
        background-position: -48px 48px;
    }

    .photo-box-tools .pm-add:active {
        background-position: -96px 48px;
    }

    .photo-box-tools .pm-accept:active {
        background-position: -144px 48px;
    }

    .photo-box-tools .pm-left:active {
        background-position: -285px 48px;
    }

    .photo-box-tools .pm-right:active {
        background-position: -333px 48px;
    }

    .photo-box-tools .pm-props:active {
        background-position: -574px 48px;
    }
        .photo-box-tools .pm-leftpro:active {
        background-position: -285px 48px;
        filter: grayscale(100%);

    }

    .photo-box-tools .pm-rightpro:active {
        background-position: -333px 48px;
        filter: grayscale(100%);

    }

.photo-index {
    text-align: center;
    font-weight: bold;
    color: grey;
}

textarea {
    font-size: 12pt;
    overflow:hidden;
}

select[multiple] {
}

.b {
    font-weight: bold;
}

.c {
    text-align: center;
}

.l {
    text-align: left;
}

.r {
    text-align: right;
}

.fw {
    width: 100%;
}

.bb {
    border-bottom: 1px solid Gray;
}

.mb5 {
    margin-bottom: 5px;
}

.red {
    color: Red !important;
}

.clearfix {
    clear: both;
}

.boxed {
    display: -webkit-box;
    display: -moz-box;
    display: box;
    box-orient: horizonal;
    -webkit-box-orient: horizonal;
    -moz-box-orient: horizonal;
}

.unselectable {
    -moz-user-select: none;
    /*-webkit-user-select: none;*/
}

.extend-panel {
    box-flex: 1;
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
}

.app-title-line {
    font-size: 1.2em;
    font-weight: bold;
    text-align: center;
    padding: 5px;
    background: Black;
    color: White; /* Safari 4-5, Chrome 1-9 */
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(Black), to(#555555)); /* Safari 5.1, Chrome 10+ */
    background: -webkit-linear-gradient(top, #555555, Black); /* Firefox 3.6+ */
    background: -moz-linear-gradient(top, #555555, Black); /* IE 10 */
    background: -ms-linear-gradient(top, #555555, Black); /* Opera 11.10+ */
    background: -o-linear-gradient(top, #555555, Black);
}

.parcel-header-temp td {
    font-weight: normal;
}

.selected {
    background: #438dbb; /* Safari 4-5, Chrome 1-9 */
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#438dbb), to(#68b2e0)); /* Safari 5.1, Chrome 10+ */
    background: -webkit-linear-gradient(top, #68b2e0, #438dbb); /* Firefox 3.6+ */
    background: -moz-linear-gradient(top, #eff3f7, #c7cdcf); /* IE 10 */
    background: -ms-linear-gradient(top, #eff3f7, #c7cdcf); /* Opera 11.10+ */
    background: -o-linear-gradient(top, #eff3f7, #c7cdcf);
    color: White;
}

table.c2 tr td {
    width: 50%;
}

table.c3 tr td {
    width: 33%;
}

table.c4 tr td {
    width: 25%;
}

table.c5 tr td {
    width: 20%;
}


td.c4 {
    width: 25%;
}

td.c3 {
    width: 33%;
}

td.c5 {
    width: 20%;
}

.d {
    text-align: right;
    padding-right: 5px;
    padding-left: 5px;
    font-weight: bold;
}

    .d:before {
    }

.login-box {
    width: 497px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 150px;
}

    .login-box .title {
        height: 53px;
        background: url(app/login-title.jpg);
    }

    .login-box .content {
        padding: 30px 45px;
        border: 1px solid #666666;
        border-radius: 5px;
        margin-top: 1px;
        background: url(images/light-slash.jpg);
    }

    .login-box input[type="text"], .login-box input[type="password"] {
        width: 270px;
        padding: 8px;
        font-size: 14pt;
        margin-bottom: 4px;
    }

    .login-box button {
        font-size: 16pt;
        padding: 6px 15px;
        margin-top: 12px;
        margin-right:10px;
    }

#agreement button {
    font-size: 16pt;
    padding: 6px 15px;
    margin-top: 12px;
}

.text-content {
    margin: 40px;
}

    .text-content p {
        margin-bottom: 20px;
        margin-top: 10px;
        text-align: justify;
    }

#neighborhood button {
    font-size: 13pt;
}

.page-wrapper {
    background: #000000 url(images/black-slash.jpg);
    padding: 5px;
    z-index: 10;
}

.page-container {
    background: White;
    border-radius: 10px;
}

.page-header {
    background: url('images/white-slash.jpg');
    height: 85px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom: 1px solid #E9E9E9;
}

.app-top-logo {
    height: 85px;
    width: 100%;
    display: block;
}

.app-top-left-logo {
    float: left;
    background: url('/applogo-logo-ma-app-top-left.png') 0px center no-repeat;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.app-top-right-logo {
    float: right;
    background: url('/applogo-logo-ma-app-top-right.png') right center no-repeat;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}


.page-content {
    background: url(images/pageloading.gif) center center no-repeat;
}


.page-footer {
    background: url('images/bottom-white-slash.jpg');
    border-top: 1px solid #E9E9E9;
    height: 70px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}



#jqt {
    position: relative;
}

    #jqt > * {
        position: relative;
        background: White;
		/* min-height: 1200px;*/
    }


footer section {
    height: 70px;
    float: left;
    font-size: 0.8em;
}

    footer section div {
        text-align: center;
        color: Gray;
    }

        footer section div a {
            color: Gray;
        }

        footer section div .spacer {
            margin-left: 8px;
            margin-right: 8px;
        }

    footer section.logo {
        width: 60%;
    }

footer a.ma-logo {
    background: url('app/ccma-small.png') 10px center no-repeat;
    width: 200px;
    height: 70px;
    float: left;
}

footer section.logo div.vendor {
    text-align: left;
    margin-top: 16px;
    width: 250px;
    float: left;
    line-height: 16pt;
}

.cache-update-bar {
    margin-top: 48px;
    margin-left: 64px;
    display:none !important;
}

.ma-version {
    margin-top: 48px;
    margin-left: 64px;
    text-align: right;
    width: 125px;
}

.cache-update-progress {
    height: 3px;
    width: 125px;
    border: 1px solid #0d457a;
    background: #0d457a url(/static/css/colors/ffffff.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: 0px 0px;
}

section#progress {
    text-align: center;
}

#progressbar {
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
}

    #progressbar span {
        font-size: 1.0em;
        font-weight: lighter;
    }

    #progressbar #pbar {
        padding-top: 12px;
        padding-bottom: 12px;
        margin: 10px;
        border: 3px solid #438dbb;
        border-radius: 12px;
        -webkit-border-radius: 12px;
        width: 300px;
        background-image: url(images/progress.jpg);
        background-position: 300px 0px;
        background-repeat: repeat;
    }

.page-content {
    -webkit-backface-visibility: hidden;
}


    .page-content header {
        color: #5d6b77;
        font-weight: bold; /* Safari 4-5, Chrome 1-9 */
        background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#c7cdcf), to(#eff3f7)); /* Safari 5.1, Chrome 10+ */
        background: -webkit-linear-gradient(top, #eff3f7, #c7cdcf); /* Firefox 3.6+ */
        background: -moz-linear-gradient(top, #eff3f7, #c7cdcf); /* IE 10 */
        background: -ms-linear-gradient(top, #eff3f7, #c7cdcf); /* Opera 11.10+ */
        background: -o-linear-gradient(top, #eff3f7, #c7cdcf);
        background: -webkit-gradient( linear, 0 0, 0 100%, color-stop(0,#aeb4b6), color-stop(0.4, #c5c5c5), color-stop(0.4, #c8c8c8), color-stop(1, #e4e4e4) );
        border-top: 1px solid #c7cdcf;
        padding: 4px;
        font-size: 1.1em;
        text-shadow: 1px 1px #EEE; /*msp changes*/
        position: relative;
        z-index: 1;
    }

.headerspan {
    margin-left: 35px;
    margin-top: 4px;
    float: left;
}

.MultiGridHead {
    font-size: 22px;
    padding: 10px;
    font-weight: bold;
    color: #0841A9;
}

.multigrid tr.selectedTR {
    background-color: #EDDEB1;
}

span.multigridActions a {
    padding: 3px;
    font-size: 14px;
}

.select-parcelspanHeader {
    margin: 6px;
    margin-top: 4px;
    position: absolute;
}

.multigridSelected {
    background-color: #ACE4FB;
}

.page-content header.closable {
    cursor: pointer;
}
.future-year{
            content: "";
        display: block;
        float: right;
           width: 40px;
        height: 29px;
        background: url('buttons/futureYear.png') center right no-repeat;
        cursor: pointer;
        margin: 0px;
         background-size: 90%;
    margin-right: 10px;
}
    .page-content header.closable:after, .page-back {
        content: "";
        display: block;
        float: right;
        width: 58px;
        height: 29px;
        background: url('buttons/back.png') center right no-repeat;
        cursor: pointer;
        margin: 0px;
    }

.page-content nav {
    font-size: 1.1em;
    font-weight: bold;
    border-top: 1px solid #c7cdcf;
    clear: both;
    z-index: 8;
    background: White;
}

    .page-content nav.selected {
        background: #438dbb; /* Safari 4-5, Chrome 1-9 */
        background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#438dbb), to(#68b2e0)); /* Safari 5.1, Chrome 10+ */
        background: -webkit-linear-gradient(top, #68b2e0, #438dbb); /* Firefox 3.6+ */
        background: -moz-linear-gradient(top, #eff3f7, #c7cdcf); /* IE 10 */
        background: -ms-linear-gradient(top, #eff3f7, #c7cdcf); /* Opera 11.10+ */
        background: -o-linear-gradient(top, #eff3f7, #c7cdcf);
        cursor: pointer;
    }

    .page-content nav, .page-content nav:after {
        height: 89px;
    }

        .page-content nav:after {
            content: "";
            display: block;
            float: right;
            width: 60px;
            background: url('images/next.png') center center no-repeat;
        }

nav.screen-menu {
    clear: both;
}

    nav.screen-menu .nav-div {
        padding: 16px;
        float: left;
    }

    nav.screen-menu .nav-icon {
        display: inline-block;
        float: left;
        width: 64px;
        height: 64px;
        margin: 5px;
        margin-left: 16px;
    }

    nav.screen-menu .nav-div a {
        margin-top: 10px;
        font-size: 1.13em;
        font-weight: bold;
        color: #222222;
    }

    nav.screen-menu .nav-div span {
        display: block;
        font-size: 0.95em;
        font-weight: lighter;
        font-style: italic;
        color: #666666;
        width: 450px;
    }

nav.selected div a {
    color: White;
}

nav.selected div span {
    color: #DDDDDD;
}


section.screenpanel {
    width: 100%;
}

section.screen {
    float: left;
    width: 98%;
    background: White url('images/border.jpg') right top repeat-y;
}

section.screen-pull {
    -disabled-webkit-transition: all 1s ease-in-out;
}

.hidden {
    display: none;
}

section.next-screen {
    display: block;
}

section.pull-left {
    margin-left: -100%;
}

section.pull-right {
    margin-left: 100%;
}

section.pull-center {
    margin-left: 0%;
}

.multigrid h3 {
    padding: 5px;
    font-size: 19px;
}

nav.parcel-item {
    margin: 6px;
    padding: 10px;
    border: 1px solid #CFCFCF;
    border-radius: 10px; /* Safari 5.1, Chrome 10+ */
    background: -webkit-linear-gradient(top, #dcdcdc, #e8e8e8); /* Firefox 3.6+ */
    background: -moz-linear-gradient(top, #dcdcdc, #e8e8e8); /* IE 10 */
    background: -ms-linear-gradient(top, #dcdcdc, #e8e8e8); /* Opera 11.10+ */
    background: -o-linear-gradient(top, #dcdcdc, #e8e8e8);
    height: auto;
    padding-left: 20px;
}


    nav.parcel-item .normal-view, nav.parcel-item .normal-view-bpp {
        min-height: 80px;  /*  FD_14636 height: 80px;  */
    }

    nav.parcel-item .expanded-view, nav.parcel-item .expanded-view-bpp {
        height: auto;
        font-size: 0.9em;
        font-weight: normal;
    }

    nav.parcel-item:after, nav.parcel-item-new:after {
        height: auto;
        content: "";
        display: none;
    }

    nav.parcel-item .ssc-parcel-id {
        font-size: 20pt;
        font-weight: bold;
        white-space: nowrap;
    }

    nav.parcel-item .address {
        color: #666666;
        font-size: 11pt;
        font-weight: normal;
        white-space: nowrap;
    }

    nav.parcel-item .ssc-norm-status {
        display: inline-block;
        float: left;
    }

        nav.parcel-item .ssc-norm-status a {
            width: 32px;
            float: left;
            margin-right: 4px;
        }

    nav.parcel-item .alert-normal-view {
        width: 500px;
        display: block;
        color: Red;
        font-size: 11pt;
        font-weight: bold;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

.nav-dashboard {
    background-image: url('images/nav-sprite.png');
    background-position: -512px 0px;
}

.nav-search {
    background-image: url('images/nav-sprite.png');
    background-position: -384px 0px;
}

.nav-data-collection {
    background-image: url('images/nav-sprite.png');
    background-position: 0px 0px;
}

.nav-gis-map {
    background-image: url('images/nav-sprite.png');
    background-position: -320px 0px;
}

.nav-digital-prc {
    background-image: url('images/nav-sprite.png');
    background-position: -256px 0px;
}


.nav-google-map {
    background-image: url('images/nav-sprite.png');
    background-position: -192px 0px;
}

.nav-navigon {
    background-image: url('images/nav-sprite.png');
    background-position: -576px 0px;
}

.nav-waze {
    background-image: url('images/nav-sprite.png');
    background-position: -640px 0px;
}


.nav-photos {
    background-image: url('images/nav-sprite.png');
    background-position: -128px 0px;
}

.nav-sketches {
    background-image: url('images/nav-sprite.png');
    background-position: -64px 0px;
}

.nav-sync {
    background-image: url('images/nav-sprite.png');
    background-position: -448px 0px;
}

.nav-county {
    background-image: url('app/county.png');
}

#parcel-scroll {
    z-index: 3;
    position: relative;
    width: 100%;
    overflow: auto;
    overflow-x: hidden;
}

#my-parcels {
    width: 100%;
    padding-bottom :200px;
}

#mapCanvas, #routeMapCanvas {
   background: #eeeeee;
}

#qpublicScroll {
	-webkit-overflow-scrolling: touch;
  	overflow-y: scroll;
}

#dc-categories {
    width: 290px;
    background: #e6ebef url(images/sidepanel.png) right top repeat-y;
    position: absolute;
    z-index: 9;
    left: 0px;
    -webkit-transition: left 0.15s ease-in-out;
    overflow:auto;
    overflow-x: hidden;
    background-color: #e6ebef; 
}

    #dc-categories a {
        display: block;
        padding: 10px;
        border-bottom: 1px solid #dfdfdf;
        border-top: 1px solid #FEFEFE;
        border-right: 1px solid #3a3a3a;
        font-size: 10pt;
        font-weight: bolder;
        color: #444444;
        text-decoration: none;
            background-color: #e6ebef;
    }

        #dc-categories a.selected {
            color: White;
            text-shadow: -1px -1px -1px #666666;
            background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#438dbb), to(#68b2e0)); /* Safari 5.1, Chrome 10+ */
            background: -webkit-linear-gradient(top, #68b2e0, #438dbb); /* Firefox 3.6+ */
            background: -moz-linear-gradient(top, #eff3f7, #c7cdcf); /* IE 10 */
            background: -ms-linear-gradient(top, #eff3f7, #c7cdcf); /* Opera 11.10+ */
            background: -o-linear-gradient(top, #eff3f7, #c7cdcf);
        }



        #dc-categories a[special] {
            font-size: 12pt;
            font-weight: bold;
        }

#dc-categories-condensed {
    width: 48px;
    background: #999999;
}

    #dc-categories-condensed a {
        display: block;
        width: 48px;
        height: 48px;
        background: url(images/right-button.png);
    }

    #dc-categories-condensed span {
        /*writing-mode: tb-rl;*/
        writing-mode: horizontal-tb;
        -webkit-transform: rotate(270deg);
        -moz-transform: rotate(270deg);
        -o-transform: rotate(270deg);
        white-space: nowrap;
        display: inline-block;
        color: White;
        font-size: 1.4em;
        height: 40px;
        width: 500px;
        position: absolute;
        left: -230px;
        top: 300px;
        text-align: center;
        padding: 6px;
        font-weight: bold;
    }

#dc-form {
    background: #F5F5F5;
    z-index: 8;
    overflow: hidden;
}

#dc-form-contents,.prc-card {
    margin-bottom:100px;
}

fieldset {
    border-radius: 10px;
    border: 2px solid #CFCFCF;
    background: White;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#F5F5F5), to(#FFFFFF)); /* Safari 5.1, Chrome 10+ */
    background: -webkit-linear-gradient(top, #FFFFFF, #F5F5F5); /* Firefox 3.6+ */
    background: -moz-linear-gradient(top, #FFFFFF, #F5F5F5); /* IE 10 */
    background: -ms-linear-gradient(top, #FFFFFF, #F5F5F5); /* Opera 11.10+ */
    background: -o-linear-gradient(top, #FFFFFF, #F5F5F5);
    padding: 8px;
    margin: 12px;
    padding-left: 20px;
    margin-top: 6px;
    font-size: 12pt;
    z-index: 1;
    display: block;
}

span.reqd {
    font-weight: bold;
    color: Red;
    margin-right: 4px;
    float: left;
}

legend {
    font-weight: bold;
    font-size: 12pt;
}

fieldset label {
    font-weight: bold;
    color: #438dbb;
    float: left;
    font-size: 12pt;
    padding-top: 7px;
    word-break: break-all;
}

fieldset[ro="false"] label {
    font-size: 10pt;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: block;
}

    fieldset[ro="false"] label:before {
        content: "Was: ";
        font-style: italic;
        font-weight: normal;
    }

fieldset input, fieldset select {
    font-size: 12pt;
    margin-top: -3px;
    float: right;
    width: 300px;
}

.radioButton{
	width: 28px;
    margin-top: 4px;
    float: none;
    margin-left: 8px;
}

fieldset select {
    -min-width: 300px;
    -width: auto;
}

fieldset input[type="text"], fieldset input[type="number"] {
    border: 1px solid #333333;
    -webkit-border-radius: 6px;
    -webkit-box-shadow: 2px 2px 2px #CFCFCF;
    height: 24px;
}

fieldset textarea {
    float: none;
    clear: both;
    display: block;
    width: 100%;
    /*min-height: 40px;
    box-sizing: borde-box;*/
}

fieldset select {
    height: 30px;
}

fieldset {
    border-bottom: 1px solid #CFCFCF;
    padding: 4px 8px 4px 8px;
    margin: 0px 12px;
    border-left-style: none;
    border-left-color: inherit;
    border-left-width: 0px;
    border-right-style: none;
    border-right-color: inherit;
    border-right-width: 0px;
    border-top-style: none;
    border-top-color: inherit;
    border-top-width: 0px;
}

    fieldset .legend {
        float: left;
        font-size: 11pt;
        font-weight: normal;
        padding: 5px;
    }

    fieldset[ro="true"] label {
        float: right;
        font-size: 13pt;
        font-weight: bold;
    }

    fieldset .newvalue {
        margin: 5px;
    }

    fieldset[readonlyfieldset="1"] .newvalue {
        display: none !important;
    }

    fieldset[hiddenfieldset="1"] {
        display: none !important;
    }

#standard, #transition {
    overflow: auto;
    position: relative;
    width: 100%;
    height: 200px;
}

#standard {
    margin-right: 20px;
}

.scrollable {
    -webkit-overflow-scrolling: touch;
    overflow: scroll;
}

.scroller {
    position: absolute;
    z-index: 1; /*	-webkit-touch-callout:none;*/
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    width: 100%;
    padding: 0;
}

    .scroller ul {
        list-style: none;
        padding: 0;
        margin: 0;
        width: 100%;
        text-align: left;
    }

    .scroller li {
        padding: 0 10px;
        height: 40px;
        line-height: 40px;
        border-bottom: 1px solid #ccc;
        border-top: 1px solid #fff;
        background-color: #fafafa;
        font-size: 14px;
    }

.nbhd-profile-float {
	overflow: auto;
    height: 90px;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#cadee2), to(#e5e5e5)); /* Safari 5.1, Chrome 10+ */
    padding: 5px;
    font-size: 1.0em;
}

.profile-title {
    font-size: 12pt;
    font-weight: bold;
    text-align: center;
}

.bordered-table {
    border-color: #CFCFCF;
    border-collapse: collapse;
}

    .bordered-table TR {
        border-color: #CFCFCF;
    }

        .bordered-table TR TD {
            border-color: #CFCFCF;
        }

#photo-catalogue-container {
    padding: 20px 80px 100px 20px;
    min-height: 50px;
}

.photo-cat-item-frame {
    width: 180px;
    height: 180px;
    padding: 5px;
    margin: 7px;
    display: block;
    float: left;
    border: 2px solid #AAA;
    box-shadow: 3px 3px 3px #CCC;
    background-color: White;
    position: relative;
}

.downloadphoto {
    position: absolute;
    top: 40%;
    width: 94%;
    text-align: center;
    cursor: pointer;

}

.photo-cat-item {
    width: 178px;
    height: 178px;
    display: block;
    border: 1px solid #DDD;
    background-color: White;
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
}


.photo-viewer .slide {
    height: 90px;
    background: Black;
}

    .photo-viewer .slide img {
        height: 74px;
        width: 94px;
        margin: 8px;
        margin-right: 0px;
        border: 1px solid #CCC;
    }

.photo-viewer .acceptance {
    position: absolute;
    padding: 15px;
    background: Black;
    color: White;
    text-align: center;
}

.acceptance .reject {
    color: Red;
}

.acceptance .accept {
    color: Lime;
}

.photo-viewer .viewer img {
}

#directions {
    padding: 20px;
}

.dir-steps {
}

    .dir-steps tr {
        background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fafafa), to(#cddbeb));
    }

        .dir-steps tr td {
            vertical-align: top;
            border-bottom: 1px solid #b0c8e1;
            padding-top: 10px;
            padding-bottom: 15px;
        }

    .dir-steps td[context="distance"] {
        width: 80px;
        font-size: smaller;
        font-style: italic;
    }

    .dir-steps td[context="duration"] {
        width: 80px;
        font-size: smaller;
        font-style: italic;
    }

    .dir-steps td.num {
        width: 20px;
        text-align: right;
        padding-right: 5px;
    }

    .dir-steps td.inst {
    }

#directions .summary {
    font-weight: bold;
    font-size: larger;
    padding: 5px;
    margin-bottom: 5px;
    border-radius: 6px;
    border: 1px solid #CFCFCF;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fafafa), to(#cfcfcf));
}

table.dist-dur {
    font-size: smaller;
    font-style: italic;
}

.toolbaricon {
    width: 40px;
    height: 40px;
    background: url(images/map-icons.png);
    display: inline-block;
}

.legendIcon {
    width: 40px;
    height: 40px;
    background: url(images/legendIcon.png);
    display: inline-block;
}

.heat-legend {
    background-position: 0px 38px;
}

.map-parcel {
    background-position: -40px 0px;
}

.map-agent {
    background-position: 0px 0px;
}

.layerIcon {
    width: 40px;
    height: 40px;
    display: inline-block;
}

.street-icon {
    background: url(images/map-street-icon.png);
}

.aerial-icon {
    background: url(images/map-aerial-icon.png);
}

.map-path {
    background-position: -80px 0px;
}

.sort-screen-photo {
    float: left;
    width: 108px;
    height: 70px;
    background: #CCCBCB;
    border: 2px solid #EEE;
    background-image: url('images/parcel.png');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 6px;
    margin-top: 4px;
}

.sort-screen-photo-large {
    width: 167px;
    height: 110px;
}

.sort-screen-select td {
    height: 30px;
    text-align: center;
    color: Black;
    font-weight: bold;
    text-decoration: underline;
}

    .sort-screen-select td span.not-selected {
        display: inline;
    }

    .sort-screen-select td span.selected-type {
        display: none;
    }

nav.selected .sort-screen-select td {
    color: White;
}

.sort-screen-select td.selected-cell {
    background: #999999;
    text-decoration: none;
}

nav.selected .sort-screen-select td.selected-cell {
    background: Yellow;
    text-decoration: none;
}

.sort-screen-select td.selected-cell .not-selected {
    display: none;
}

.sort-screen-select td.selected-cell span.selected-type {
    display: inline;
    color: Black;
    font-size: larger;
    text-decoration: none;
}

.sort-screen-select td.selected-cell span {
    display: none;
}

.close24 {
    display: inline-block;
    width: 24px;
    height: 24px;
    background: url(images/close.png);
}

.close32 {
    display: inline-block;
    width: 32px;
    height: 32px;
    background: url(images/parcel-list.png) -96px center no-repeat;
}

.alert32 {
    display: inline-block;
    width: 32px;
    height: 32px;
    margin: 0px 4px;
    background: url(images/alert_urgent2.png) left center no-repeat;
}

.alertp5 {
    display: inline-block;
    width: 32px;
    height: 32px;
    margin: 0px 4px;
    background: url(images/parcel-list.png) left center no-repeat;
}

.alertp2 {
    display: inline-block;
    width: 32px;
    height: 32px;
    margin: 0px 4px;
    background: url(images/alert_medium2.png) left center no-repeat;
}

.alertp1 {
    display: inline-block;
    width: 32px;
    height: 32px;
    margin: 0px 4px;
    background: url(images/alert_normaln3.png) left center no-repeat;
}

/*.cautionAlert
{
    display: inline-block;
    width: 100px;
    height: 20px;
    margin: 0px 4px;
    background: url(images/cautionsign.png) left center no-repeat;
}*/
.cautionAlert {
    border: 3px solid red !important;
}

.caution-prc {
    background-color: rgb(255, 223, 0);
    color: rgb(0, 0, 0);
    text-align: center;
    margin-left: 8px;
    width: 97% !important;
    padding: 3px;
    font-size: 15px;
    font-weight: bold;
}

.cautionalert-qr {
    background-color: rgb(255, 223, 0);
    color: rgb(0, 0, 0);
    margin-left: 14px;
    width: 95% !important;
    padding: 7px 6px;
    font-size: 15px;
    font-weight: bold;
}

.priority32 {
    display: inline-block;
    width: 32px;
    height: 32px;
    margin: 0px 4px;
    background: url(images/parcel-list.png) -32px center no-repeat;
}

.comp32 {
    display: inline-block;
    width: 32px;
    height: 32px;
    margin: 0px 4px;
    background: url(images/parcel-list.png) -64px center no-repeat;
}

.unsync32 {
    /*
    padding: 14px;
    padding-left: 14px;
    float: left;*/
    border-radius: 25px;
    background: #9900ff;
    padding: 14px;
    padding-left: 14px;
    float: right;
    margin-top: -27px;
}

.parcel-item .alert {
    background: Red;
    color: White;
    font-size: larger;
    font-weight: bold;
    padding: 4px;
}

.parcel-item .select-flag {
    /*width: 100%;*/
    height: 30px;
    margin-top: 4px;
}


.mark-complete {
    display: block;
    margin-top: 6px;
}

.mc-off:before {
    content: "Mark as Complete";
    display: block;
    text-align: center;
    border: 2px outset White;
    border-radius: 15px;
    padding: 3px;
}

.mc-on:before {
    content: "Completed";
    display: block;
    text-align: center;
    border: 1px solid White;
    border-radius: 6px;
    background: Yellow;
    padding: 3px;
    color: Black;
}

.logout {
    background: url(tools/logout.png);
}

.sync {
    background: url(tools/sync.png);
}

.sort {
    background: url(tools/sort.png);
}

.search {
    background: url(tools/search.png);
}

.dashboard {
    background: url(tools/stats.png);
}

footer section.tools div {
    margin: 12px;
    text-align: right;
}

    footer section.tools div a {
        margin-left: 3px;
        margin-right: 0px;
        display: inline-block;
        width: 44px;
        height: 44px;
        cursor: pointer;
    }



.aux-grid-head {
    background: #CCC;
    padding: 4px;
    clear: both;
}

.aux-grid-switch {
    float: right;
    margin-right: 10px;
}

.data-collection-table {
    width: auto;
    font-size: 1em;
    border-collapse: collapse;
	word-wrap: break-word;
}

    .data-collection-table tr td {
        height: 30px;
        padding: 5px;
        padding-right: 20px;
        vertical-align: top;
    }

    .data-collection-table tr th {
        height: 30px;
        padding: 5px;
        font-weight: bold;
        text-align: left;
    }

    .data-collection-table .aux-grid-edit-cell {
        background: #999;
        color: White;
        vertical-align: middle;
        padding: 0px 0px;
    	width: 98px;
    }

        .data-collection-table .aux-grid-edit-cell a {
            color: White;
            text-decoration: none;
            font-weight: bold;
            padding: 18px;
        }

#county-categ {
    width: 170px;
    background: #e6ebef url(images/sidepanel.png) right top repeat-y;
}

    #county-categ a {
        display: block;
        padding: 10px;
        border-bottom: 1px solid #dfdfdf;
        border-top: 1px solid #FEFEFE;
        border-right: 1px solid #3a3a3a;
        font-size: 10pt;
        font-weight: bolder;
        color: #444444;
        text-decoration: none;
    }

        #county-categ a.selected {
            color: White;
            text-shadow: -1px -1px -1px #666666;
            background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#438dbb), to(#68b2e0)); /* Safari 5.1, Chrome 10+ */
            background: -webkit-linear-gradient(top, #68b2e0, #438dbb); /* Firefox 3.6+ */
            background: -moz-linear-gradient(top, #eff3f7, #c7cdcf); /* IE 10 */
            background: -ms-linear-gradient(top, #eff3f7, #c7cdcf); /* Opera 11.10+ */
            background: -o-linear-gradient(top, #eff3f7, #c7cdcf);
        }

.sort-screen-message {
    text-align: center;
    padding: 50px;
    font-style: italic;
    font-size: 1.1em;
}

section.screen header a {
    height: 29px;
    float: right;
    margin-left: 8px;
}

.change-sort-view {
    background: url(buttons/view-change.png) no-repeat;
    width: 86px;
}

.csv-priority {
    background: url(buttons/view-priority.png) no-repeat;
}

.csv-proximity {
    background: url(buttons/view-proximity.png) no-repeat;
}

.sort-view {
    background: url(buttons/sort.png) no-repeat;
    width: 60px;
}
.bpp-sort-view{
	background: url(buttons/bpp-sort-filter.png) no-repeat;
    width: 75px;
}
.hide-visited {
    background: url(buttons/hide-visited.png) no-repeat;
    width: 137px;
}

.add-photo {
    background: url(buttons/add-photo.png) no-repeat;
    width: 137px;
}

.record-add-photo {
    background: url(buttons/record-photo.png) no-repeat;
    width: 45px;
}
.standalone-bpp{
	background: url(buttons/standalone-create-Bpp.png) no-repeat;
	width: 29px;
}

.record-grid-photo {
    background: url(buttons/record-photo.png) no-repeat;
    width: 45px;
    height: 30px;
    background-size: 30px;
    background-position-y: center;
    background-position-x: 10px;
    position: absolute;
}

.record-grid-photo-count{
	width: 13px;
    height: 13px;
    line-height: 14px;
    font-size: 9px;
	color: #fff !important;
	text-align: center;
	background-color: #585858;
    border-radius: 50px;
    position: absolute;
    margin-left: 33px;
    z-index: 1;
}

.record-photo-preview {
    background: url(buttons/dcc-photo.png) no-repeat;
    width: 45px;
}

.photocount {
	position: absolute;
	top: 6px;
	text-align: center;
	width: 14px;
	height:13px;
	font-size:11px;
	color:#ffffff;
	background-color:#585858;
	border-radius:50%;
}

.delete-selected-photo {
    background: url(buttons/btn-delete.png) no-repeat;
    width: 88px;
}

.map-view {
    background: url(buttons/map.png) no-repeat;
    width: 60px;
}
.sort-toggle {
    background: url(buttons/sort-toggle.png) no-repeat;
    width: 60px;
}
.multiple-mac {
    background: url(buttons/btn-mac.png) no-repeat;
    width: 161px;
}

.map-pri-only {
    background: url(buttons/map-pri-only.png) no-repeat;
    width: 80px;
}


.map-show-all {
    background: url(buttons/map-show-all.png) no-repeat;
    width: 86px;
}

.digital-prc {
    background: url(buttons/hide-visited.png) no-repeat;
    width: 137px;
}

.vspace {
    height: 5px;
    clear: both;
}

#user-dashboard table {
    margin-top: 15px;
    border-spacing: 0px;
    width: 100%;
}

.dashboard-title {
}

.dashboard-graph {
}

.dashboard-table {
    font-size: 12pt;
    border: 1px solid #b6c5cd;
    border-bottom: 0px none;
    border-spacing: 0px;
}

    .dashboard-table tbody {
    }

        .dashboard-table tbody tr {
        }

            .dashboard-table tbody tr td {
                vertical-align: middle;
                padding: 6px 20px;
                border-bottom: 1px solid #b6c5cd;
                text-align: right;
                font-weight: bold;
                color: Black;
            }

                .dashboard-table tbody tr td:first-child {
                    text-align: left;
                    font-weight: normal;
                    color: #555555;
                }

    .dashboard-table thead tr th {
        border-bottom: 1px solid #b6c5cd;
        background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#a1cee7), to(#9bb4c3)); /* Safari 5.1, Chrome 10+ */
        padding: 8px 20px;
    }

.nbhd-perc-complete {
    background: Blue;
}

.nbhd-perc-alert {
    background: Red;
}

.nbhd-perc-priority {
    background: Orange;
}

.nbhd-perc-proximity {
    background: Green;
}

button.unselected {
    background: #CFCFCF;
}

#search-panel {
    height: 60px;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#cadee2), to(#e5e5e5)); /* Safari 5.1, Chrome 10+ */
    padding: 5px;
    font-size: 1.0em;
}

    #search-panel table {
        margin: 12px 8px;
    }


        #search-panel table tr td {
            vertical-align: middle;
        }

            #search-panel table tr td.lbl {
                padding-right: 4px;
            }

            #search-panel table tr td.inp {
                padding-right: 8px;
            }


            #search-panel table tr td input {
                font-size: 1.0em;
                padding: 4px;
                width: 120px;
            }

            #search-panel table tr td button {
                font-size: 1.2em;
            }

section#error {
    text-align: center;
}

#errordisplay {
    width: 330px;
    padding: 0px 10px 10px 130px;
    background: url(images/warning-sign.png) 15px 15px no-repeat;
    border-radius: 10px;
    min-height: 110px;
    border: 3px solid #da8a03;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    margin-top: 200px;
}

    #errordisplay h1 {
        margin-left: 0px;
        margin-right: 0px;
    }

#gpsloading {
    text-align: center;
}

.gpsstatus {
    background: White url(images/gps.gif) no-repeat;
    width: 128px;
    height: 128px;
    margin: 250px auto;
}

.gpserror {
    background: White url(images/gpserror.gif) no-repeat;
}

.gpstimeout {
    background: none;
}

.gpsdone {
    background: none;
}

.parcel-completed {
    padding: 5px;
    color: Black;
    background: Yellow;
    border: 1px solid Orange;
    margin: 5px;
    border-radius: 15px;
}

.prc-format {
    padding: 8px;
}

    .prc-format table tr td {
        vertical-align: top;
    }

    .prc-format a {
        color: Blue;
        font-size: 11pt;
        font-weight: bold;
        display: block;
        text-align: center;
        padding: 3px;
    }

.vspacer {
    height: 4px;
    background: #333333;
    margin-top: 5px;
    margin-bottom: 5px;
}

.bigbox {
    border: 4px solid #333333;
    margin-top: 5px;
    margin-bottom: 5px;
}

.smallbox {
    border-bottom: 2px solid #333333;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 5px;
}


.comp-field-desc {
    font-weight: bold;
    width: 200px;
    font-size: smaller;
    padding: 2px;
    padding-left: 5px;
}

.comp-column {
    width: auto;
    text-align: center;
    font-size: smaller;
    padding: 2px;
}

.comp-header {
    font-weight: bold;
}

.login-progress-bar {
    border: 1px solid #CFCFCF;
    border-radius: 6px;
    height: 24px;
    width: 200px;
    margin: 10px auto;
    background: #0d457a url(/static/css/colors/ffffff.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.data-navigator {
    background: #CFCFCF;
    padding: 5px;
}

.aux-grid-new {
    margin-right: 38%;
    width: 0px;
    height: 26px;
    display: inline-block;
    background-image: url(buttons/data-nav.png);
    margin-left: 3px;
    border-radius: 10px !important;
    background-position-x: -160px;
}

.records-indicator {
    vertical-align: text-bottom;
    display: inline-block;
    padding: 12px 30px;
    font-weight: bold;
}


a.record-move, a.record-button {
    width: 40px;
    height: 40px;
    display: inline-block;
    background-image: url(buttons/data-nav.png);
    margin-left: 3px;
    margin-right: 3px;
}


    a.record-move[on] {
        background-position-y: -40px;
    }

    a.record-move[disabled] {
        background-position-y: -80px;
    }

    a.record-move[ddir="first"] {
        background-position-x: 0px;
    }

    a.record-move[ddir="prev"] {
        background-position-x: -40px;
    }

    a.record-move[ddir="next"] {
        background-position-x: -80px;
    }

    a.record-move[ddir="last"] {
        background-position-x: -120px;
    }

    a.record-move[ddir="new"] {
        background-position-x: -160px;
    }

    a.record-move[ddir="del"] {
        background-position-x: -200px;
    }

    a.record-button[action="list"] {
        background-position-x: -240px;
    }

    a.record-button[action="copy"] {
        background-position-x: -280px;
        display: none;
    }

.selectimagespan {
    position: absolute;
    right: 5px;
    top: 4px;
    width: 25px;
    height: 25px;
}

[noad] a.record-move[ddir="new"], [noad] a.record-move[ddir="del"] {
    display: none;
}

section[actualdata="actualdata"] a.record-move[ddir="del"] {
    display: none;
}
a.record-futurecopy{
     width: 38px;
    height: 40px;
    display: inline-block;
    background-image: url(buttons/futureYear.png);
    margin-right: 19px;
    float: right;
    margin-top: 2px;
    background-size: 100%;
    background-repeat: no-repeat;
}
a.record-massupdate {
    width: 98px;
    height: 30px;
    display: inline-block;
    background-image: url(buttons/massupdate.png); /* margin-left: 649px;*/
    margin-right: 19px;
    float: right;
    margin-top: 10px;
}

a.record-classcalculator {
    width: 38px;
    height: 40px;
    display: inline-block;
    background-image: url(buttons/calculator.png);
    margin-right: 19px;
    float: right;
    margin-top: 2px;
    background-size: 100%;
    background-repeat: no-repeat;
}

section#search {
    background: #CECECE;
}

section#copyParcel {
    background: #CECECE;
}

.parcel-search-panel {
    width: 500px;
    margin: 40px auto;
    padding: 20px;
    border-radius: 20px;
    border: 1px solid #CFCFCF;
    background-image: -webkit-gradient( linear, right bottom, left top, color-stop(0.6, #EBEBEB), color-stop(0.72, #F0F0F0), color-stop(0.73, #E3E3E3) );
}

.parcel-search-params {
    width: 100%;
}

    .parcel-search-params tr td {
        text-align: left;
        width: 300px;
        padding-top: 4px;
        padding-bottom: 8px;
        vertical-align: top;
    }

        .parcel-search-params tr td:first-child {
            text-align: right;
            padding-right: 30px;
            padding-top: 7px;
            width: auto;
        }

        .parcel-search-params tr td[colspan] {
            text-align: left;
            width: auto;
            padding-left: 30px;
        }

    .parcel-search-params, .parcel-search-params input, .parcel-search-params select {
        font-size: 12pt;
        border-radius: 0px;
    }

        .parcel-search-params input[type="text"] {
            padding: 4px;
        }

        .parcel-search-params button {
            font-size: 1.5em;
        }

.aux-header {
    background-color: #DDD;
    border-bottom: 1px solid #CCC;
}

.sub-cat-item {
    display: inline-block;
    margin-top: 10px;
}

.sub-cat-opener {
    text-align: center;
    font-size: 14pt;
    border: 2px solid #999999;
    background: #CCC;
    border-radius: 8px;
    padding: 8px 8px;
    display: inline-block;
    margin: 0px 10px;
}

.aux-nav-back-col {
    width: 60px;
    text-align: center;
    vertical-align: top;
    padding: 10px;
}

.aux-nav-back {
    font-size: 1.2em;
    padding: 12px 30px;
}

.window-message-box {
}

    .window-message-box .message-box-frame {
        width: 350px;
        margin: 250px auto;
        text-align: center;
        border-radius: 10px;
        box-shadow: 1px 1px 3px #333;
    }

        .window-message-box .message-box-frame .message-box-title {
            padding: 10px;
            background: -webkit-gradient(linear,0 0,0 100%, color-stop(0,#AAA), color-stop(0.5, #BBB), color-stop(0.5, #A5A5A5),color-stop(1, #DDD));
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
            font-weight: bold;
            font-size: 14pt;
            border-left: 2px solid #AAA;
            border-right: 2px solid #AAA;
            border-top: 2px solid #AAA;
        }

        .window-message-box .message-box-frame .message-box-body {
            background: White;
            padding: 30px;
            border-left: 2px solid #AAA;
            border-right: 2px solid #AAA;
            padding-bottom: 10px;
        }

        .window-message-box .message-box-frame .message-box-input {
            background: White;
            padding: 0px 30px 15px 30px;
            border-left: 2px solid #AAA;
            border-right: 2px solid #AAA;
        }

        .window-message-box .message-box-frame .message-box-input-item {
            width: 280px;
            height: 30px;
            font-size: 1.1em;
            margin-bottom: 10px;
        }
        .bpp-filter-text
		{
			    padding-left: 32px;
		}
        .window-message-box .message-box-frame .message-box-input-textarea {
            height: 60px !important;
        }
        .window-message-box .message-box-input-filters{
			padding-left: 32px;
    		text-align: left;
    		font-size: 14px;
        }
        .window-message-box .message-box-input-filters .bpp-filter-radio{
        	 margin: 6px 4px 0px 0px;
        }
        .window-message-box .message-box-frame .message-box-buttons {
            padding: 7px;
            background: #EFEFEF;
            border-bottom-left-radius: 10px;
            border-bottom-right-radius: 10px;
            border-left: 2px solid #AAA;
            border-right: 2px solid #AAA;
            border-bottom: 2px solid #AAA;
        }

            .window-message-box .message-box-frame .message-box-buttons .button {
                font-size: 12pt; /*  padding: 6px 40px;*/
                min-width: 78px;
            }

section[cpy] a[action="copy"] {
    display: inline-block;
}

.parcel-copy-panel {
    width: 500px;
    margin: 40px auto;
    padding: 20px;
    border-radius: 20px;
    border: 1px solid #CFCFCF;
    background-image: -webkit-gradient( linear, right bottom, left top, color-stop(0.6, #EBEBEB), color-stop(0.72, #F0F0F0), color-stop(0.73, #E3E3E3) );
}

.parcel-copy-params, .parcel-copy-params input, .parcel-copy-params select {
    font-size: 12pt;
    border-radius: 0px;
}

.parcel-copy-params {
    width: 100%;
}

    .parcel-copy-params select {
        height:27px;
        width: 200px;
    }

    .parcel-copy-params input[type="text"] {
        height:22px;
        width: 196px;
    }

    .nav-copy-future-year {
  background-image: url(images/futureYear.png);
    background-size: 100%;
    background-repeat: no-repeat;
}
.nav-copy-imprv {
    background-image: url('images/ico_imprvCopy.png');
}

.parcel-copy-params td {
    padding: 10px 0px;
}

.tabPrimary {
    position: relative;
    z-index: 3000;
    top: 0;
    float: left;
    width: 32px;
    height: 39px;
    display: block;
    background: url(images/favorite.png) center no-repeat;
}

.customddl {
    width: 100%;
    height: 100%;
    z-index: 2000;
    position: absolute;
    top: 0;
    display: none;
}

.customddl span[legend] {
    font-weight: bold;
}

.customddl_mask {
    background: black;
    width: 100%;
    height: 100%;
    opacity: 0.5;
}

.customddl_main_block {
    width: 700px;
    height: 700px;
    background-color: white;
    margin: auto;
}

.customddl_header {
    float: left;
    height: 107px;
    padding: 5px;
    background: rgb(185, 181, 181);
}

    .customddl_header input[type="text"] {
        margin: 20px 20px;
        width: 527px;
        height: 45px;
        border-radius: 50px;
        padding-left: 10px;
        font-size: large;
    }

.customddl_desc {
    overflow: auto;
}

    .customddl_desc ul {
        width: 100%;
    }

        .customddl_desc ul li[selected] {
            color: White;
            text-shadow: -1px -1px -1px #666666;
            background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#438dbb), to(#68b2e0)); /* Safari 5.1, Chrome 10+ */
            background: -webkit-linear-gradient(top, #68b2e0, #438dbb); /* Firefox 3.6+ */
            background: -moz-linear-gradient(top, #eff3f7, #c7cdcf); /* IE 10 */
            background: -ms-linear-gradient(top, #eff3f7, #c7cdcf); /* Opera 11.10+ */
            background: -o-linear-gradient(top, #eff3f7, #c7cdcf);
            font-weight: bold;
        }

        .customddl_desc ul li {
            border-bottom: 1px solid #ddd;
            padding: 10px 20px;
        }
        
        .customddl_desc ul li[disable] {
        	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#d2cdcd), to(#d2cdcd));
        }

.mask {
    background: black;
    opacity: 0.5;
    top: 0px;
    width: 100%;
    height: 100%;
    position: absolute;
    display: none;
}


.customddlbtnadd {
    display: none;
}

div[controls] {
    margin: 0px auto;
    width: 760px;
}

div[descleft] {
    float: left;
}

.searchCustomddl {
    background: url(images/Search_Icon.png);
    width: 30px;
    height: 30px;
    float: right;
    margin-right: 15px;
    margin-top: 4px;
}

fieldset span[readonlyexp] {
    float: right;
    font-size: 13pt;
    font-weight: bold;
    display: none;
    color: #438dbb;
    padding-top: 7px;
}

.map-pictometry, .map-woolpert {
	background: -webkit-gradient(linear,0 0,0 100%,color-stop(0,#898b8e),color-stop(0.5, #262d36),color-stop(0.5, #1b1c1c),color-stop(1, #131414)) !important;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    height: 29px !important;
    padding: 3px 12px !important;
}



 #imagery {
	  position: absolute;
	  right: 10px;
	  top: 80px;
	   z-index: 3;
	}
	.imagery .selection {
       margin-bottom: .5em;
    }

	.imagery .selection label {
	  display: inline-block;
	  width:5em;
	  height:1.1em;
	  background-color: white;
	  border-radius: 3px;
	  color: #fffff;
	  padding: 0.3em;
	  cursor: pointer;
	  border: 3px solid rgba(187,187,187,0.2);
	}
	
	.imagery .selection label:hover {
	  background-color: white;
	  border: 3px solid rgba(187,187,187,0.8);
	}
	
	.imagery .selection input[type=radio] {
	  display: none;
	}
	
	.imagery .selection input[type=radio]:checked ~ label {
	  background-color: white;
	  border: 3px solid rgba(187,187,187,1)
	  
	}
	button.ol-zoom-in {
	  background:white;
	  position: fixed;
	  top: 80px;
	  left:10px;
	  width:35px;
	  height:35px;
	  color:black;
	  font-size: 22px;
	  text-align: center;
	  text-decoration: none;
	  font: bold 18px 'Lucida Console', Monaco, monospace;
	  text-indent: 1px;
	  padding:0px;
	  border: 2px solid rgba(0,0,0,0.2);
      background-clip: padding-box;
	  outline:none;
	  border-bottom:none;
	  border-bottom-left-radius:0px;
	  border-bottom-right-radius:0px;
	}

	button.ol-zoom-out {
    background:white;
    position: fixed;
    top: 115px;
    left: 10px;
    width:35px;
	height:35px;
	color:black;
	font-size: 22px;
    text-align: center;
    text-decoration: none;
  	font: bold 18px 'Lucida Console', Monaco, monospace;
    text-indent: 1px;
    padding:0px;
    border: 2px solid rgba(0,0,0,0.2);
    background-clip: padding-box;
    outline:none;
    border-top:none;
    border-top-left-radius:0px;
	border-top-right-radius:0px;
	}
	button.ol-zoom-out:active{
  	border: 3px solid rgba(187,187,187,1);
	}
	button.ol-zoom-in:active{
  	border: 3px solid rgba(187,187,187,1);
	}
	
	

.q_public_btn {
	background: -webkit-gradient(linear,0 0,0 100%,color-stop(0,#898b8e),color-stop(0.5, #262d36),color-stop(0.5, #1b1c1c),color-stop(1, #131414)) !important;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    height: 29px !important;
    padding: 3px 12px !important;
}

div[terminatedevice] {
    text-align: center;
}

.overlay-photo-properties {
    background: White;
}

    .overlay-photo-properties .photo-meta-fields {
        margin: 20px;
    }

.mass-update-padding {
    padding-bottom: 8cm;
    min-height: 50px;
}
/*gmap css*/
.onoffswitch {
    position: relative;
    width: 46px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    margin-left: 13px;
}

.onoffswitch-checkbox {
    display: none;
}

.onoffswitch-label {
    display: block;
    overflow: hidden;
    cursor: pointer;
    border-radius: 4px;
}
.onoffswitch-label.big{
        border-radius: 24px;
}

.onoffswitch-inner {
    display: block;
    width: 200%;
    margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}

    .onoffswitch-inner:before, .onoffswitch-inner:after {
        display: block;
        float: left;
        width: 50%;
        height: 22px;
        padding: 6px;
        line-height: 10px;
        font-size: 10px;
        color: white;
        font-family: Trebuchet, Arial, sans-serif;
        font-weight: bold;
        box-sizing: border-box;
        padding-left: 10px !important;
    }
    .onoffswitch-inner:before
    {
        background-color: #0e9a43;
    }
    .onoffswitch-inner:before {
        content: "ON";
        padding-left: 4px;
        background-color: #17c235;
        color: #FFFFFF;
    } 
    .onoffswitch-inner:after {
        content: "OFF";
        padding-right: 10px;
        background-color: #3A3737;
        color: #FFF3F3;
        text-align: right;
    } 
    .onoffswitch-inner.big:before,.onoffswitch-inner.big:after
    {
           height: 26px;
    line-height: 14px;
    font-size: 12px;
    }
.onoffswitch-label.big {
        border-radius: 26px;
}
    .onoffswitch-inner.big:after {
       content: "CY";
    }
     .onoffswitch-inner.big:before {
       content: "FY";
    }
.onoffswitch-switch {
    display: block;
    width: 9px; 
    margin: 1px;
    background: #FFFFFF;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 31px;
    border: 2px solid rgba(140, 130, 130, 0.83);
    border-radius: 5px;
    transition: all 0.3s ease-in 0s;
}
    .onoffswitch-switch.big {
        border-radius: 20px;
    right: 27px;
    width: 12px;
    margin: 2px;
    border: none;
    width: 21px;
    }
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}

.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px;
}

.modalDialog {
    background: white;
    z-index: 99999;
    position: absolute;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    border: 1px solid silver !important;
    opacity: .92;
}

.poptable {
    width: 100%;
    font-size: 17px;
    color: black;
    border-collapse: collapse;
}

    .poptable td {
        /*padding: 5px 5px;*/
        padding: 5px 14px; 
        /*padding:3px 4px 3px 12px;*/
        font-size: 14px;
        border-bottom: 1px solid rgba(192, 192, 192, 0.6);
        background: linear-gradient(to bottom, rgba(245, 245, 245, 0) 5%, rgba(206, 206, 206, 0.68) 100%) !important;
    }

.Submit {
    width: 84px;
    height: 30px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
}

    .Submit:hover {
        background: #4B8F0E;
    }

.close {
    background: #79bbff;
    color: #FFFFFF;
    line-height: 20px;
    position: absolute;
    right: -15px;
    text-align: center;
    top: -7px;
    width: 20px;
    text-decoration: none;
    font-weight: bold;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    font-size: 12px;
    border-radius: 12px;
    -moz-box-shadow: 1px 1px 3px #000;
    -webkit-box-shadow: 1px 1px 3px #000;
    box-shadow: 1px 1px 3px #000;
}


.myButton {
    -moz-box-shadow: inset 0px 1px 0px 0px #bbdaf7;
    -webkit-box-shadow: inset 0px 1px 0px 0px #bbdaf7;
    box-shadow: inset 0px 1px 0px 0px #bbdaf7;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #79bbff), color-stop(1, #378de5));
    background: -moz-linear-gradient(top, #79bbff 5%, #378de5 100%);
    background: -webkit-linear-gradient(top, #79bbff 5%, #378de5 100%);
    background: -o-linear-gradient(top, #79bbff 5%, #378de5 100%);
    background: -ms-linear-gradient(top, #79bbff 5%, #378de5 100%);
    background: linear-gradient(to bottom, #79bbff 5%, #378de5 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#79bbff', endColorstr='#378de5',GradientType=0);
    background-color: #79bbff;
    -moz-border-radius: 6px;
    border: 1px solid #84bbf3;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 12px;
    font-weight: bold;
    padding: 5px 11px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #528ecc;
}

    .myButton:active {
        position: relative;
        top: 1px;
    }

.Setting {
    background: url(buttons/setting.png) no-repeat;
    width: 35px;
    background-size: 36px 29px;
    cursor: pointer;
    margin-left:5px;
}

.heatmap-items {
    width: 200px;
    height: 29px;
    float: left;
    margin: 0 4px;
    border-radius: 5px;
    padding: 2px 4px;
}
select.map-items:focus {
    outline: none;
}
select.map-items:active {
    outline: none;
}
.map-items {
    width: 200px;
    height: 30px;
    float: left;
    margin: 0 4px;
    border-radius: 5px;
    text-shadow: 1px 1px #eee;
    text-align: center;
    text-decoration: none;
    font: bold 12px "AvenirNext-Regular", "Helvetica Neue Ultra Light", ArialMT,Arial;
    padding-left: 20px;
    text-align-last: center;
    background: rgba(189, 195, 199, .4);
}

.infoButton {
    cursor: pointer;
    background-position-x: -22px;
    background: url(buttons/info.png) no-repeat;
    width: 20px;
    height: 24px;
    background-size: 180%;
    position: absolute;
    margin: 0px 9px;
    margin-top: 5px;
}

.infoContentContainer {
	position: absolute;
	top: 32%;
	left: 18%;
	max-height: 365px;
	height: 156px;
	width: 64%;
	background-color: rgb(242, 242, 242);
	border: 1px solid silver;
	display: none;
	z-index: 9999;
}

.infoContentHeader {
	padding: 7px; 
	border-bottom: #e4e4e4; 
	border-bottom-width: 1px; 
	border-bottom-style: solid; 
	background: linear-gradient(#e4e4e4, #e7e7e7); 
	font-weight: bold; 
	color: #5c5c5c;
}

.infoContent {
	max-height: 305px; 
	min-height: 90px;
	height: 90px;
    padding: 1px 10px;
	/*overflow: hidden;*/
    background-color: #F5F5F5;
}

.infoContentFooter {
	padding: 7px;
    background: linear-gradient(#e7e7e7 , #e4e4e4);
    border-top: #e0e0e0;
    border-top-style: solid;
    border-top-width: 1px;
}

.compalertmsgContainer {
    position: absolute;
    top: 32%;
    left: 18%;
    max-height: 365px;
    height: 156px;
    width: 64%;
    background-color: rgb(242, 242, 242);
    border: 1px solid silver;
    display: none;
    z-index: 9999;
}

.compalertmsgHeader {
    padding: 7px;
    border-bottom: #e4e4e4;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    background: linear-gradient(#e4e4e4, #e7e7e7);
    font-weight: bold;
    color: #5c5c5c;
}

.compalertmsg {
    max-height: 305px;
    min-height: 90px;
    height: 90px;
    padding: 1px 10px;
    /*overflow: hidden;*/
    background-color: #F5F5F5;
}

.compalertmsgFooter {
    padding: 7px;
    background: linear-gradient(#e7e7e7, #e4e4e4);
    border-top: #e0e0e0;
    border-top-style: solid;
    border-top-width: 1px;
}


.update-box {
    width: 327px;
    height: 80px;
    padding: 10px 36px;
    background-color: #4AA0CA;
    margin-left: 10px;
    margin-top: 13px;
    color: rgb(0, 0, 0);
    font-variant: normal;
    line-height: 21.4px;
    position: fixed;
    bottom: 75px;
}

.btn-notification {
    border: 1px solid rgb(5, 47, 26);
    display: inline-block;
    cursor: pointer;
    color: rgb(255, 255, 255);
    font-size: 13px;
    padding: 0px 6px;
    text-decoration: none;
    background: linear-gradient(rgb(29, 98, 125) 5%, rgb(17, 79, 115) 100%) rgb(45, 135, 232);
    margin-left: 302px;
    margin-top: -1px;
    width: 100px;
    height: 29px;
    position: relative;
    bottom: 14px;
    border-style: solid;
    border-width: 1px;
    font-weight: bold;
}

.update-box:after {
    content: "";
    position: absolute;
    bottom: -15px;
    left: 15px;
    border-width: 15px 15px 0;
    border-style: solid;
    border-color: #4AA0CA transparent;
    display: block;
    width: 0;
}

#update-icon {
    display: inline-block;
    width: 32px;
    height: 32px;
    margin: 0px -27px;
    background: url(/static/css/images/parcel-list.png) -32px 0;
}

#notification-text {
    width: 240px;
    margin-left: 11px;
    margin-top: -40px;
}

#btn_update {
    margin-top: 14px;
}

#btn-container {
    margin-top: -62px;
    margin-left: -51px;
}
/*legend for OSM*/
.legend {
    line-height: 18px;
    color: #555;
}

    .legend i {
        width: 18px;
        height: 18px;
        float: left;
        margin-right: 8px;
        opacity: 0.7;
    }

.infoLegend {
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(231, 233, 231,0.7);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
}

.hideLegend {
    visibility: hidden !important;
}

#maskLayer {
    background: black;
    opacity: 0.5;
    top: 0%;
    width: 100%;
    height: 100%;
    bottom: 0%;
    position: absolute;
    display: none;
}

#imgMask {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 100;
}

#loadText {
    color: wheat;
    float: right;
    position: absolute;
    left: 50%;
    top: 55%;
    z-index: 100;
}
.maskText{
    position: absolute;
    top: 48%;
    color: white;
    left: 43%;
    font-size: 18px;
}
buttontd.{
    text-align: center;
	}

.parcel-header-temp {
    font-size: 14px;
    font-weight: bold;
    background-color: #eeeeee;
    padding: 0px 5px;
}

.content-table {
    border-collapse: initial;
}

.col-item {
    text-align: left;
}
.newMA .page-wrapper
{
        padding: 0px !important;
}
.newMA .app-top-logo,.newMA .page-footer
{
    border-radius:0px !important
}
.table[count="0"] {display: none}
.officealert {color: red !important;}

fy.fystatus{
    float: right;
    margin-right:55px;
	background-color: #3A3737;
    padding: 5px 7px;
    border-radius: 22px;
    color: white;
    text-shadow: none;
}

fy.flactive{
   background-color: #17c235;
}
tip{
	float: right;
    font-size: 12px;
    margin-top: 9px;
    margin-right: 3px;
    color: #845500;
}

.parcel-item-new .sort-screen-photo {
    margin: 10px;
    border-radius: 6px;
    padding: 13px;
}
.parcel-item-new .nav-buttons a{
        padding: 5px 23px;
    background-color: #c0c0c073;
    border-radius: 18px;
    font-weight: normal;
    font-size: 14px;
    color: #0985ab; cursor: pointer;
}
/*.parcel-item-new .alert32,.parcel-item-new .priority32,.parcel-item-new .comp32 {
    width: 24px !important;
    height: 24px !important;
    background-size: 383% !important;
}
.parcel-item-new .priority32 {
        background-position-x: -23px;
}
.parcel-item-new .comp32{
     background-position-x: -46px;
}*/
.parcel-item-new span{
        font-weight: normal;
}
.new-link-button{
        padding: 3px 10px;
    background-color: #e0e0e0;
    border-radius: 8px;
    color: #006dad;
    margin-left: 5px;
    cursor: pointer;
}
.bppmap td {
    padding:5px 4px;
}
.parcel-item-new {
        margin: 6px;
        border:none !important;
        font-size: 15px !important; 
}
nav.parcel-item-new td {
    padding: 3px 1px;
}
.parcel-item-new .sort-screen-photo{
    width: 90px;
    height: 62px;
    background-color:#e4e4e4
}
.parcel-item-new .nav-buttons a:active {
     background-color: #73737373;

}

nav.parcel-item-new span {
color:#2b2b2b;
}


/*--------*/

nav.parcel-item-new {
    margin: 6px;  
    height: auto;
    /* border: 1px solid #287b9b !important; */
    border: 1px solid silver !important;
	border-radius: 10px !important; /* Safari 5.1, Chrome 10+ */
}


    nav.parcel-item-new .normal-view, nav.parcel-item-new .normal-view-bpp {
        min-height: 80px;  /*  FD_14636 height: 80px;  */
    }

    nav.parcel-item-new .expanded-view, nav.parcel-item-new .expanded-view-bpp {
        height: auto;
        font-size: 0.9em;
        font-weight: normal;
    }

	.page-content nav.parcel-item-new.selected {
        /*
	    background: #438dbb;
	    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#40b9a3), to(#287b9b));
	    background: -webkit-linear-gradient(top, #40b9a3, #287b9b);
	    background: -moz-linear-gradient(top,#40b9a3, #287b9b);
	    background: -ms-linear-gradient(top,#40b9a3, #287b9b);
	    background: -o-linear-gradient(top,#40b9a3, #287b9b);
        */
	    cursor: pointer;
	    border-radius: 10px !important; /* Safari 5.1, Chrome 10+ */
	}
	nav.parcel-item-new .expanded-view {
		padding: 10px; 
	}
	
	nav.parcel-item-new .expanded-view td {
	     padding: 0px 5px;
	}
	
	nav.parcel-item-new .nav-buttons {
	     border-bottom: none !important;
	}
	
	.parcel-item-new.selected .expanded-view .nav-buttons a {
		background: #ffffff40;
    	color: #ffffff;
    	border: 1px solid #ffffff52;
    	font-size: 16px;
    }
    
    .parcel-item-new.selected .normal-view .nav-buttons a {
		background: #ffffff40;
    	color: #ffffff;
    	border: 1px solid #ffffff52;
    	font-size: 14px;
    }
/*------*/

.mark-as-delete{
	border: 2px outset White;
    border-radius: 15px;
    padding: 3px;
    margin-top: 5px;
    display: block;
}
.delete-Bpp-parcel-photo{
	background: url(buttons/deleteBpp.png) no-repeat;
}

.create-Bpp-parcel-photo{
	background: url(buttons/createBpp.png) no-repeat;
}

.create-Bpp-parcel{
    padding: 3px 16px !important;
    border: 1px outset white;
    margin-top: 8px;
    margin-right: 14px;
    float: left;
    border-radius: 13px;
    color: #30c33c !important;
}

.Bppdeleted{
    background-color:red;
    font-weight:bold;
    color:white;
}

.BPP-Hide
{
    display:none!important;
}
.parcel-item-new ,.parcel-item-new:after {
    height: auto !important;
}
.legend-item-selected{
   box-shadow: #159ff4 0px 0px 0px 3px;
    /*margin: 3px 0px 3px 0px;*/
 }
 
 /*maptool switch*/
 
.SFswitch {
    margin: 5px;
    position: relative; width: 68px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.SFswitch-checkbox {
    display: none;
}
.SFswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid #999999; border-radius: 20px;
}
.SFswitch-inner {
    display: block; width: 200%; margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}
.SFswitch-inner:before, .SFswitch-inner:after {
    display: block; float: left; width: 50%; height: 30px; padding: 0; line-height: 30px;
    font-size: 11px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    box-sizing: border-box;
}
.SFswitch-inner:before {
    content: "FAST";
    padding-left: 10px;
    background-color: #387fb0; color: #FFFFFF;
}
.SFswitch-inner:after {
    content: "SLOW";
    padding-right: 5px;
    background-color: #EEEEEE; color: #999999;
    text-align: right;
}
.SFswitch-switch {
   display: block;
    width: 13px;
    height: 14px;
    margin: 6px;
    background: #FFFFFF;
    position: absolute;
    top: 2px;
    bottom: 0;
    right: 36px;
    border: 2px solid #999999;
    border-radius: 36px;
    transition: all 0.3s ease-in 0s;
}
.SFswitch-checkbox:checked + .SFswitch-label .SFswitch-inner {
    margin-left: 0;
}
.SFswitch-checkbox:checked + .SFswitch-label .SFswitch-switch {
    right: 0px; 
}
/*.bpp-filter-checkbox{
	background: url(images/checkbox.png) no-repeat;
    height: 18px;
    width: 17px;
    float: left;
    background-size: 630%;
    background-position-x: -19px;
}
.filter-bpp-items {
	float: left;
    margin-left: 2px;
}
.bpp-selected-checkbox{
	background-position-x: -0.5px !important;
}*/

.map-nearmap, .map-nearmapwms, .map-Imagery, .map-ev {
    background: -webkit-gradient(linear,0 0,0 100%,color-stop(0,#898b8e),color-stop(0.5, #262d36),color-stop(0.5, #1b1c1c),color-stop(1, #131414)) !important;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    height: 29px !important;
    padding: 3px 12px !important;
}

.lkShowAll {
	height: 20px; 
	padding: 10px 20px; 
	font-weight: bold; 
	border: 1px solid #777;
	/*border-bottom: 1px solid #0e0a0a;
	border-top: 1px solid rgb(14, 10, 10);*/
}

.lkShowAlllink:hover {
 	cursor: pointer;
 	color: blue;
}
/*
.cusDpdownSpan {
  border: 1px solid #767676;
  border-radius: 2px;
  width: 275px;
  display: inline-block;
  position: relative;
  height: 28px;
  background: white;
  float: right;
  margin: 5px;
  padding-right: 23px;
}
*/

.cusDpdownSpan {
	overflow: hidden;
	text-overflow: clip;
	white-space: nowrap;
	width: 265px;
	margin:2px 0px 2px 5px !important;
	border: 1px solid #767676;
	border-right:none;
	border-radius: 2px 0px 0px 2px;
	display: inline-block;
	height: 24px;
	background: white;
	float: right;
	padding:2px 4px;
}
.cusDpdown-arrow {
	position: relative;
    float: right;
    width: 25px;
    height: 28px;
    background: #fff;
    border: 1px solid #767676;
    border-left: none;
    border-radius: 0 2px 2px 0;
    margin: 2px 5px 2px 0;
}
.cusDpdown-arrow:after,
.cusDpdown-arrow:before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  width: 2px;
  height: 7px;
  right: 10px;
  background: #222;
}

.cusDpdown-arrow:before {
  right: 10px;
  transform: translateY(-50%) rotate(-45deg);
}

.cusDpdown-arrow:after {
  right: 6px;
  transform: translateY(-50%) rotate(45deg);
}
.cusIpad {
	width: 268px;
	border-color:#464646;
	height: 22px;
	padding-top:4px;
	padding-left:6px;
	border-radius: 6px 0px 0px 6px;	
	background: -webkit-linear-gradient(top, #ffffff 0%,#c9c9c9 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #ffffff 0%,#c9c9c9 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}
.cusIpad-arrow {
	border-left:0.5px solid #565656;
	border-color:#464646;
	width:19px;
    border-radius: 0 6px 6px 0;
	background: -webkit-linear-gradient(top, #9b9b9b 0%,#5b5b5b 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #9b9b9b 0%,#5b5b5b 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}
.cusIpad-arrow:after,
.cusIpad-arrow:before {
	background:transparent;
	display:none;
}
.cusIpad-arrow:after{
  	right: 7px;
	display:block;
    transform: translateY(-50%);
    border-left: 3.5px solid transparent;
    border-right: 3.5px solid transparent;
    border-top: 5.5px solid #fff;
    width: 0;
    height: 0;
}

#sketch {
	transition: transform 0.5s ease-in-out;
}

.svRoot {
	z-index:10000001 !important;
	display:flex;
	align-items:center;
	bottom: 2px !important;
	left:10px !important;
}
.svDropdown {
    margin-top: 8px;
}
select.section-select, 
select.sketch-select {
    padding: 0 4px;
    border-radius: 4px;
    margin-left: 0px;
}
.sketch-select {
    width:175px;
    max-width: 175px;
}
.section-select {
    width: 50px;
    max-width: 50px;
}
.svMA {
    float: none;
}
    .svMA .select-div{
        float: left;
        
    }

    .svMA .btnrch {
        float:right;
        padding: 4px 10px;
        font-size: 14px;
        margin: 0px 0px 0 0;
        background: -webkit-gradient(linear,0 0,0 100%,color-stop(0,#898b8e),color-stop(0.5, #262d36),color-stop(0.5, #1b1c1c),color-stop(1, #131414)) !important;
    }

.RotateInput, .zoomInput {
  -webkit-appearance: none;
  width: 100%;
  height: 18px !important;
  background-color: #d3d3d3  !important;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
  margin:0 4px;
}

.RotateInput:hover, .zoomInput:hover {
  opacity: 1;
}

.RotateInput::-webkit-slider-thumb,
.zoomInput::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  background: #1f6eaa;
  cursor: pointer;
  content:'50%';
}

.slider::-moz-range-thumb {
  width: 15px;
  height: 15px;
  background: #4CAF50;
  cursor: pointer;
}

.svZoom , 
.svRotate {
	background: #fff;
    padding: 5px;
    display: flex;
    align-items: center;
   /* transform: translateY(-58px)*/
}
.svRotate {
	margin-left: 3px;
}
.svZRSpan{
	display: inline-block;
    font-size: 12px;
    font-weight: 700;
    color: rgb(9, 42, 74);
    width: 35px;
    text-align: center;
}
.svZRControl {
    width: 18px;
    height: 18px;
    cursor: pointer;
    background-color: #fff;
    position: relative;
    border: 1px solid #aaa;
}
.svZRControl:hover {
    background-color: #d8d8d8;
}
.svZRControl::before,
.svZRControl::after {
    content: '';
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 8px;
    height: 2px;
    background-color: #000;
}
.svZoomMinus ,
.svRotateMinus {
    margin-left: 6px;
}
.svZoomPlus ,
.svRotatePlus {
    margin-right: 6px;
}
.svZoomMinus::after,
.svRotateMinus::after   {
    display: none;
}
.svZoomPlus::after ,
.svRotatePlus::after {
    width: 2px;
    height: 8px;
}

.cssSvDropdown {
    position: absolute !important;
    top: 0 !important;
    right: 55px !important;
}

.cssSvDropdown>div {
    display:flex !important;
}

.gm-style-iw-d tr {
	white-space:nowrap;
}

.invalidalerticon {
    background: url(images/warning-vect.png) 60% no-repeat;
    width: 22px;
    height: 22px;
    background-size: cover;
    margin: 8px 8px 0 0;
    padding: 1px 10px;
}

.invalidalerticonprc {
    background: url(images/warning-vect.png) 60% no-repeat;
    width: 22px;
    height: 19px;
    background-size: cover;
    margin: 0 3px 0 3px;
}

.invalidalerticon-blk {
    float: left;
    width: 25px;
    height: 20px;
    margin: 5px 0px;
}

.splash-progress-continuous {
    right: 0%;
    bottom: 0%;
    background: #CFCFCF;
    text-align: center;
    padding: 20px;
    position: fixed;
    height: 80px;
    left: 0px;
}

.sp-continuous {
    position: fixed;
    height: 30px;
    display: block;
    width: 50%;
    background-color: #0c4fd5;
    border: 1px solid #b4b4bb;
    border-radius: 15px;
    background-clip: padding-box;
    overflow: hidden;
    left: 0;
    right: 0;
    margin: auto;
    margin-top: 10px;
}
    .sp-continuous .sp-sub-continuous {
        background-color: #dde3e9;
    }

        .sp-continuous .sp-sub-continuous:before {
            content: "";
            position: absolute;
            background-color: inherit;
            top: 0;
            left: 0;
            bottom: 0;
            will-change: left, right;
            animation: continuous 2.1s cubic-bezier(0.65, 0.815, 0.735, 0.395) infinite;
        }
        .sp-continuous .sp-sub-continuous:after {
            content: "";
            position: absolute;
            background-color: inherit;
            top: 0;
            left: 0;
            bottom: 0;
            will-change: left, right;
            animation: continuous-short 2.1s cubic-bezier(0.165, 0.84, 0.44, 1) infinite;
            animation-delay: 1.15s;
        }

@keyframes continuous {
    0% {
        left: -35%;
        right: 100%;
    }

    60% {
        left: 100%;
        right: -90%;
    }

    100% {
        left: 100%;
        right: -90%;
    }
}

@keyframes continuous-short {
    0% {
        left: -200%;
        right: 100%;
    }

    60% {
        left: 107%;
        right: -8%;
    }

    100% {
        left: 107%;
        right: -8%;
    }
}

.fitPrcImg {
    object-fit: contain;
}

.nbhd-list-prty {
    font-size: 12px !important;
    overflow-y: auto;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
    max-height: 300px !important;
    width: 550px !important;
}
.nbhdtbl {
    border-collapse: collapse;
}
    .nbhdtbl thead {
        position: sticky;
        top: 0;
        background-color: #f2f2f2;
    }
        .nbhdtbl thead th, .nbhdtbl tfoot td {
            z-index: 2;
        }
   
    .nbhdtbl th, .nbhdtbl td {
        border: 1px solid #ccc;
        padding: 8px;
        text-align: center;
    }

    .nbhdtbl td {
        max-width: 150px;
        word-wrap: break-word;
    }

    .nbhdtbl tfoot {
        font-weight: bold;
        position: sticky;
        bottom: 0;
        background-color: #f2f2f2;
    }

    .nbhdtbl tr[selected="selected"] td {
        background-color: inherit !important;
    }

.productivity-table th {
    text-align: center !important;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#e1f3fd), to(#bcd8e9)) !important;
}

.productivity-table td {
    text-align: center !important;
}

.optionDiv {
    position: absolute;
    right: 10px;
    height: 40px;
    display: flex;
    background-color: rgba(0,60,136,.5);
    justify-content: space-around;
    padding: 5px;
    border-radius: 8px;
    color: #fff;
    -webkit-box-shadow: -2px 1px 20px -3px rgba(0,0,0,0.75);
    -moz-box-shadow: -2px 1px 20px -3px rgba(0,0,0,0.75);
    box-shadow: -2px 1px 20px -3px rgba(0,0,0,0.75);
    font-weight: 400;
    border: 3px solid;
    border-color: rgba(255,255,255,.5);
    font-size: 14px;
    margin-top: 8px;
    z-index: 1001;
}

    .optionDiv .noselect {
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

.optionDiv input[type=radio] {
    position: absolute;
    visibility: hidden;
    display: none;
}

.optionDiv label {
    color: white;
    display: inline-block;
    cursor: pointer;
    padding: 0 15px;
    line-height: 1.5;
    height: 100%;
}

.optionDiv label[for="option-one"] {
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
}

.optionDiv label[for="option-three"] {
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
}

.optionDiv input[type=radio]:checked + label {
    color: black;
    background: white;
}

.optionDiv label + input[type=radio] + label {
    border-left: solid 1px white;
}

    .optionDiv .radio-group {
        border: solid 1px white;
        text-align: center;
        border-radius: 4px;
        display: flex;
    }

    .optionDiv .wms-button {
        background: #f44336 !important; /* Green */
        border: none;
        color: white;
        padding: 2px 6px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 12px;
        margin-left: 8px;
        border-radius: 4px;
        height: 22px;
        cursor: pointer;
    }

.survey-picker > div {
    margin-right: 5px;
    margin-left: 5px;
    margin-bottom: 5px;
    margin-top: 8px;
}

.survey-picker select {
    display: block;
    border-radius: 5px;
}

.directionButton:focus {
    background: #555;
}

.custom-select {
    position: relative;
    display: flex;
    flex-direction: column;
    border-width: 0 2px 0 2px;
    border-style: solid;
    border-color: #394a6d;
    margin: 3px;
}

.ol-tooltip {
    position: relative;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 4px;
    color: white;
    padding: 4px 8px;
    opacity: 0.7;
    white-space: nowrap;
    font-size: 12px;
    cursor: default;
    user-select: none;
}

.ol-tooltip-measure {
    opacity: 1;
    font-weight: bold;
}

.ol-tooltip-static {
    background-color: #e6e6e6;
    color: black;
    border: 1px solid white;
}

    .ol-tooltip-measure:before,
    .ol-tooltip-static:before {
        border-top: 6px solid rgba(0, 0, 0, 0.5);
        border-right: 6px solid transparent;
        border-left: 6px solid transparent;
        content: "";
        position: absolute;
        bottom: -6px;
        margin-left: -7px;
        left: 50%;
    }

    .ol-tooltip-static:before {
        border-top-color: #ffcc33;
    }

.tooltip {
    position: relative;
    display: inline-block;
    background-image: url("/App_Static/images/info-2.png");
    width: 15px;
    height: 13px;
    z-index: 2;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    opacity: 0.5;
}

    .tooltip:hover {
        opacity: 1;
    }

.avoidclicks {
    pointer-events: none;
}

.heading-btn {
    position: absolute;
    top: 152px;
    justify-content: space-around;
    border-radius: 10%;
    z-index: 1001;
}

    .heading-btn .center {
        display: flex;
        justify-content: center;
    }

    .heading-btn button {
        margin: 10px;
    }

.lds-ripple {
    display: inline-block;
    position: absolute;
    top: 40%;
    width: 80px;
    height: 80px;
}

    .lds-ripple div {
        position: absolute;
        border: 4px solid #fff;
        opacity: 1;
        border-radius: 50%;
        animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
    }

        .lds-ripple div:nth-child(2) {
            animation-delay: -0.5s;
        }

@keyframes lds-ripple {
    0% {
        top: 36px;
        left: 36px;
        width: 0;
        height: 0;
        opacity: 1;
    }

    100% {
        top: 0px;
        left: 0px;
        width: 72px;
        height: 72px;
        opacity: 0;
    }
}

#wms-mask {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 999;
    background-color: rgba(107, 107, 107, .5);
    display: flex;
    justify-content: center;
}

#wms-maskwms {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 999;
    background-color: rgba(107, 107, 107, .5);
    display: flex;
    justify-content: center;
}

#timeline-selector {
    bottom: 90px !important;
}

/*.evembeddedexplorer-MuiMenu-paper {
    position: relative !important;
}*/

.select-image-count-span {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;
    padding-left: 14px;
}

.skpage-ddl {
    display: none;
    padding: 0px 12px !important;
    margin-right: 10px;
    position: absolute !important;
    right: 70px;
    top: 5px;
    height: 25px;
    width: 207px !important;
}