.annotate-container{
    margin: auto;
    position: absolute;
    top: 35px;
    left: 0;
    bottom: 0;
    right: 0;
}

.annotate-container > [id^=baseLayer]{
	position: absolute;
	top: 0;
	left: 0;
	z-index: 0;
	background: grey;
}

.annotate-container > [id^=drawingLayer]{
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
	background: transparent;
}
.overlay-sketchimage-box{
       margin: 0px auto;
    background-color: #000000b0;
    height: 100%;
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
}
label.btn.markup{
    width: 45px;
    height: 40px;
    float: left;
    overflow: hidden;
    background-color: #007bca;
    text-align: center;
    border-left: 1px solid #9d9d9d;
}

 label.btn.markup input[type="radio"] {
    margin-left: -55px;
}
label.btn.markup span {
    font-size: 25px;
    margin-right: 15px;
    color: white;
    float: right;
}
.btn-group button {
    float: right;
    border-radius:0;
     background:none;
    background-color:#007bca;
    border:1px solid #006baf;
    margin-left:5px;  
    margin-top: 0px;
    padding: 9px 10px;
    width: 64px;
}
.overlay-sketchimage-box input[type="radio"]:checked + span {
    color: red;
}
span.adj {
    font-size: 20px !important;
    padding-top: 3px;
}