div.colorPicker-picker {
    height: 23px;
    width: 23px;
    padding: 0 !important;
    border: 1px solid #ccc;
    background: url(../arrow.gif) no-repeat top right;
    cursor: pointer;
    line-height: 16px;
    font-size: 0.75em;
    font-weight: bold;
    text-align: center;
    position: absolute;
    top: 6px;
    left: 600px;
}

div.colorPicker-palette {
    width: 84px;
    position: absolute;
    border: 1px solid #598FEF;
    background-color: #EFEFEF;
    padding: 4px;
    z-index: 9999;
}
  div.colorPicker_hexWrap {width: 100%; float:left; display:none; }
  div.colorPicker_hexWrap label {font-size: 95%; color: #2F2F2F; margin: 5px 2px; width: 25%}
  div.colorPicker_hexWrap input {margin: 5px 2px; padding: 0; font-size: 95%; border: 1px solid #000; width: 65%; }

div.colorPicker-swatch {
    height: 17px;
    width: 17px;
    border: 1px solid #000;
    margin: 4px;
    float: left;
    cursor: pointer;
    line-height: 12px;
}
