body {
    margin: 0px;
    padding: 0px;
    font-family: Segoe UI, Arial;
    font-size: 10pt;
}

.ccse-toolbar {
    background: #FFC;
    background-image: url(images/sketch-toolbar-bg.png);
    height: 40px;
}
.del_element,.add_element
{
min-width: 20px !important;
    float: left;
    padding: 0px 0px;
    text-align: center;
    background-color: #e2e2e2;
    border-radius: 22px;
    margin-left: 2px;
    cursor: pointer;
    margin-top: 4px;
	}
.ccse-canvas {
    background: url(images/grid2.jpg) top left;
    background: url(images/g20.png) bottom left;
    border: 0px none;
    padding: 0px;
    margin: 0px;
    border: 0px none Gray;
}

.ccse-toolbutton, .ccse-toolbutton2 {
    height: 40px;
    width: 40px;
    display: inline-block;
    background: url(images/sketch-tools-sprite.png);
    vertical-align: text-top;
    cursor:pointer;
}

.ccse-disto {
      background: url(images/disto1.png);
        width: 100px;
}
.ccse-screen-lock {
    background: url(images/Lock_unlock.png);
    background-size: 212%;
    height: 24px !important;
    margin-top: 6px;
    width: 24px;
    margin-right: 10px;
}
.ccse-toolbar button {
    height: 30px;
    margin: 3px;
    padding: 0px 5px;
}

div.ccse-mode {
    display: inline-block;
    color: White;
    display: none;
}

div.ccse-custom-buttons {
    display: inline-block;
    color: White;
}

div.ccse-mode-visible {
    display: inline-block !important;
    color: White;
    font-weight: bold;
}

    div.ccse-mode-visible .ccse-save {
        margin-right: 15px;
        background: #00CC00 !important;
    }

    div.ccse-mode-visible .ccse-close {
        background: #696969 !important;
    }

div.ccse-mode input, div.ccse-custom-buttons input {
    width: 50px;
    height: 24px;
    border-radius: 6px;
    border: 1px solid Gray;
    text-align: center;
}

.ccse-other-tools {
    height: 40px;
    display: inline-block;
    vertical-align: text-top;
    padding: 7px;
    color: White;
}

.ccse-tool-active {
    background-position-y: bottom;
}

.ccse-tool-inactive {
    background-position-y: top;
}

.ccse-zoom {
    background-position-x: -40px;
}

.ccse-pan {
    background-position-x: 0px;
}

.ccse-angle-lock {
    background-position-x: -118px;
}

.ccse-undo {
    -background-position-x: -80px;
}

.pan-control {
    width: 150px;
    height: 150px;
    position: absolute;
    margin: 10px;
    background: url(images/pan-buttons.png);
    background-position: left top;
}

.pan-normal {
    background-position: left top;
}

.pan-reset {
    background-position: right top;
}

.pan-left {
    background-position: left center;
}

.pan-right {
    background-position: right center;
}

.pan-up {
    background-position: left bottom;
}

.pan-down {
    background-position: right bottom;
}

.zoom-control {
    height: 25px;
    position: absolute;
    margin: 10px;
    background-color: #454545;
    border-radius: 20px;
    padding: 20px;
    top: 68px;
}

input[type='range'] {
    -webkit-appearance: slider;
    background-color: Blue;
    width: 300px;
    height: 30px;
}

.zoom-button {
    display: inline-block;
    height: 25px;
    width: 25px;
    color: White;
    border: 1px solid White;
    vertical-align: text-top;
    font-weight: bold;
    text-align: center;
    font-size: 14pt;
    line-height: 16pt;
}

    .zoom-button:hover {
        background-color: #999;
    }

.zoom-range {
    display: inline-block;
    height: 25px;
    width: 300px;
    border: 1px solid White;
    vertical-align: text-top;
    background-image: url(images/white.png);
    background-size: 38% 100%;
    background-repeat: no-repeat;
    cursor: pointer;
}

.ccse-rotate-sketch {
    width: 37px;
    display: inline-block;
	background: url(images/rotate.png) no-repeat center;
   	background-size: 20px;
   	background-color:#fff;
	vertical-align: middle;
	margin-top: 1px !important;
    height: 31px !important;
}

.sketch-pad {
    background: black;
    position: absolute;
    top: 0px;
    left: 0px;
    display: inline-block;
    border-radius: 8px;
    width: 286px;
}

    .sketch-pad .movable-title-bar {
        color: White;
        font-weight: bold;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
        padding: 10px 8px;
        background: -webkit-gradient(linear,0 0,0 100%,color-stop(0,#999),color-stop(0.5, #666),color-stop(0.5, #555),color-stop(1, #444));
    }

    .sketch-pad .hide-sketch-pad {
        display: inline-block;
        border: 1px solid White;
        float: right;
        width: 24px;
        height: 24px;
        border-radius: 8px;
        margin-top: -4px;
        background: -webkit-gradient(linear,0 0,0 100%,color-stop(0,#1d1c1c),color-stop(0.5, #1d1c1c),color-stop(0.5, #1d1c1c),color-stop(1, #1d1c1c));
    }

    .sketch-pad .sketch-pad-key-pad {
        padding: 5px;
    }

    .sketch-pad table {
        border-spacing: 0px;
    }

        .sketch-pad table tr td {
            padding: 2px;
        }

    .sketch-pad .sketch-pad-btn {
        color: White;
        font-weight: bold;
        display: inline-block;
        width: 32px;
        height: 32px;
        padding: 8px;
        background: Gray;
        margin: 0px;
        border-radius: 4px;
        border: 1px solid #ADADAD;
        background: -webkit-gradient(linear,0 0,0 100%,color-stop(0,#97adc8),color-stop(0.5, #6b8bb2),color-stop(0.5, #597eaa),color-stop(1, #5b80ab));
        font-size: 16pt;
        font-family: Optima-Regular;
    }

    .sketch-pad .sketch-pad-ddl {
        font-size: 16pt;
        width: 100px;
        padding: 6px;
    }

    .sketch-pad .sketch-pad-btn span {
        color: White;
        font-weight: bold;
        display: inline-block;
        width: 32px;
        height: 32px;
        background-repeat: no-repeat;
        background-position: center center;
    }


    .sketch-pad .sp-add span {
        background-image: url(sketchpad/sp-add.png);
    }

    .sketch-pad .sp-up span {
        background-image: url(sketchpad/sp-up.png);
    }

    .sketch-pad .sp-down span {
        background-image: url(sketchpad/sp-down.png);
    }

    .sketch-pad .sp-left span {
        background-image: url(sketchpad/sp-left.png);
    }

    .sketch-pad .sp-right span {
        background-image: url(sketchpad/sp-right.png);
    }

    .sketch-pad .sp-angle span {
        background-image: url(sketchpad/sp-angle.png);
    }

    .sketch-pad .sketch-pad-btn-wide {
        width: 84px;
        text-align: center;
    }

        .sketch-pad .sketch-pad-btn-wide span {
            width: auto;
            height: auto;
            margin-top: 6px;
        }

    .sketch-pad .sp-text-box {
        display: inline-block;
        background: White;
        width: 84px;
        height: 26px;
        padding: 6px;
        border-radius: 4px;
        border: 4px inset #999;
        text-align: center;
        font-size: 18pt;
        font-weight: bold;
        background: #CCC;
    }

        .sketch-pad .sp-text-box[selected] {
            border: 4px inset #fff;
            background: #FFF;
        }

.Current_vector_details span { 
    min-width:100px;
    float: left;
    word-break: break-all;
}

.Current_vector_details button {
    width: 80px;
    margin: 5px 4px;
    height: 33px;
}

.Current_vector_details {
    z-index: 100;
    position: absolute;
    float: left;
    top: 25%;
  	left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    border: 1px solid gray;
}

    .Current_vector_details .head {
        text-align: center;
        font-weight: bold;
        font-size: 18px;
        color: gray;
        background-color: #dfdddd;
        float: none;
        margin-bottom: 10px;
    }

    .Current_vector_details select, .Current_vector_details input {
        width: 270px;
        height: 28px;
        float: left;
        margin-left: 10px;
    }

    .Current_vector_details div {
        padding: 5px 11px;
        font-size: 14px;
        float: left;
    }
    
    .dynamic_prop input, .dynamic_prop select {
    	font-size: 11pt;
    	padding-left: 3px;
	}
	
    .trackedpopup_details span
    {	min-width:100px;
    	float: left;
    
    }
    
    .trackedpopup_details
    {	z-index: 100;
    	position: absolute;
    	float: left;
   	 	top: 25%;
  		left: 0;
    	right: 0;
   		margin-left: auto;
    	margin-right: auto;
    	background-color: white;
    	border: 1px solid gray;
    	max-width : 500px;
    	height: 200px;
    
    }
     .trackedpopup_details .head
     {
     	text-align: center;
        font-weight: bold;
        font-size: 18px;
        color: gray;
        background-color: #dfdddd;
        float: none;
        margin-bottom: 10px;
     }
     
     .trackedpopup_details select, .trackedpopup_details input
     {
     	width: 270px;
        height: 28px;
        float: left;
        margin-left: 10px;
     
     }
     

.validationFailMsg {
    text-align: center;
    width: 100% !important;
    font-size: 12px;
    color: red;
}

.lookupSearchInSkecth {
    width: 24px !important;
    float: right !important;
    margin-left: 3px;
    height: 24px;
    background: url(images/Search_Icon.png);
    background-size: 100%;
        min-width: 24px !important;
}
.divvectors select {
    width: 100px;
}
.divvectors table tr td {
    height: 10px;
}
.divvectors span {
    height: 36px;
    font-size: 13px;
    width: 170px;
    padding: 2px 4px;
    display: inline-flex;
    align-items: center;
}
.divvectors .assoc_area
{
     justify-content: center;
     min-width: 50px;
     
}
.divvectors
{
    max-height: 300px;
    overflow: scroll;
    /*-webkit-overflow-scrolling: touch;*/
}
.ccse-option-list{
      position: absolute;
    right: 13px;
    background: white;
    top: 40px;
    width: 150px;
}
.ccse-option-list a{
    background: linear-gradient(to bottom, rgb(87, 87, 87) 5%, rgb(47, 47, 47) 100%) !important;
    padding: 9px 21px;
    color: white;
    cursor: pointer;
    float: left;
    width: 120px;
}
.ccse-options {
    position: relative;
    background-position-x: 37px;
    height: 39px;
    margin-right: 6px;
    margin-left: 6px;
    float: right;
    width: 33px;
}


.ccse-undo-segment {
	width: 35px;
    display: inline-block;
	background: url(images/undo.png) no-repeat center;
   	background-size: 20px;
   	background-color:#fff;
	vertical-align: middle;
	margin-top: 1px !important;
    height: 31px !important;
}


.fvSwitch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 25px;
  float: right;
  margin-top: 7px;
  margin-right:14px
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #c7c7c7;
  -webkit-transition: .3s;
  transition: .3s;
  border-radius: 4px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 17px;
  width: 18px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .3s;
  transition: .3s;
  border-radius: 20%;
}

input:checked + .slider {
  background-color: #6b8bb2;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(15px);
  -ms-transform: translateX(15px);
  transform: translateX(15px);
}

.hide-sketch-pad span {
    color: White;
    font-weight: bold;
    display: inline-block;
    width: 24px;
    height: 24px;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(sketchpad/sp-del.png);
}

.ccse-dcc-photo {
    background: url(images/ic_camera.svg) no-repeat;
    width: 40px;
    margin-top: 1px;
}

.markedArea .sqft {
	width: 100px;
	height: 22px;
}

.markedArea .fixedarea label {
	width: 50px !important;
}

.capBody {
    max-height: 400px;
    overflow-y: auto;
}

.capBody fieldset {
    border: none;
    background: none;
    padding: 3px;
    display: flex;
    align-items: center;
    margin: 6px 0px 0px 0px;
}

.capBody .reqd, .capBody .legend {
    min-width: 0px;
}

.capBody fieldset[readonlyfieldset= "1"] .newvalue {
    display: block !important;
}

.capBody fieldset[hiddenfieldset= "1"] {
    display: none !important;
}

.capBody .newvalue {
    margin-left: auto !important;
}

.capBody fieldset input[type="text"], .capBody fieldset input[type="number"], .capBody fieldset input[type="date"] {
    width: 287px !important;
    height: 31px;
}

.capBody input:disabled {
    border-color: #d0d0d0;
    background-color: #f7f7f7 !important;
}

.vsshimmer {
    color: grey;
    -webkit-mask: linear-gradient(-60deg,#000 30%,#0005,#000 70%) right/300% 100%;
    background-repeat: no-repeat;
    animation: vsshimmer 1s infinite;
}

@keyframes vsshimmer {
    100% {
        -webkit-mask-position: left
    }
}

.manual-entry-container {
    position: absolute;
    background-color: #fff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding: 20px;
    transition: transform 0.3s ease;
    top: 90px;
    right: 15px;
    min-width: 200px;
    max-width: 450px;
    overflow-y: hidden;
    overflow-x: hidden;
    max-height: 300px;
    border: 0.5px solid #959090;
}

.manual-popup-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    margin-left: 20px;
}

.manual-popup-title {
    font-size: 18px;
}

.manual-popup-button {
    cursor: pointer;
    border: none;
    background: none;
    font-size: 16px;
}

.manual-entry-popup-content {
    font-size: 14px;
}

.manual-hide-button {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: #f0f0f0;
    border-radius: 50%;
    padding: 5px;
    cursor: pointer;
}

.ccse-add-page {
    font-size: 14px;
    font-weight: bolder;
    color: #0a950ade;
    cursor: pointer;
    margin-right: 2x;
    margin-left: 2px;
    display: inline-block;
    text-align: center;
    height: 23px;
    width: 25px;
    background-color: #f0f7ea;
    border: 1px solid #0a950ade;
}

.ccse-delete-page {
    font-size: 14px;
    font-weight: bolder;
    color: red;
    cursor: pointer;
    display: inline-block;
    text-align: center;
    height: 23px;
    width: 25px;
    background-color: #f0f7ea;
    border: 1px solid red;
}

.grayed-out {
    opacity: 0.5;
    pointer-events: none;
}

.customNote {
    display: none;
    position: absolute;
    z-index: 100;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}


    .customNote .note-content {
        background-color: #fefefe;
        margin: 15% auto;
        padding: 2px;
        border: 1px solid #888;
        min-height: 230px;
        max-height: 400px;
        width: 500px;
        overflow-y: auto;
    }

    .customNote .note-header {
        padding: 5px;
        text-align: center;
        font-weight: bold;
        font-size: 18px;
        color: white;
        margin-bottom: 10px;
        height: 30px;
        background-color: #8f8e8e;
    }

    .customNote .custom-note-options {
        padding: 10px;
        margin-bottom: 15px;
        margin-left: 10px;
    }

    .customNote .SectNum {
        height: 25px;
        margin-left: 20px;
        width: 263px !important;
    }

    .customNote .note-textarea {
        width: 460px;
        margin-left: 20px;
        height: 75px;
        resize: none;
        border-radius: 5px;
        padding: 4px;
    }

    .customNote .note-button-container {
        text-align: right;
        margin-top: 20px;
    }

    .customNote .note-button {
        padding: 10px 20px;
        margin: 0 10px;
        cursor: pointer;
        width: 75px;
        height: 40px;
    }
