﻿@import url(http://fonts.googleapis.com/css?family=Francois+One);
@import url(http://fonts.googleapis.com/css?family=Oswald:400,700,300);


body
{
	margin: 0px;
	padding: 0px;
	font-family: Segoe UI, Arial, Helvetica, sans-serif;
	background-color: Gray;
	font-size: 10pt;
	color: #333;
}

.main-content-area h1, 
.main-content-area h2, 
.main-content-area h3, 
.main-content-area h4, 
.main-content-area h5
{
	font-family: 'Oswald' , sans-serif;
	font-weight:400;
}

.min-width
{
	min-width:1000px;
}

.pipe
{
	margin-left:25px;
	margin-right:25px;
	color:LightGray;
}

ul.menu
{
	margin: 0px;
	padding: 0px;
	list-style: none;
	font-weight: bold;
}

ul.menu li
{
	display: inline-block;
}

ul.menu li a
{
	padding: 0px 20px;
}

/* Top Navigation */
#topNavBar
{
	height: 25px;
	padding: 6px 30px 0px 15px;
	text-align: right;
}

#topNavBar a
{
	text-decoration:none;
	color:#fff;
}

#topNavBar a:hover
{
	text-decoration:underline;
	color:#ff0;
}

/* Content Layout */

#contentTable
{
	width: 100%;
	border-spacing: 0px;
	min-height: 500px;
	background:White;
}

/* Left Column */
.left-panel
{
	width: 318px;
}

.logo-area
{
	width: 100%;
	height: 110px;
}
.left-content-area .logo
{
	height: 100px;
	width: 265px;
	margin:0px auto;
}

.left-content-area .lucas-logo
{
	height: 100px;
	width: auto;
	margin:0px auto;
	
}

.panel-spacer
{
	width: 11px;
}

.left-content-area
{
	min-height:400px;
}

.left-content-area .group-menu
{
    height:auto;
	border:1px solid #89c4f1;
	margin:0px;
	padding:0px;
	margin-bottom:20px;
}



.left-content-area a
{
	color:White;
	font-weight:bold;
	text-decoration:none;
	cursor:pointer;
}

.left-content-area a:hover
{
	text-decoration:underline;
}


.panel-spacer
{
	background-image: url('images/middle-margin-repeat.png');
	background-repeat: repeat-y;
}

.main-content-area
{
	min-height: 400px;
}


.main-content-area h1
{
	margin:5px 0px 20px 0px;
	padding:0px;
	color: #065a9f;
	border-bottom:1px solid #cccccc;
}

/* Footer */

#footer
{
	height: 20px;
	padding-top:6px;
	padding-left:8px;
	font-size:0.9em;
	font-weight:bolder;
}


/*
	Common Types
*/

.link-panel
{
	margin:0px;
}

.link-panel a
{
	font-weight:bold;
	text-decoration:none;
	padding:5px 15px;
	margin:5px;
	margin-left:0px;
	margin-right:15px;
	background:#CFCFCF;
	border-radius:8px;
	display:inline-block;
	cursor:pointer;
}
.link-panel a:hover
{
	background:#065a9f;
	color:#FFF;
}


/*
	FORMS
*/

.asp-form
{
	padding:20px;
	padding-left:0px;
}

.asp-form label
{
	clear:left;
	display:block;
	float:left;
	margin-top:5px;
}

.asp-form .input-element
{
	float:left;
}

.asp-form select.input-element
{
	
}

.asp-form .buttons
{
	clear:both;
	padding:10px;
}

.asp-form .buttons input
{
	padding:3px 10px;
	margin:3px 5px;
}

.f200
{
}

.f200 label
{
	width:200px;
}

.f200 .input-element
{
	float:left;
}

.f200 select.input-element
{
	width:206px;
}

.l150 label
{
	width:150px;
}

.l180 label
{
	width:180px;
}

.l200 label
{
	width:200px;
}

.l220 label
{
	width:220px;
}

.l250 label
{
	width:250px;
}

.popup-win
{
	display:none;
}

.validation-error
{
	color:Red;
	font-weight:bold;
}

input[type="submit"]
{
	padding:2px 15px;
}

p.info
{
	width:700px;
	border-left:8px solid #CFCFCF;
	padding-left:10px;
	line-height:15pt;
	padding-top:5px;
	padding-bottom:5px;
}

p.buttonpara
{
	padding:10px 0px;
	border-top:4px solid #CFCFCF;
	margin-bottom:50px;
}

p.buttonpara input
{
	padding:8px 30px;
}

p.buttonpara-top
{
	padding:10px 0px;
	border-bottom:4px solid #CFCFCF;
	border-top:0px none;
	margin-bottom:15px;
}

.v-split
{
	width:4px;
}
