﻿.fl
{
	float:left;
}

.fr
{
	float:right;
}

.clear
{
	clear:both;
}

.ca:after
{
	content:" ";
	display:block;
	clear:both;
	height:0px;
}

.p10
{
	padding:10px;
}

.p15
{
	padding:15px;
}

.m10
{
	margin:10px;
}

.c
{
	text-align:center;
}

.c_i
{
	text-align:center !important;
}

table
{
}

td
{
	vertical-align:top;
}

a
{
	color: #167ccf;
}


a:hover
{
	color: #2690e5;
	
}

select
{
	color:#333;
}

select.none-selected
{
	color:#BBB;
}

select.none-selected option
{
	color:#777;
}

::-webkit-scrollbar
{
	width:12px;
	height:12px;
}

::-webkit-scrollbar-button
{
	background:#;
	height:8px;
	background:#ABABAB;
}

::-webkit-scrollbar-track-piece
{
	background:#DDDDEE;
}

::-webkit-scrollbar-thumb
{
	background:#999999;
}