﻿/* File Created: February 26, 2013 */
fieldset
{
    border: 1px solid #BBBBBB;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    padding: 5px 10px 10px 12px;
    margin-bottom: 5px;

}

fieldset legend
{
    font-weight: bold;
}
.boxed
{
    display: -webkit-box;
    display: -moz-box;
    display: box;
    box-orient: horizonal;
    -webkit-box-orient: horizonal;
    -moz-box-orient: horizonal;
}
.extend-panel
{
    box-flex: 1;
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
}