﻿html {
    background: #000000;
}

body {
    background: White;
    margin: 5px;
    border-radius: 5px;
    border: 1px solid #999;
    font-family: Segoe UI, Arial MT, Arial;
    font-size: 10pt;
}

header {
    height: 70px;
    background: #CFCFCF;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background: -webkit-linear-gradient(bottom, #CFCFCF, #EFEFEF);
}

.sv-logo {
    height: 70px;
    width: 400px;
    background: url(app/cc-sv.png) left center no-repeat;
    float: left;
}

.cusa-logo {
    height: 70px;
    width: 200px;
    background: url(app/cusa-logo.png) right center no-repeat;
    float: right;
}

menu {
    clear: both;
    height: 35px;
    background: -webkit-linear-gradient(top, #888c91 0%, #363e46 49%, #2b323b 50%, #444a53);
    -background: -webkit-linear-gradient(top, #bbb 0%, #aaa 49%, #A0A0A0 50%, #777);
    background: url(app/menu-bg.png) repeat-x;
    margin: 0px;
    padding: 0px;
}

    menu table {
        height: 100%;
        border-spacing: 0px;
    }

        menu table td {
            text-align: left;
            vertical-align: middle;
            color: White;
            padding-left: 10px;
            padding-right: 30px;
        }

            menu table td a {
                font-size: 10pt;
                text-shadow: 1px 1px #999;
                padding-left: 23px;
                background-position: left center;
                background-repeat: no-repeat;
                color: White;
                text-decoration: none;
                cursor: pointer;
            }

a.menu-search {
    background-image: url(icons18/search.gif);
}

a.menu-history {
    background-image: url(icons18/history.png);
}

a.menu-reports {
    background-image: url(icons18/reports.png);
}

a.menu-logout {
    background-image: url(icons18/close.gif);
}

a.menu-admin {
    background-image: url(icons18/admin.gif);
}

a.menu-help {
    background-image: url(icons18/help.png);
}

.wrapper {
}

footer {
    height: 50px;
    background: #BFBFBF;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background: -webkit-linear-gradient(top, #CFCFCF, #EFEFEF);
}

.dcs-footer {
    height: 50px;
    float: left;
}

    .dcs-footer a.logo {
        width: 50px;
        height: 50px;
        display: inline-block;
        background: url(app/dcs-logo.png) center center no-repeat;
    }

.cusa-footer {
    height: 50px;
    float: right;
}

    .cusa-footer a.logo {
    }

footer .copyright {
    display: inline-block;
    vertical-align: top;
    padding-top: 10px;
    padding-left: 4px;
    color: #666;
    font-family: Trebuchet MS;
    font-size: 0.9em;
}

    footer .copyright a {
        color: #666;
    }

.search-panel {
    background: #bfdbff;
    border-bottom: 1px solid #8db2e3;
    padding: 1px 5px;
}

    .search-panel table {
        border-spacing: 0px;
    }

    .search-panel td {
    }

        .search-panel td.last-item {
        }

    .search-panel input[type="text"] {
        width: 120px;
    }


    .search-panel td span {
        margin-right: 5px;
    }

    .search-panel select {
        width: 126px;
    }

    .search-panel input[type="text"], .search-panel select {
        margin-right: 25px;
        border: 1px solid #8db2e3;
    }

    .search-panel td.last-item > * {
        margin-right: 5px;
    }


    .search-panel .search-buttons {
        text-align: center;
        padding-bottom: 0px;
    }

        .search-panel .search-buttons button {
            padding: 2px 20px;
        }

.map-table {
    border-spacing: 0px;
    width: 100%;
}

    .map-table td {
        vertical-align: top;
        padding: 0px;
    }

.parcelframe {
    width: 440px;
}

.dataframe {
    --width:470px;
}

.sketchframe {
    width: 400px;
}





td.divider {
    width: 2px;
    border-left: 1px solid #BBB;
    border-right: 1px solid #BBB;
    background: -webkit-linear-gradient(top, #dbe6f3, #d2dff0 10px, #c7d8ed 11px, #d6e6f4);
}

.sketch-tools {
    background: -webkit-linear-gradient(top, #dbe6f3, #d2dff0 10px, #c7d8ed 11px, #d6e6f4);
}

    .sketch-tools table tr td {
        vertical-align: middle;
    }

    .sketch-tools .sketch-tool-value {
        display: inline-block;
        width: 80px;
        font-size: smaller;
        font-weight: bold;
        padding-left: 8px;
    }

    .sketch-tools input {
        width: 280px;
        vertical-align: top;
    }

.parcel-header-data {
    padding: 0px;
    background: #b5ddff;
}

    .parcel-header-data .street-address {
        font-size: 1.2em;
        font-weight: bold;
    }

    .parcel-header-data table {
        width: 100%;
    }

        .parcel-header-data table tr td {
            font-size: 0.9em;
        }

.title-line {
    font-weight: bold;
    border-top: 1px solid #CFCFCF;
    border-bottom: 1px solid #CFCFCF;
    background: -webkit-linear-gradient(bottom, #d1cbae, #e3e1ce);
    background: #bfdbff;
    border-bottom: 1px solid #8db2e3;
    padding: 3px 3px;
}

.page-title {
    font-size: 20pt;
    padding: 4px 10px;
}

.sketchload-div {
    padding: 3px 5px;
    background-color: #c0e2ff;
    float: left;
    border: 1px solid #d2c7c7;
    width: 93%;
    margin: 1%;
    color: black;
}

    .sketchload-div select {
        margin: 0px 10px;
        font-size: 12px;
    }

.toolbar button {
    /*font-family: Webdings;*/
    padding: 2px 6px;
}

.toolbar {
    background: -webkit-linear-gradient(top, #dbe6f3, #d2dff0 10px, #c7d8ed 11px, #d6e6f4);
}

.review-form {
    padding: 15px;
}

    .review-form table tr td:first-child {
        width: 150px;
    }

    .review-form table tr td {
        vertical-align: middle;
        height: 25px;
    }

.review-save {
    text-align: right;
}

    .review-save button {
        padding: 4px 20px;
        font-weight: bold;
        margin-left: 0px;
        margin-right: 0px;
    }

.historypage {
    padding: 0px 0px;
}

.date-header {
    font-family: Trebuchet MS;
    font-weight: bold;
    font-size: 14pt;
    margin: 8px 0px;
}

.historypage .h-item {
    margin-bottom: 5px;
}

.historypage .h-time {
    display: inline-block;
    width: 70px;
}

.historypage .h-user {
    display: inline-block;
    width: 180px;
}

.historypage .h-parcel {
    display: inline-block;
    width: 220px;
}

.historypage .h-kv1 {
    display: inline-block;
    min-width: 110px;
}


.historypage .h-desc {
    font-style: italic;
    word-break: break-all;
}

.sv-qc-check {
    padding: 10px 5px;
    border: 1px solid #CFCFCF;
    background: #E5E5E5;
}

    .sv-qc-check label {
        margin-left: 10px;
    }

.otherflags {
    /*overflow: auto;
    height: 50px;*/
    border-bottom: 1px solid #CFCFCF;
}


.data-view-switch a {
    font-size: smaller;
}
