﻿#divSearchCntnr {
	float: left;
    display: flex;
    flex-direction: column;
    width: 330px;
    height: 100%;
    border-right: 1px solid #3a5e8c;
}

#divSearchTop {
	float: left;
    background: #ddf2ff;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
}

#divSearchCntnr h2 {
	font-size: 14px;
	font-family: calibri;
	font-weight: bold;
	margin:0;
	color: #003f65;
	padding-right: 13px;
}

#divRghtCntnr h2 {
	font-size: 14px;
	font-family: calibri;
	font-weight: bold;
	color: #003f65;
	float: left;
	margin: 0px;
}
.filterCont {
	padding-top: 6px;
}
.showSidePanel {
    background: url(/App_Static/css/images/search.png);
    background-size: 82%;
    background-repeat: no-repeat;
    cursor: pointer;
    display:none;
    float: left;
    width: 33px;
    height: 29px;
    z-index: 5000;
    top: 50%;
    bottom : 50%;
    left:2px;
    position : absolute;
    margin-left: -1px;
    border: 1px solid #dddddd;
    background-position-x: 4px;
    background-position-y: 1px;
    background-color: rgba(224, 224, 219, 0.88);
}
.showSidePanel:hover {
 background-color: rgba(232, 232, 150, 0.88);
 }
.hideSidePanel {
background: url(/App_Static/css/images/close.png);
    background-size: 107%;
    background-repeat: no-repeat;
    cursor: pointer;
    float: right;
    width: 24px;
    height: 23px;
 }
.eachDivL1{
width: 49%;
float: left;
padding-top: 0px;
}
.eachDivL2{
width: 49%;
float: left;
}
.eachDivR{
width: 49%;
float: right;
}
.srchtxt{
width: 90%;
}
.srchSlct{
width: 92%;
}
#divSearchBtm{
	display: flex;
    flex-direction: column;
    float: left;
    width: 100%;
    flex: 1;
    min-height: 0;
    background-color: #e5f3ff;
}
.btnrch{
color: white;
border: none;
cursor: pointer;
width: 63px;
height: 20px;
background: linear-gradient(#065a9f,#019ade)
}
.divbtn{
float: left;
width: 89%;
padding-left: 14%;
margin-top: 3%;
}

.divSquare{
float: left;
width: 15px;
height: 15px;
margin: 5px;

}
.PrclId{
font-size: 15px;
font-family: calibri;
font-weight: bold;
color: #035880;
margin-top: 2px;
float: left;
cursor: pointer;
overflow:hidden;
}
.tablesrch{
border-collapse: collapse;
width: 98%;
margin-left: 1%;
float:left;
margin-top: 1%;
}
.tablesrch tbody tr:nth-child(even){
background-color: #cee3ff;
}
.tablesrch tbody tr td{
border-right: 1px solid white;
}
.tablesrch thead tr{
background-color: #3e7ba0;
color: white;
height: 26px;
font-size: 14px;
border: 1px solid #67a2bd;
}
.btnNrml {
color: white;
border: none;
cursor: pointer;
background: linear-gradient(#88c2f1,#326b84);
}
#divtab{
float: left;
height: 100%;
width: 99%;
overflow-y: auto;
overflow-x: hidden;
border-bottom: 1px dotted #b5aeae;
}
.PrclAdr{
margin-top: 3px;
float: left;
font-weight: 500;
overflow: hidden;
width: 155px;
cursor: pointer;
}
.hdspn{margin-top: 1px;
float: left;
text-decoration: underline;
cursor : Pointer
}

.SpnFootEach
{    float: left;
margin-top: 4px;
color: white;
}
#divRghtCntnr{
display:none;
float: right;
width: 320px;
height: 99.95%;
border-left: 1px solid #3a5e8c;
background: linear-gradient(#e5f3ff,#96b7d4,#e5f3ff);
position:absolute;
right:0px;
}
#divRhtHead{
float: left;
height: 30px;
width: 100%;
}
.LblRghthd{
float: left;
width: 100%;
text-align: center;
font-weight: bold;
text-decoration: underline;
color: #803434;
margin-top: 3%;
}
#divRighCntnts{
float: left;
width: 96%;
padding: 5px;
margin-top: 3%;
}

#TabRght
{
border-collapse: collapse;
width: 100%;
border:1px solid #9c9c9c
}
#TabRght td
{
border: 1px solid #cacaca;
padding: 2px;
}
#TabRght tr
{
height: 22px;
}
.TabLeftTd
{
width:43%;
background-color: #ebfff7;
}
.TabRghtTd
{
width:60%;
background-color: White;
}
#rblStatus label:before {
content: " ";
display: inline-block;
width: 12px;
height: 12px;
margin-right: 8px;
border: 1px solid #333;
}
#divRightButtons{
float: left;
margin-left: 13%;
margin-top: 2%;
}
.TdNodata{  text-align: center;
color: #481100;
background-color: #d6d6d6;
}
.otherflags {
margin-top: 2%;
/*height: 65px;*/
}
.buttonAslink {
background:none!important;
color:white;
border:none; 
/*padding:0!important;*/
font: inherit;
cursor: pointer;
font-weight: bold;
padding: 4px;
}
#divNewWndvBtns{
float: left;
    margin-left:14%;
    color: #2678b9;
    font-weight: bold;
    width: 90%;
    position: absolute;
    bottom: 3px;
}

#TabSearchContents tbody tr:hover {
background-color: rgb(139, 226, 239);
}
.TrnsbackClose{
float: right;
margin-top: -55px;
margin-right: 5px;
background-color: #bfbfbf;
border: 1px solid #820101;
opacity: .5;
width: 26px;
cursor:pointer;
}
#divNavigate{
	padding-left: 19px;
    position: relative;
    bottom: 7px;
}
.btnnav{
    width: 88px;
    height: 24px;
}
.btnextraMap {
	width: 180px;
	height: 24px;
	position: relative;
	margin: 4px 0px 0px 67px;
}
#divExtraMap {
	color: #2678b9;
    font-weight: bold;
    width: 90%;
    margin-top: 1%;
    bottom: 9%;
}

#rblStatus input[type="radio"] {
	margin-left: 3px;
}
#rblQc {
	margin-top: 5%;
	margin-left: -1px;
}

#rblQc label {
	margin-left: 18px;
}

.switch {
	position: relative;
	display: block;
	vertical-align: top;
	width: 55px;
	height: 22px;
	padding: 3px;
	margin: 0 10px 10px 0;
	background: linear-gradient(to bottom, #eeeeee, #FFFFFF 25px);
	background-image: -webkit-linear-gradient(top, #eeeeee, #FFFFFF 25px);
	border-radius: 18px;
	box-shadow: inset 0 -1px white, inset 0 1px 1px rgba(0, 0, 0, 0.05);
	cursor: pointer;
	box-sizing:content-box;
}
.switch-input {
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
	box-sizing:content-box;
}
.switch-label {
	position: relative;
	display: block;
	height: inherit;
	font-size: 10px;
	text-transform: uppercase;
	background: #eceeef;
	border-radius: inherit;
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.12), inset 0 0 2px rgba(0, 0, 0, 0.15);
	box-sizing:content-box;
}
.switch-label:before, .switch-label:after {
	position: absolute;
	top: 50%;
	margin-top: -.5em;
	line-height: 1;
	-webkit-transition: inherit;
	-moz-transition: inherit;
	-o-transition: inherit;
	transition: inherit;
	box-sizing:content-box;
}
.switch-label:before {
	content: attr(data-off);
	right: 11px;
	color: #000000;
	text-shadow: 0 1px rgba(255, 255, 255, 0.5);
}
.switch-label:after {
	content: attr(data-on);
	left: 7px;
	color: #FFFFFF;
	text-shadow: 0 1px rgba(0, 0, 0, 0.2);
	opacity: 0;
}
.switch-input:checked ~ .switch-label {
	background: #E1B42B;
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.15), inset 0 0 3px rgba(0, 0, 0, 0.2);
}
.switch-input:checked ~ .switch-label:before {
	opacity: 0;
}
.switch-input:checked ~ .switch-label:after {
	opacity: 1;
}
.switch-handle {
	position: absolute;
	top: 4px;
	left: 4px;
	width: 20px;
	height: 20px;
	background: linear-gradient(to bottom, #FFFFFF 40%, #f0f0f0);
	background-image: -webkit-linear-gradient(top, #FFFFFF 40%, #f0f0f0);
	border-radius: 100%;
	box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
}
.switch-handle:before {
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -6px 0 0 -6px;
	width: 12px;
	height: 12px;
	background: linear-gradient(to bottom, #eeeeee, #FFFFFF);
	background-image: -webkit-linear-gradient(top, #eeeeee, #FFFFFF);
	border-radius: 6px;
	box-shadow: inset 0 1px rgba(0, 0, 0, 0.02);
}
.switch-input:checked ~ .switch-handle {
	left: 35px;
	box-shadow: -1px 1px 5px rgba(0, 0, 0, 0.2);
}
 
.switch-label, .switch-handle {
	transition: All 0.2s ease;
	-webkit-transition: All 0.2s ease;
	-moz-transition: All 0.2s ease;
	-o-transition: All 0.2s ease;
}

#divSearchTop1 {
    /* padding: 10px; */
    float: left;
    width: 100%;
    max-height: 100px;
    overflow: auto;
    background: #ddf2ff;
    /* border-bottom: 1px dotted #3a5e8c; */
    padding-top: 2px;
}
#hideSidePanel1 {
    background: url(/App_Static/css/images/close.png);
    background-size: 107%;
    background-repeat: no-repeat;
    cursor: pointer;
    float: right;
    padding-left: 0px;
    width: 24px;
    height: 23px;
    margin-right: 26px;
    margin-top: -5px;
}

#section1 {
    padding: 10px;
    float: left;
    background: #ddf2ff;
    border-bottom: 1px dotted #3a5e8c;
    padding-top: 2px;
}

.addclrfltr{
    width: 100%;
    background: #ddf2ff;
    padding-bottom: 10px;
}

.addfilter{
	text-decoration: underline;
	cursor: pointer;
	padding-right: 10px;
	margin-right: 22%; 
	padding-left: 10px;
}

.clearfilter{
	text-decoration: underline;
    cursor: pointer;
    margin-left: 10px;
}

#section2{
	padding: 2px 10px 10px;
    float: left;
    background: rgb(221, 242, 255);
    display: block;
    width: 94%
}

.filterdiv{
	margin-top: 2px;
	margin-bottom:10px;
	width:100%;
}
.filtercntnt{
	float:left;
	padding-left:10px;
}
.fltrinpsrch1{
	margin-left:10px;
	width: 70%;
}
.fltrselinp1{
	margin-left:10px;
	width: 70%;
}

.deletefltr,.addfltr{
	cursor:pointer;
	font-size: 28px;
	line-height: 0px;
	margin-left: 4px;
	padding-left: 4px;
	padding-top: -16px;
	padding-right: 4px;
	
}
.parcel-info {
	float: left;
	margin-right: 0%;
	bottom: 4px;
	display: none;
	padding-top: 10px;
	padding-bottom: 10px;
}

.search-container {
	text-align: center;
	margin-top: 20px;
}

.pagination-controls {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 10px;
}

.pagination-button {
	cursor: pointer;
	padding: 6px 10px;
	background-color: #3498db;
	color: #fff;
	border: 1px solid #3498db;
	border-radius: 5px;
	margin-right: 10px;
}

.page-selector,
.records-per-page-selector {
	padding: 6px;
	margin-right: 8px;
}

.page-size-label {
	margin-right: 5px;
	font-weight: bold;
}

.grayed-out {
	opacity: 0.5;
	pointer-events: none;
}
.svBulksavebtn {
	height: 20px;
	background: url(../flex/bulk-edit.png) left center no-repeat;
	padding-left: 20px;
	color: Black;
	text-decoration: none;
	cursor: pointer;
	display: inline-block;
	float: right;
	margin-left: 5px;
}
