﻿/* Modal div styles start */
.modalDiv 
{  
    position:absolute;  
    z-index:10000;  
    background-color:#6577AC;
    filter:alpha(opacity=35);
	opacity:0.35;
    display:none;  
    width:100%;
    height:100%;
    top:0px; 
    left:0px;   
}
/* Modal div styles end */


/* Panel styles start */
.popup
{
    font-family: arial,helvetica,clean,sans-serif;
    font-size: small;
    padding: 2px 3px;
    display: block;
    position: absolute;
    z-index:1;
}

.container
{
    border: solid 1px #3D6DA1;
    border-width: 1px 0px;
} 

.header
{
    background: url(images/sprite.png) repeat-x 0px -1700px;	
    color: #000;	
    border-color: #3D6DA1 #3D6DA1 #ccc;
    border-style: solid;
    border-width: 0px 1px 1px;
    padding: 3px 10px;
    text-align:left;
} 

.popup .header .msg
{
    font-weight: bold; 
}         

.popup .body
{
    background-color: #F5FBFD;
    border-color: #3D6DA1;
    border-style: solid;
    border-width: 0px 1px;
    padding: 10px;
} 

.popup .body .msg
{
    font-family: arial,helvetica,clean,sans-serif;
    font-size:small;
    
    background: url(images/sprite.png) no-repeat 0px -1150px;	
    float: left;
    padding-left: 22px;
   /* */
}  
.popup .footer
{
    background: url(images/sprite.png) repeat-x 0px -1700px;
    border-color: #ccc #3D6DA1 #3D6DA1 #3D6DA1;
    border-style: solid;
    border-width: 1px 1px 0px 1px;
    text-align: right;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-right: 8px;
} 

.popup .close
{
    right: 7px;	
    background: url(images/sprite.png) no-repeat 0px -300px;	
    width: 25px;	
    cursor: pointer;	
    position: absolute;	
    top: 7px;	
    height: 15px;
}

.button_popup
{
    cursor: pointer; 
    border-width:1px; 
    background-color:#E3ECF2;
    border-color:#3D6DA1; 
}

/* Panel styles end */