.iPhoneCheckContainer
{
	-webkit-transform: translate3d(0,0,0);
	position: relative;
	height: 18px;
	cursor: pointer;
	overflow: hidden;
}
.iPhoneCheckContainer input
{
	position: absolute;
	top: 5px;
	left: 30px;
	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
	opacity: 0;
}
.iPhoneCheckContainer label
{
	white-space: nowrap;
	font-size: 12px;
	line-height: 15px;
	font-weight: bold;
	font-family: "Helvetica Neue" , Arial, Helvetica, sans-serif;
	cursor: pointer;
	display: block;
	height: 18px;
	position: absolute;
	width: auto;
	top: 0;
	padding-top: 1px;
	overflow: hidden;
}
.iPhoneCheckContainer, .iPhoneCheckContainer label
{
	user-select: none;
	-moz-user-select: none;
	-khtml-user-select: none;
}

.iPhoneCheckDisabled
{
	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
	opacity: 0.5;
}

label.iPhoneCheckLabelOn
{
	color: white;
	background: url('iphone/on.png?1284697168') no-repeat;
	text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.6);
	left: 0;
	padding-top: 1px;
}
label.iPhoneCheckLabelOn span
{
	padding-left: 8px;
}
label.iPhoneCheckLabelOff
{
	color: #333;
	background: url('iphone/off.png?1284697168') no-repeat right 0;
	text-shadow: 0px 0px 2px rgba(255, 255, 255, 0.6);
	text-align: right;
	right: 0;
}
label.iPhoneCheckLabelOff span
{
	padding-right: 8px;
}

.iPhoneCheckHandle
{
	display: block;
	height: 18px;
	cursor: pointer;
	position: absolute;
	top: 0;
	left: 0;
	width: 0;
	background: url('iphone/slider_left.png?1284697168') no-repeat;
	padding-left: 3px;
}

.iPhoneCheckHandleRight
{
	height: 100%;
	width: 100%;
	padding-right: 3px;
	background: url('iphone/slider_right.png?1284697168') no-repeat right 0;
}

.iPhoneCheckHandleCenter
{
	height: 100%;
	width: 100%;
	background: url('iphone/slider_center.png?1284697168');
}

.info
{
	background:InfoBackground;
	border:1px solid #ead284;
	padding:2px;
	margin:5px 0px;
}