﻿.report-container
{
	width: 100%;
	border-spacing: 0px;
	/*height: 500px; */
}

.report-container .report-container-cell
{
	vertical-align: top;
}


.report-selection-frame
{
	width: 250px;
	background: -webkit-linear-gradient(top, #dbe6f3, #d2dff0 150px, #c7d8ed 11px, #d6e6f4);
}

.report-selection
{
	padding: 7px;
	margin: 8px;
	border:1px solid #CFCFCF;
	border-radius:6px;
}

.report-item
{
    width: 120px;
    height: 140px;
    margin: 6px;
    float:left;
    border: 1px solid #EFEFEF;
    display:block;
    cursor:pointer;
}

.report-item:hover
{
    border: 1px solid #CFCFCF;
}

.report-item .icon
{
    width: 70px;
    height: 64px;
    margin:25px;
    margin-bottom:7px;
    background-image: url(reports/report-64.png);
    background-position:center center;
    background-repeat:no-repeat;
    display:block;
}

.report-item .text
{
    display:block;
    text-align:center;
    font-size:9pt;
    margin:5px 0px;
}
