﻿<%@ Master Language="VB" MasterPageFile="~/App_MasterPages/CAMASV.master" AutoEventWireup="false" Inherits="CAMACloud.SVO.App_MasterPages_SVAdmin" CodeBehind="SVAdmin.master.vb" %>

<asp:Content ID="Content1" ContentPlaceHolderID="Styles" runat="Server">
    <link rel="Stylesheet" href="/App_Static/css/admin.css" type="text/css" />
    <link rel="Stylesheet" href="/App_Static/css/grid.css" type="text/css" />
    <asp:ContentPlaceHolder runat="server" ID="Styles">
    </asp:ContentPlaceHolder>
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="Scripts" runat="Server">
    <asp:ContentPlaceHolder runat="server" ID="Scripts">
    </asp:ContentPlaceHolder>
</asp:Content>
<asp:Content ID="Content3" ContentPlaceHolderID="head" runat="Server">
    <script type="text/javascript">
        function adminPageFunctions() {
        }

        function setPageLayout(w, h) {
            $('.admin-frame').height(h - $('.page-title').height());
            $('.screen').height(h);
            $('.contentpage').height(h - $('.page-title').height());
            $('.contentpage').css({ 'overflow-y': 'auto' });
        }

        function setPageFunctions() {
            adminPageFunctions();
        }
    </script>
    <asp:ContentPlaceHolder runat="server" ID="head">
    </asp:ContentPlaceHolder>
</asp:Content>
<asp:Content ID="Content4" ContentPlaceHolderID="MainContent" runat="Server">
    <section class="screen" id="reports">
        <div class="title-line page-title">
            Sketch Validation - Administration
        </div>
        <table class="admin-container">
            <tr>
                <td class="admin-container-cell admin-action-frame">
                    <div class="admin-action">
                        <ul class="sidemenu">
                            <li>
                                <a href="/svadmin/users.aspx">Manage Users</a>
                            </li>
                            <li>
                                <a href="/svadmin/flags.aspx">Status Flags - Color Codes</a>
                            </li>
                            <li>
                                <a href="/svadmin/customflags.aspx">Custom Review Flags</a>
                            </li>
                        </ul>
                        <asp:ContentPlaceHolder runat="server" ID="LeftPanel">
                        </asp:ContentPlaceHolder>
                    </div>
                </td>
                <td class="admin-container-cell">
                    <div class="admin-frame">
                        <div style="padding: 10px 15px;">
                            <asp:ContentPlaceHolder runat="server" ID="MainContent">
                            </asp:ContentPlaceHolder>
                        </div>
                    </div>
                </td>
            </tr>
        </table>
    </section>
</asp:Content>
