﻿<%@ Master Language="VB" AutoEventWireup="false" CodeBehind="CAMACloud3.master.vb" Inherits="CAMACloud.Console.CAMACloud3" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
    <asp:ContentPlaceHolder ID="head" runat="server">
    </asp:ContentPlaceHolder>
</head>
<body>
    <form id="form1" runat="server">
    <div>
        <asp:ContentPlaceHolder ID="MC" runat="server">
        
        </asp:ContentPlaceHolder>
    </div>
    </form>
</body>
</html>
