﻿<%@ Control Language="VB" %>
<div class="fy_selector" style="position: absolute;
    right: 100px;
    z-index: 9;
    text-shadow: none !important;
    top: 6px;">
    <div class='onoffswitch fy-drag' style="width: 53px;">
                                <input type='checkbox' class='onoffswitch-checkbox fylcheckbox'  >
                                <label class='onoffswitch-label big' >
                                    <span class='onoffswitch-inner big'></span>
                                    <span class='onoffswitch-switch big'></span>
                                </label>
                            </div></div>
