﻿<%@ Page Title="" Language="VB" MasterPageFile="~/App_MasterPages/SecurityPage.master" AutoEventWireup="false" Inherits="CAMACloud.Console.auth_acceptinvitation" Codebehind="acceptinvitation.aspx.vb" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" Runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="MainContent" Runat="Server">
</asp:Content>
<asp:Content ID="Content3" ContentPlaceHolderID="Footer" Runat="Server">
</asp:Content>

