﻿<%@ Page Title="" Language="vb" AutoEventWireup="false" MasterPageFile="~/App_MasterPages/DataSetup.master" CodeBehind="systemlookup.aspx.vb" Inherits="CAMACloud.Console.systemlookup" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="MainContent" runat="server">
    <h1>Manage System Lookup Tables</h1>
    <p class="info">Customize data in CAMA Cloud lookup tables like Appraisal Methods and Field Alert Types.</p>
    <div>
        
    </div>
</asp:Content>
