﻿<%@ Control Language="VB" AutoEventWireup="false" CodeFile="ModuleNavigation.ascx.vb"
	Inherits="App_Controls_app_ModuleNavigation" %>
<asp:BulletedList runat="server" DisplayMode="HyperLink" ID="menu" CssClass="menu">
</asp:BulletedList>
