﻿<%@ Control Language="VB" AutoEventWireup="false" CodeFile="WebFooter.ascx.vb" Inherits="App_Controls_app_WebFooter" %>
Copyright - <asp:HyperLink runat="server" ID="hlVendor" Target="_blank" ForeColor="White" /> - <asp:Label runat="server" ID="lblVendorInfo" />