﻿.fl
{
	float:left;
}

.fr
{
	float:right;
}

.clear
{
	clear:both;
}

.ca:after
{
	content:" ";
	display:block;
	clear:both;
	height:0px;
}

.p10
{
	padding:10px;
}

.p15
{
	padding:15px;
}

.m10
{
	margin:10px;
}

.c
{
	text-align:center;
}

.c_i
{
	text-align:center !important;
}