﻿html
{
	background: #000000;
}

body
{
	background: White;
	margin: 3px;
	border-radius: 5px;
	border: 1px solid #999;
	font-family: Arial MT, Arial;
	font-size: 10pt;
}

header
{
	height: 70px;
	background: #CFCFCF;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	background: -webkit-linear-gradient(bottom, #CFCFCF, #EFEFEF);
}

.sv-logo
{
	height: 70px;
	width: 400px;
	background: url(app/sv-logo.png) left center no-repeat;
	float: left;
}

.cusa-logo
{
	height: 70px;
	width: 200px;
	background: url(app/cusa-logo.png) right center no-repeat;
	float: right;
}

menu
{
	clear: both;
	height: 45px;
	background: -webkit-linear-gradient(top, #888c91 0%, #363e46 49%, #2b323b 50%, #444a53);
	-background: -webkit-linear-gradient(top, #bbb 0%, #aaa 49%, #A0A0A0 50%, #777);
	margin: 0px;
	padding: 0px;
}

menu table
{
	width:90%;
	height:100%;
	border-spacing:0px;
	margin:0px auto;
}

menu table td
{
	text-align:center;
	vertical-align:middle;
	color:White;
	width:25%;
}

menu table td a
{
	font-size:12pt;
	text-shadow:1px 1px #999;
	padding-left:23px;
	background-position:left center;
	background-repeat:no-repeat;
	color:White;
	text-decoration:none;
}

a.menu-search
{
	background-image:url(icons18/search.gif);
}

a.menu-history
{
	background-image:url(icons18/history.png);
}

a.menu-reports
{
	background-image:url(icons18/reports.png);
}

a.menu-logout
{
	background-image:url(icons18/close.gif);
}
.wrapper
{
}

footer
{
	height: 50px;
	background: #DFDFDF;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	background: -webkit-linear-gradient(top, #CFCFCF, #EFEFEF);
}

.dcs-footer
{
	height: 50px;
	float: left;
}

.dcs-footer a.logo
{
	width: 50px;
	height: 50px;
	display: inline-block;
	background: url(app/dcs-logo.png) center center no-repeat;
}

.cusa-footer
{
	height: 50px;
	float: right;
}

.cusa-footer a.logo
{
}

footer .copyright
{
	display: inline-block;
	vertical-align: top;
	padding-top:10px;
	padding-left:4px;
	color:#999;
}

footer .copyright a
{
	color:#999;
}

.search-panel
{
	background: -webkit-linear-gradient(top, #DFDFDF, #EFEFEF);
	padding:10px;
	border-bottom:1px solid #CCC;
}

.search-panel table
{
	
}

.search-panel td
{
}

.search-panel input[type="text"]
{
	width:180px;
	padding:6px;
}


.search-panel td span
{
	font-size:12pt;
	margin-right:20px;
}

.search-panel select
{
	width:194px;
}

.search-panel input[type="text"], .search-panel select
{
	font-size:14pt;
	margin-right:20px;
}

.search-panel .search-buttons
{
	padding:10px;
	text-align:center;
	padding-bottom:0px;
}

button
{
	padding:7px 20px;
	
	border:1px solid rgb(99,99,99); 
	border:1px solid rgba(99,99,99,0.9); 
	border-radius:5px; 
	-webkit-border-radius:5px; 
	-moz-border-radius:5px;
	
	box-shadow:inset 1px 1px 1px rgba(99,99,99,0.4);
	-webkit-box-shadow:inset 1px 1px 1px rgba(99,99,99,0.4);
	-moz-box-shadow:inset 1px 1px 1px rgba(99,99,99,0.4);

	background:#597eaa;
	background:-webkit-gradient(
		linear, 
		0 0, 
		0 100%, 
		color-stop(0,#97adc8), 
		color-stop(0.5, #6b8bb2), 
		color-stop(0.5, #597eaa), 
		color-stop(1, #5b80ab)
	);
	background:-moz-linear-gradient(
		#97adc8 0%,
		#6b8bb2 50%,
		#597eaa 50%,
		#5b80ab 100%
	);
	
	color:#fff;
	font:bold 12px/20px Helvetica Neue, Arial, sans-serif; 
	text-decoration:none;
	text-shadow:0px -1px 1px rgba(0,0,0,0.75);
	font-size:12pt;
}

button:hover
{
	background:-webkit-gradient(
		linear, 
		0 0, 
		0 100%, 
		color-stop(0,#97adc8), 
		color-stop(0.5, #6b8bb2), 
		color-stop(0.5, #6a8fbb), 
		color-stop(1, #BAD3E4)
	);    
}

#search-map
{
	background:#AAA;
}

#jqt
{
    position: relative;
}

#jqt > *
{
    position: relative;
    background: White;
}