﻿.measurement-tool
{
    background:White;
    border:1px solid Gray;
    border-radius:15px;
    padding:7px;
    margin-top:20px;
    -webkit-user-select: none;
}

.measurement-tool .button
{
    width:32px;
    height:32px;
    cursor:pointer;
    display:inline-block;
    vertical-align:middle;
}

.measure-on
{
 
}

.measure-off
{
    width:auto;
}

.measure-on .button
{
    background:url(map/ruler-on.png);
}

.measure-off .button
{
    background:url(map/ruler-off.png);
}

.measure-on .distance
{
    display:inline-block;
    width:100px;
    vertical-align:middle;
    font-size:16pt;
    font-weight:bold;
    padding-left:15px;
}

.measure-off .distance
{
    display:none;
}