﻿<%@ Master Language="VB" Inherits="CAMACloud.Admin.App_MasterPages_SecurityPage" Codebehind="SecurityPage.master.vb" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
	<title></title>
	<script type="text/javascript" src="/App_Static/jslib/jquery.js"></script>
	<script type="text/javascript" src="/App_Static/jslib/jquery.watermark.min.js"></script>
	<asp:ContentPlaceHolder ID="head" runat="server">
	</asp:ContentPlaceHolder>
	<script type="text/javascript">
		$(function () {
			$('.text').each(function () {
				$(this).watermark($(this).attr('watermark'), 'watermark');
			});
		});
	</script>
</head>
<body>
	<form id="form1" runat="server">
	<div class="login-box">
		<div class="login-header">
		</div>
		<div class="login-content">
			<asp:ContentPlaceHolder ID="MainContent" runat="server">
			</asp:ContentPlaceHolder>
		</div>
		<div class="login-footer">
		</div>
	</div>
	<div class="page-footer">
		<asp:ContentPlaceHolder ID="Footer" runat="server">
		</asp:ContentPlaceHolder>
	</div>
	</form>
</body>
</html>
