﻿html
{
    
    background-color: #0988ca;
    background-image: url(images/cloud_bg.jpg);
    background-position: center center;
    background-attachment:fixed;
    position:absolute;
    position:fixed;
    top:0%;
    bottom:0%;
    left:0%;
    right:0%;
    width:100%;
    height:100%;
    overflow:auto;
}

body
{
	margin:0px;
	padding:0px;
	text-align:center;
	font-family:Arial;
	font-size:10pt;
	line-height:14pt;
}

sup
{
	font-size:6pt;
}

.login-box
{
	margin:80px auto;
	margin-bottom:0px;
	width:499px;
	text-align:left;
}

.login-header
{
	height:118px;
	background: url(/App_Static/css/app/sv-logo.png) center center no-repeat;
}

.login-header-container
{
	height:118px;
	background: url(images/login-header-blank.png);
}

.login-sv-logo
{
	background: url(/App_Static/css/app/cc-sv.png) center center no-repeat;
	height:100px;
}

.login-content
{
	background: url(images/login-bg.png) ;
	padding:1px 30px;
}

.login-footer
{
	height:20px;
	background: url(images/login-foot.png);
}

.login-content p
{
	color:White;
	text-align:justify;
}

.login-button
{
	height:38px;
	display:inline-block;
	cursor:pointer;
	color: Black;
}

.login-button:hover
{
	color:#66a3d9;
}

.login-button span
{
	font-size:12px;
	font-weight:bold;
	display:inline-block;
	padding:10px 15px;
	background: url(images/button-mid.png);
	height:18px;
	vertical-align:top;
	
}

.login-button:before
{
	width:30px;
	height:38px;
	background:url(images/button-left.png);
	display:inline-block;
	content:" ";
	margin-left:8px;
}

.login-button:after
{
	width:30px;
	height:38px;
	background:url(images/button-right.png);
	display:inline-block;
	content:" ";
	margin-right:8px;
}

.login-inputs
{
	text-align:center;
	margin:15px auto;
}

.input-box
{
	margin:8px auto;
	display:inline-block;
	background-color:#98bfe1;
	border-radius:5px;
	padding:6px;
}

.text
{
	width:295px;
	margin:0px;
	padding:4px 5px;
	border:1px solid #67a4da;
	background:#efefef;
	font-family:Trebuchet MS, Arial;
	font-size:11pt;
}

.text:active
{
	background:White !important;
}

.watermark
{
	color: #AFAFAF;
}

.error
{
	color:Red !important;
	font-weight:bold;
	text-align:center !important;
	background:#f8c9c9;
	padding:6px;
	margin:0px 40px;
	border-radius:8px;
	border:1px solid White;
}

.page-footer
{
	color:White;
	margin-top:20px;
	font-size:smaller;
}