﻿<%@ Page Language="VB" AutoEventWireup="false" CodeFile="default.aspx.vb" Inherits="_default" %>

<%@ Register Assembly="Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" Namespace="Microsoft.Reporting.WebForms"
    TagPrefix="rsweb" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>Report Test Page</title>
    <style type="text/css">
        body
        {
            margin:0px;
        }
    </style>
</head>
<body>
    <form id="form1" runat="server">
    <asp:ScriptManager runat="server" />
    <div style="z-index: 1; left: 278px; top: 102px; position: absolute; height: 804px; width: 1033px">
        <rsweb:ReportViewer ID="ReportViewer1" runat="server" Width="500px" 
            Height="900px" 
            
            style="z-index: 1; left: -6px; top: 12px; position: absolute; height: 778px; width: 955px">
        </rsweb:ReportViewer>
    </div>
    <asp:Button ID="Button1" runat="server" 
        style="z-index: 1; left: 474px; top: -3px; position: absolute; margin-top: 53px" 
        Text="Button" />
    </form>
    <p>
&nbsp;</p>
</body>
</html>
